In [1]:
import pandas as pd 
import os
infile='/Users/irffanalahi/Research/Research_update/GENE/Someresults/Bcell_toxicity/downstream/melanoma_bg_BS_all_matrix_intesectedwith_Bcell_toxicity_promoter_singleValue.txt_Bcell_toxicity_promoter_singleValue.txt_prepared/IL10.txt'


na_Cutoff=0.8

indf=pd.read_csv(infile,sep='\t',index_col=['chrom','start','end'])

indf.head()

                           Y-3674-cfDNA  Y-3707-cfDNA  \
chrom start     end
chr1  206772578 206772580           NaN           NaN
      206772653 206772655           NaN           NaN
      206772788 206772790         0.333           NaN
      206772818 206772820           NaN           NaN
      206772820 206772822           NaN           NaN

                           y4-YUPARK_18_3832-cfDNA  tot-YUPRAF_19-3925-cfDNA  \
chrom start     end
chr1  206772578 206772580                      NaN                     0.165
      206772653 206772655                      NaN                     0.250
      206772788 206772790                      NaN                     0.201
      206772818 206772820                      NaN                     0.182
      206772820 206772822                      NaN                     0.113

                           tot-YUTHEA_20-4000-cfDNA  y4-YUEVRY_19_3935-cfDNA  \
chrom start     end
chr1  206772578 206772580                     0.180                      NaN
      206772653 206772655                     0.141                    0.000
      206772788 206772790                     0.151                    0.250
      206772818 206772820                     0.096                    0.333
      206772820 206772822                     0.165                    0.333

                           Y-3814-cfDNA  Y-3879-cfDNA  Y-3880-cfDNA  \
chrom start     end
chr1  206772578 206772580           0.5         0.670           0.0
      206772653 206772655           NaN         0.333           0.5
      206772788 206772790           NaN           NaN           NaN
      206772818 206772820           NaN           NaN           NaN
      206772820 206772822           NaN           NaN           NaN

                           tot-YUTAUR_19-3926-cfDNA  Y-3688-cfDNA  \
chrom start     end
chr1  206772578 206772580                     0.307         0.000
      206772653 206772655                     0.247         0.330
      206772788 206772790                     0.402         0.667
      206772818 206772820                     0.579         0.667
      206772820 206772822                     0.314         0.667

                           Y-3703-cfDNA  Y-3715-cfDNA  Y-3920-cfDNA  \
chrom start     end
chr1  206772578 206772580           NaN           0.0           NaN
      206772653 206772655           0.0           NaN           NaN
      206772788 206772790           0.0           NaN           NaN
      206772818 206772820           NaN           NaN           NaN
      206772820 206772822           NaN           NaN           NaN

                           Y-3918-cfDNA
chrom start     end
chr1  206772578 206772580           NaN
      206772653 206772655           NaN
      206772788 206772790           NaN
      206772818 206772820           NaN
      206772820 206772822           NaN

In [2]:
indf.shape

(9, 15)

In [3]:
nathreshhold_count=indf.shape[0]*na_Cutoff
nathreshhold_count

7.2

In [4]:
lessNAdf=indf.dropna( axis=1, thresh=nathreshhold_count)
lessNAdf.head()

                           tot-YUPRAF_19-3925-cfDNA  tot-YUTHEA_20-4000-cfDNA  \
chrom start     end
chr1  206772578 206772580                     0.165                     0.180
      206772653 206772655                     0.250                     0.141
      206772788 206772790                     0.201                     0.151
      206772818 206772820                     0.182                     0.096
      206772820 206772822                     0.113                     0.165

                           tot-YUTAUR_19-3926-cfDNA  Y-3688-cfDNA
chrom start     end
chr1  206772578 206772580                     0.307         0.000
      206772653 206772655                     0.247         0.330
      206772788 206772790                     0.402         0.667
      206772818 206772820                     0.579         0.667
      206772820 206772822                     0.314         0.667

In [5]:
lessNAdf.shape

(9, 4)

In [6]:
gene=os.path.splitext(os.path.basename(infile))[0]

samplavg=lessNAdf.mean(axis=0)
samplmedian=lessNAdf.median(axis=0)
samplavgdf=pd.DataFrame({'Mixture':samplavg.index, gene+"_mean":samplavg.values})
samplmediandf=pd.DataFrame({'Mixture':samplmedian.index, gene+"_median":samplmedian.values})

samplmediandf.to_csv(self.outname+"_median.txt",sep="\t",index=False)
samplavgdf.to_csv(self.outname+"_median.txt",sep="\t",index=False)

tot-YUPRAF_19-3925-cfDNA    0.201
tot-YUTHEA_20-4000-cfDNA    0.180
tot-YUTAUR_19-3926-cfDNA    0.402
Y-3688-cfDNA                0.667
dtype: float64