In [1]:
import pandas as pd
import sys
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/rankspace_idea/debug/justowngroupbased/Tregs_CpGdelta_info_faster.txt_5000_forheatunderlyingdata_ranked.txt'
outfile=infile+"_SM.txt"
indf=pd.read_csv(infile,sep='\t')
ct='Tregs'
indf.head()

,chrom,start,end,Average delta rank,Minimum delta rank,Tregs-NK,Tregs-Naive CD4 T,Tregs-Naive CD8 T,Tregs-CD4 TCM,Tregs-CD8 TCM,Tregs-CD8 TEMRA,Tregs-CD4 TEM,Tregs-CD8 TEM,Minimum delta,Maximum delta,Average delta,(Minimum delta+Average delta)/2,(Minimum delta rank+Average delta rank)/2
0,chr11,33516441,33516443,0,0,0.966667,0.980667,1.000000,0.9500,1.0000,1.0000,1.000,1.0000,0.9500,1.0000,0.987167,0.968583,0.0
1,chr16,78311789,78311791,2,3,0.956000,1.000000,0.977667,0.9350,0.9420,0.8135,0.952,0.8705,0.8135,1.0000,0.930833,0.872167,2.5
2,chr2,235763066,235763068,3,4,0.944500,0.871333,0.926000,0.9200,0.9645,0.9165,0.800,1.0000,0.8000,1.0000,0.917854,0.858927,3.5
3,chr18,3898035,3898037,6,1,0.924000,0.907000,0.882000,0.8815,0.8335,0.9065,0.894,0.8890,0.8335,0.9240,0.889688,0.861594,3.5
4,chrX,49260634,49260636,7,2,0.890667,0.866333,0.930000,0.8230,0.9305,0.8995,0.833,0.9095,0.8230,0.9305,0.885312,0.854156,4.5

In [2]:
outdf=(indf[['chrom','start','Average delta']]).copy()
outdf['Average delta']=-1*outdf['Average delta']

#### make it function####
if ct=='Naive CD4 T':
    ct='NaiveCD4'

outdf.rename(columns={'Average delta':ct+'-others'},inplace=True)
outdf.head()

   chrom      start  Tregs-others
0  chr11   33516441     -0.987167
1  chr16   78311789     -0.930833
2   chr2  235763066     -0.917854
3  chr18    3898035     -0.889688
4   chrX   49260634     -0.885312

In [3]:
total_compartments=['chrom','start','NaiveCD4-others','NaiveCD8-others','nB-others','NK-others','PC-others','Mono-others','M0-others','M1-others','M2-others','iDC-others','mDC-others','PMN-others','cm8-others','em8-others','Eo-others','Tregs-others','em4-others','ed8-others','Mg-others','cm4-others','Er-others','mB-others']

finalcompartmentshouldbe=len(total_compartments)
total_compartments_set=set(total_compartments)

In [4]:
indfcolumns=set(outdf.columns.tolist())

In [5]:
missingcols=total_compartments_set-indfcolumns
missingcolslist=list(missingcols)
missingcolslist

['iDC-others',
 'Er-others',
 'PC-others',
 'Eo-others',
 'M0-others',
 'cm8-others',
 'ed8-others',
 'em8-others',
 'PMN-others',
 'Mg-others',
 'NaiveCD4-others',
 'Mono-others',
 'cm4-others',
 'nB-others',
 'M2-others',
 'NK-others',
 'em4-others',
 'M1-others',
 'NaiveCD8-others',
 'mB-others',
 'mDC-others']

In [6]:
for micol in missingcolslist:
    outdf[micol]=0.9

In [7]:
if outdf.shape[1]!=finalcompartmentshouldbe:
    print(infile)
    print("error. Exiting")
    sys.exit(1)

In [8]:
outdf=outdf[total_compartments]
outdf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,cm8-others,em8-others,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others
0,chr11,33516441,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.987167,0.9,0.9,0.9,0.9,0.9,0.9
1,chr16,78311789,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.930833,0.9,0.9,0.9,0.9,0.9,0.9
2,chr2,235763066,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.917854,0.9,0.9,0.9,0.9,0.9,0.9
3,chr18,3898035,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.889688,0.9,0.9,0.9,0.9,0.9,0.9
4,chrX,49260634,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.885312,0.9,0.9,0.9,0.9,0.9,0.9

In [9]:
outdf.to_csv(outfile,sep="\t",index=False)