In [1]:
import pandas as pd
import sys
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/rankspace_idea/debug/Tregs_CpGdelta_info_faster.txt_3000_forheatunderlyingdata_ranked.txt'
outfile=infile+"_SM.txt"
indf=pd.read_csv(infile,sep='\t')
ct='Tregs'
indf.head()

,chrom,start,end,Average delta rank,Minimum delta rank,Tregs-Bcell,Tregs-Myloid,Tregs-NK,Tregs-Naive CD4 T,Tregs-Naive CD8 T,...,Tregs-CD4 TCM,Tregs-CD8 TCM,Tregs-CD8 TEMRA,Tregs-CD4 TEM,Tregs-CD8 TEM,Minimum delta,Maximum delta,Average delta,(Minimum delta+Average delta)/2,(Minimum delta rank+Average delta rank)/2
0,chrX,49260634,49260636,1,0,0.827625,0.900875,0.890667,0.866333,0.930000,...,0.8230,0.9305,0.8995,0.8330,0.9095,0.823000,0.9305,0.883485,0.853242,0.5
1,chr5,180312122,180312124,2,3,0.755500,0.896818,0.844500,0.901333,0.786333,...,0.9750,0.9220,1.0000,0.8975,0.7910,0.755500,1.0000,0.880059,0.817780,2.5
2,chr18,3898035,3898037,3,2,0.759000,0.896643,0.924000,0.907000,0.882000,...,0.8815,0.8335,0.9065,0.8940,0.8890,0.759000,0.9240,0.879013,0.819006,2.5
3,chr2,235763066,235763068,0,6,0.740714,0.822571,0.944500,0.871333,0.926000,...,0.9200,0.9645,0.9165,0.8000,1.0000,0.740714,1.0000,0.890920,0.815817,3.0
4,chrX,49260621,49260623,7,1,0.823250,0.903937,0.906000,0.827000,0.882333,...,0.7725,0.8580,0.8605,0.8020,0.8690,0.772500,0.9060,0.852724,0.812612,4.0

In [2]:
outdf=(indf[['chrom','start','Average delta']]).copy()
outdf['Average delta']=-1*outdf['Average delta']
outdf.rename(columns={'Average delta':ct+'-others'},inplace=True)
outdf.head()

   chrom      start  Tregs-others
0   chrX   49260634     -0.883485
1   chr5  180312122     -0.880059
2  chr18    3898035     -0.879013
3   chr2  235763066     -0.890920
4   chrX   49260621     -0.852724

In [3]:
total_compartments=['chrom','start','NaiveCD4-others','NaiveCD8-others','nB-others','NK-others','PC-others','Mono-others','M0-others','M1-others','M2-others','iDC-others','mDC-others','PMN-others','cm8-others','em8-others','Eo-others','Tregs-others','em4-others','ed8-others','Mg-others','cm4-others','Er-others','mB-others']

finalcompartmentshouldbe=len(total_compartments)
total_compartments_set=set(total_compartments)

In [4]:
indfcolumns=set(outdf.columns.tolist())

In [5]:
missingcols=total_compartments_set-indfcolumns
missingcolslist=list(missingcols)
missingcolslist

['em8-others',
 'cm8-others',
 'NK-others',
 'M2-others',
 'mDC-others',
 'ed8-others',
 'Er-others',
 'Mg-others',
 'em4-others',
 'iDC-others',
 'cm4-others',
 'M0-others',
 'Eo-others',
 'mB-others',
 'Mono-others',
 'PMN-others',
 'NaiveCD4-others',
 'nB-others',
 'M1-others',
 'PC-others',
 'NaiveCD8-others']

In [6]:
for micol in missingcolslist:
    outdf[micol]=0.9

In [7]:
if outdf.shape[1]!=finalcompartmentshouldbe:
    print(infile)
    print("error. Exiting")
    sys.exit(1)

In [8]:
outdf=outdf[total_compartments]
outdf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,cm8-others,em8-others,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others
0,chrX,49260634,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.883485,0.9,0.9,0.9,0.9,0.9,0.9
1,chr5,180312122,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.880059,0.9,0.9,0.9,0.9,0.9,0.9
2,chr18,3898035,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.879013,0.9,0.9,0.9,0.9,0.9,0.9
3,chr2,235763066,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.890920,0.9,0.9,0.9,0.9,0.9,0.9
4,chrX,49260621,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.852724,0.9,0.9,0.9,0.9,0.9,0.9

In [9]:
outdf.to_csv(outfile,sep="\t",index=False)