In [1]:
import pandas as pd
from itertools import chain

In [2]:
cin="blumhb50SM.txt"
mhb="/Users/irffanalahi/Research/Research_code/MONOD2/UseTheirMHB/mond2_mhb_hg38_sorted_merged.bed"
outname=cin+"_mhb"
cindf=pd.read_csv(cin,index_col=0,sep="\t")
mhbdf=pd.read_csv(mhb,sep="\t",header=None)
mhbdf=mhbdf.rename(columns={0: "chr",1:"start",2:"end" })

In [3]:
cindf.head()

                       CD14      CD19       CD4       CD8      CD56
NAME
chr6:13761191    101.000000  5.833333  2.750000  3.933333  2.666667
chr17:77100327    89.933333  4.233333  2.633333  2.866667  4.733333
chr16:12344913    79.400000  1.733333  3.850000  4.933333  4.166667
chr8:27391187     99.900000  4.700000  1.933333  3.133333  4.333333
chr10:127918798  101.000000  6.033333  2.950000  3.200000  6.166667

In [4]:
def c2mhb(clist,mdf,oname,cdf):
    allmhb=[]
    
    for c in clist:
        strlist=c.split(":")
        current_chr=strlist[0]
        current_end=int(strlist[1])+1
        
        
        corresmhb=(mdf.loc[(mdf['chr'] == current_chr) & (mdf["end"] ==current_end)]).values.tolist()
      
        if len(corresmhb)!=1:
            print("errrrrrrrooorrrr: not unique mhb")
        corresmhb=list(chain.from_iterable(corresmhb))
        
        temp=[["chrom",corresmhb[0]],["start",corresmhb[1]],["end",corresmhb[2]]]
        index, value = zip(*temp)
        tempS = pd.Series(value, index=index)
        
       
        tempS=tempS.append(cdf.loc[c])
        
        
        allmhb.append(tempS)
        
    outdf=pd.DataFrame(allmhb)
    if outdf.shape[0]!=len(clist):
        print("error:length mismatch")
    outdf.to_csv(oname,sep="\t",index=False)

In [5]:
cinlist=cindf.index.tolist()
c2mhb(cinlist,mhbdf,outname,cindf)