In [1]:
import pandas as pd

In [2]:
smfile="/Users/irffanalahi/Research/Research_update/Ref/v1/corresbam/combinedref_cin.txt"#"/Users/irffanalahi/Research/weekly/for_10_8_20/my/adhocSM/OnlyWGBSList/smbluWGBSCD4CD8g50_hypo.txt"
radius=150

outname=smfile+"_radius_"+str(radius)+"bp.txt"
smdf=pd.read_csv(smfile,sep="\t")
smdf.head()

         position     celltype
0  chr10:68525812  [MEL_TUMOR]
1  chr10:68525861  [MEL_TUMOR]
2  chr10:68525962  [MEL_TUMOR]
3  chr10:68525970  [MEL_TUMOR]
4  chr10:68526038  [MEL_TUMOR]

In [3]:
result=[]
for cpg in smdf.iloc[:, 0]:
    chrom,pos=cpg.split(":")
    start=int(pos)-radius
    end=int(pos)+radius
    
    tempdict={"chrom":chrom,"start":start,"end":end}
    
    result.append(tempdict)

In [4]:
outdf=pd.DataFrame(result)
outdf.head()

   chrom     start       end
0  chr10  68525662  68525962
1  chr10  68525711  68526011
2  chr10  68525812  68526112
3  chr10  68525820  68526120
4  chr10  68525888  68526188

In [5]:
outdf.to_csv(outname,sep="\t",header=False,index=False)
print("done")

done