In [1]:
import pandas as pd

In [2]:
smfile="/Users/irffanalahi/Research/weekly/for_10_8_20/my/adhocsm_allpblsubset/450kpos/blleuko450kg50_hypo.txt"#"/Users/irffanalahi/Research/weekly/for_10_8_20/my/adhocSM/OnlyWGBSList/smbluWGBSCD4CD8g50_hypo.txt"
radius=150

outname=smfile+"_radius_"+str(radius)+"bp.txt"
smdf=pd.read_csv(smfile,sep="\t")
smdf.head()

             NAME   CD14  CD19  CD4  CD8  CD56
0  chr6:127346546  101.0   1.0  1.0  1.0   1.0
1  chr19:48966708   76.0   1.0  1.0  1.0   1.0
2  chr11:68928064   98.0   1.0  1.0  1.0   2.5
3   chr8:29583900   97.2   1.0  1.0  6.6   1.0
4  chr17:64008172   97.2   1.0  1.0  1.0   4.2

In [3]:
result=[]
for cpg in smdf['NAME']:
    chrom,pos=cpg.split(":")
    start=int(pos)-radius
    end=int(pos)+radius
    
    tempdict={"chrom":chrom,"start":start,"end":end}
    
    result.append(tempdict)

In [4]:
outdf=pd.DataFrame(result)
outdf.head()

   chrom      start        end
0   chr6  127346396  127346696
1  chr19   48966558   48966858
2  chr11   68927914   68928214
3   chr8   29583750   29584050
4  chr17   64008022   64008322

In [5]:
outdf.to_csv(outname,sep="\t",header=False,index=False)
print("done")

done