In [1]:
import pandas as pd
import sys

In [2]:
fname="/Users/irffanalahi/Research/weekly/for_10_8_20/my/adhocsm_allpblsubset/450kpos/pblsubsetpoormanMHB_hypo.txt_assigned.txt_mhb_intwith_blleuko450kg50_hyporadius_150bpSortedMerged.txt"

atleastcpg=2

outname=fname+"_atleast"+str(atleastcpg)+"cpg.txt"

df=pd.read_csv(fname,sep="\t")
df.head()

   chrom      start        end  celltype blockchr  blockstart   blockend
0   chr6  127346545  127346547  ['CD14']     chr6   127346396  127346696
1  chr19   48966707   48966709  ['CD14']    chr19    48966558   48966858
2  chr11   68928063   68928065  ['CD14']    chr11    68927914   68928214
3   chr8   29583899   29583901  ['CD14']     chr8    29583750   29584050
4   chr1  235920018  235920020  ['CD14']     chr1   235919758  235920058

In [3]:
outdf=df.copy()
uniqindex=[]
for index, row in df.iterrows():
    currentchr=row['blockchr']
    currentstart=row['blockstart']
    count=0
    for i2,r2 in df.iterrows():
        if (r2['blockchr']==currentchr) and (r2['blockstart']==currentstart):
            count=count+1
            if count==atleastcpg:
                break
    if count==0:
        print("error")
        sys.exit()
    elif count < atleastcpg:
        
        uniqindex.append(index)


print(len(uniqindex))
print(uniqindex)
        
outdf=outdf.drop(uniqindex)

56
[6, 9, 10, 12, 18, 24, 26, 30, 31, 33, 38, 39, 42, 46, 53, 55, 188, 206, 224, 241, 245, 259, 263, 271, 456, 461, 466, 469, 475, 483, 495, 498, 505, 512, 513, 518, 522, 523, 526, 530, 532, 536, 697, 710, 713, 718, 719, 732, 768, 770, 771, 786, 790, 810, 814, 827]

In [4]:
outdf.to_csv(outname,sep="\t",index=False)