In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_code/panel_design/distribution/mergetest/toy1.bed_offsetadded.txt'
outfile=infile+"_panelsize.txt"


indf=pd.read_csv(infile,sep="\t",header=None)
indf.head()

      0      1      2
0  chr1  64444  64546
1  chr1  64512  64614
2  chr1  64650  64752
3  chr1  64849  64951
4  chr1  65069  65171

In [2]:
indf.rename(columns={0: 'chrom', 1: 'start',2:'end'},inplace=True,errors='raise')
indf['size']=indf['end']-indf['start']

panelsize=indf['size'].sum()

In [3]:
with open(outfile, 'w') as f:
    f.write(str(panelsize))