In [1]:
import pandas as pd
import os.path

In [2]:
smbgposition="/Users/irffanalahi/Research/weekly/for_9_10_20/comparewithSingleCpG/whySingleCpGmissing/blleukog50_hypo.txt_bg"
correspondingallmat="/Users/irffanalahi/Research/weekly/for_9_10_20/comparewithSingleCpG/whySingleCpGmissing/wgbsblwithneu_all_matrix"
radius=65
outname=smbgposition+"_with_"+os.path.basename(correspondingallmat)+"_radius_"+str(radius)+".txt"

smdf=pd.read_csv(smbgposition,sep="\t", header=None)

smdf=smdf.rename(columns={0: "chrom",1:"start",2:"end" })
corresdf=pd.read_csv(correspondingallmat,sep="\t")

In [3]:
smdf.head()

   chrom      start        end
0   chr6  127346545  127346547
1  chr19   48966707   48966709
2  chr11   68928063   68928065
3   chr8   29583899   29583901
4  chr17   64008171   64008173

In [4]:
corresdf.head()

,chrom,start,end,aS01BHIA1_mono.bw.bedgraph_rolled,aS01E03A1_mono.bw.bedgraph_rolled,aS01MAPA1_mono.bw.bedgraph_rolled,bNBC_NC11_41_naiveb.bw.bedgraph_rolled,bS017RE51_memb.bw.bedgraph_rolled,bS01ECGA1_naiveb.bw.bedgraph_rolled,cP584_CD4.bw.bedgraph_rolled,...,cS009W451_CD4.bw.bedgraph_rolled,dC00256A1bs_CD8.bw.bedgraph_rolled,dC003VO55_CD8.bw.bedgraph_rolled,dC0066P51_CD8.bw.bedgraph_rolled,eC002CTA1bs_cytnk.bw.bedgraph_rolled,eC0067N51_cytnk.bw.bedgraph_rolled,eS01E8O51_cytnk.bw.bedgraph_rolled,fC00184A3bs_matneu.bw.bedgraph_rolled,fC001UYA1bs_matneu.bw.bedgraph_rolled,fC004GD51_matneu.bw.bedgraph_rolled
0,chr1,10468,10470,0.611,0.600,NaN,0.667,0.778,0.889,1.000,...,NaN,0.800,NaN,NaN,NaN,NaN,0.625,0.583,NaN,NaN
1,chr1,10470,10472,0.875,0.800,NaN,0.667,0.947,0.778,0.667,...,0.815,0.857,NaN,NaN,1.000,NaN,1.000,0.769,0.556,0.750
2,chr1,10483,10485,0.611,0.833,NaN,1.000,0.905,1.000,NaN,...,0.741,1.000,NaN,NaN,1.000,0.583,0.750,0.727,0.875,NaN
3,chr1,10488,10490,1.000,1.000,NaN,0.667,0.905,1.000,NaN,...,0.960,0.571,NaN,NaN,0.875,0.917,0.778,0.867,0.889,0.857
4,chr1,10492,10494,0.895,0.667,NaN,1.000,0.870,0.778,NaN,...,0.889,0.714,NaN,NaN,0.833,NaN,0.556,0.500,0.727,NaN

In [5]:
def calculatesurrounding(sdf,alldf,distance,outfile):
    alldictlist=[]
    for index, row in sdf.iterrows():
            upward=row["start"]-distance
            loward=row["start"]+distance
            currentchr=row["chrom"]
            
           
            selecteddf=alldf[(alldf["chrom"]==currentchr ) & (alldf["start"]>=upward) & (alldf["end"]<=loward)]
            if selecteddf.shape[0]==0:
                print("errorr")
            currentdict={"chrom":row["chrom"],"start":row["start"],"end":row["end"],"surrondingCpG":selecteddf.shape[0]-1}
            alldictlist.append(currentdict)
            
    outdf=pd.DataFrame(alldictlist)
    
    outdf.to_csv(outfile,index=False,sep="\t")

In [6]:
calculatesurrounding(smdf,corresdf,radius,outname)
print("done")

done