In [1]:
import pandas as pd

In [2]:
infile="/Users/irffanalahi/Research/weekly/for_3_31_21/mlsm_mon_vs_tcombined/ref/downstream/reffromsever/plot/Diagonal/tcombinedsmref4.txt"
out=infile+"_bg"
infiledf=pd.read_csv(infile,sep="\t")
infiledf.head()

,position,gmel.1457.T.CD45.Negative,gmel.1254.T.CD45.Negative,gmel.1340.T.CD45.Negative,amel.139.P.CD14,amel.167.P.CD14,bmel.1254.T.CD14,bmel.960.T.CD14,bmel.1457.T.CD14,cmel.139.P.CD4,cmel.167.P.CD4,emel.139.P.CD8,emel.167.P.CD8,dmel.1254.T.CD4,fmel.1254.T.CD8,fmel.1457.T.CD8,fmel.960.T.CD8,dmel.1457.T.CD4,dmel.960.T.CD4
0,chr16:88533671,0.000,0.000,0.143,0.500,0.140,0.000,0.000,NaN,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,0.000
1,chr17:82964733,0.000,0.000,0.250,0.000,0.500,0.140,0.000,NaN,0.000,0.000,NaN,0.000,0.670,0.600,0.000,0.000,0.000,0.000
2,chr3:114325449,0.914,0.528,0.882,1.000,0.904,0.850,0.802,0.925,0.950,0.800,0.800,0.686,0.156,0.352,0.567,0.600,0.250,0.225
3,chr3:114325455,0.969,1.000,0.945,1.000,1.000,0.914,0.816,0.845,0.947,0.644,0.852,0.753,0.289,0.439,0.217,0.429,0.198,0.207
4,chr3:114325629,1.000,1.000,1.000,0.932,0.963,0.861,0.953,0.713,0.862,0.880,0.947,0.880,0.253,0.346,0.651,0.381,0.377,0.348

In [3]:
infiledf[['chrom','pos']] = infiledf.position.str.split(":",expand=True) 
infiledf['pos']=infiledf['pos'].astype(int)
infiledf.head()

,position,gmel.1457.T.CD45.Negative,gmel.1254.T.CD45.Negative,gmel.1340.T.CD45.Negative,amel.139.P.CD14,amel.167.P.CD14,bmel.1254.T.CD14,bmel.960.T.CD14,bmel.1457.T.CD14,cmel.139.P.CD4,...,emel.139.P.CD8,emel.167.P.CD8,dmel.1254.T.CD4,fmel.1254.T.CD8,fmel.1457.T.CD8,fmel.960.T.CD8,dmel.1457.T.CD4,dmel.960.T.CD4,chrom,pos
0,chr16:88533671,0.000,0.000,0.143,0.500,0.140,0.000,0.000,NaN,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,NaN,0.000,chr16,88533671
1,chr17:82964733,0.000,0.000,0.250,0.000,0.500,0.140,0.000,NaN,0.000,...,NaN,0.000,0.670,0.600,0.000,0.000,0.000,0.000,chr17,82964733
2,chr3:114325449,0.914,0.528,0.882,1.000,0.904,0.850,0.802,0.925,0.950,...,0.800,0.686,0.156,0.352,0.567,0.600,0.250,0.225,chr3,114325449
3,chr3:114325455,0.969,1.000,0.945,1.000,1.000,0.914,0.816,0.845,0.947,...,0.852,0.753,0.289,0.439,0.217,0.429,0.198,0.207,chr3,114325455
4,chr3:114325629,1.000,1.000,1.000,0.932,0.963,0.861,0.953,0.713,0.862,...,0.947,0.880,0.253,0.346,0.651,0.381,0.377,0.348,chr3,114325629

In [4]:
infiledf['start']=infiledf['pos']-1
infiledf['end']=infiledf['pos']+1
infiledf.head()

,position,gmel.1457.T.CD45.Negative,gmel.1254.T.CD45.Negative,gmel.1340.T.CD45.Negative,amel.139.P.CD14,amel.167.P.CD14,bmel.1254.T.CD14,bmel.960.T.CD14,bmel.1457.T.CD14,cmel.139.P.CD4,...,dmel.1254.T.CD4,fmel.1254.T.CD8,fmel.1457.T.CD8,fmel.960.T.CD8,dmel.1457.T.CD4,dmel.960.T.CD4,chrom,pos,start,end
0,chr16:88533671,0.000,0.000,0.143,0.500,0.140,0.000,0.000,NaN,0.000,...,0.000,0.000,0.000,0.000,NaN,0.000,chr16,88533671,88533670,88533672
1,chr17:82964733,0.000,0.000,0.250,0.000,0.500,0.140,0.000,NaN,0.000,...,0.670,0.600,0.000,0.000,0.000,0.000,chr17,82964733,82964732,82964734
2,chr3:114325449,0.914,0.528,0.882,1.000,0.904,0.850,0.802,0.925,0.950,...,0.156,0.352,0.567,0.600,0.250,0.225,chr3,114325449,114325448,114325450
3,chr3:114325455,0.969,1.000,0.945,1.000,1.000,0.914,0.816,0.845,0.947,...,0.289,0.439,0.217,0.429,0.198,0.207,chr3,114325455,114325454,114325456
4,chr3:114325629,1.000,1.000,1.000,0.932,0.963,0.861,0.953,0.713,0.862,...,0.253,0.346,0.651,0.381,0.377,0.348,chr3,114325629,114325628,114325630

In [5]:
infiledf=infiledf.drop(['position','pos'],axis=1)
infiledf.head()

,gmel.1457.T.CD45.Negative,gmel.1254.T.CD45.Negative,gmel.1340.T.CD45.Negative,amel.139.P.CD14,amel.167.P.CD14,bmel.1254.T.CD14,bmel.960.T.CD14,bmel.1457.T.CD14,cmel.139.P.CD4,cmel.167.P.CD4,...,emel.167.P.CD8,dmel.1254.T.CD4,fmel.1254.T.CD8,fmel.1457.T.CD8,fmel.960.T.CD8,dmel.1457.T.CD4,dmel.960.T.CD4,chrom,start,end
0,0.000,0.000,0.143,0.500,0.140,0.000,0.000,NaN,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,NaN,0.000,chr16,88533670,88533672
1,0.000,0.000,0.250,0.000,0.500,0.140,0.000,NaN,0.000,0.000,...,0.000,0.670,0.600,0.000,0.000,0.000,0.000,chr17,82964732,82964734
2,0.914,0.528,0.882,1.000,0.904,0.850,0.802,0.925,0.950,0.800,...,0.686,0.156,0.352,0.567,0.600,0.250,0.225,chr3,114325448,114325450
3,0.969,1.000,0.945,1.000,1.000,0.914,0.816,0.845,0.947,0.644,...,0.753,0.289,0.439,0.217,0.429,0.198,0.207,chr3,114325454,114325456
4,1.000,1.000,1.000,0.932,0.963,0.861,0.953,0.713,0.862,0.880,...,0.880,0.253,0.346,0.651,0.381,0.377,0.348,chr3,114325628,114325630

In [6]:
infiledf=infiledf[['chrom','start','end']]
infiledf.head()

   chrom      start        end
0  chr16   88533670   88533672
1  chr17   82964732   82964734
2   chr3  114325448  114325450
3   chr3  114325454  114325456
4   chr3  114325628  114325630

In [7]:
infiledf.to_csv(out,sep="\t",index=False)
print("done")

done