In [1]:
import pandas as pd
import os
largeSM='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/OwnGrouptest/try1/someTcell/someTcell_linecount/TowardsSM/MergewithBL22/allct_towardsSM_dummy_mean_SM.txt_unique_withmincol.txt'
smallsm='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/OwnGrouptest/try1/someTcell/someTcell_linecount/TowardsSM/MergewithBL22/EPCAM_mean_SM_top1000.txt'

smallsmct='EPCAM-others'

largesmdf=pd.read_csv(largeSM,sep='\t')
largesmdf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,em8-others,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others,mincolname
0,chr1,6012593,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.800627,0.9,0.9,0.9,0.9,ed8-others
1,chr1,10525350,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.871885,0.9,0.9,0.9,0.9,ed8-others
2,chr1,10525356,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.870743,0.9,0.9,0.9,0.9,ed8-others
3,chr1,10525449,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.873007,0.9,0.9,0.9,0.9,ed8-others
4,chr1,13765075,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.820474,0.9,0.9,0.9,0.9,ed8-others

In [2]:
outdf = largesmdf.drop(largesmdf[largesmdf.mincolname ==smallsmct].index)
print(largesmdf.shape)
print(outdf.shape)

(20758, 25)
(20758, 25)

In [3]:
outdf=outdf.drop([smallsmct,'mincolname'],axis=1,errors='ignore')
outdf.shape

(20758, 24)

In [4]:
outdf[smallsmct]=0.9
outdf.shape

(20758, 25)

In [5]:
smallsmdf=pd.read_csv(smallsm,sep='\t')
smallsmdf.head()

   chrom     start  EPCAM-others  FakeCell-others
0  chr19  14621981     -0.992712              0.9
1  chr20  54628362     -0.992570              0.9
2  chr13  77177489     -0.992194              0.9
3  chr15  83920685     -0.991977              0.9
4  chr10  31496637     -0.991471              0.9

In [6]:
smallsmdf=smallsmdf[['chrom','start',smallsmct]]
smallsmdf.head()

   chrom     start  EPCAM-others
0  chr19  14621981     -0.992712
1  chr20  54628362     -0.992570
2  chr13  77177489     -0.992194
3  chr15  83920685     -0.991977
4  chr10  31496637     -0.991471

In [7]:
total_compartments=outdf.columns.tolist()
len(total_compartments)

25

In [8]:
total_compartments_set=set(total_compartments)

In [9]:
smallsmdfcols=set(smallsmdf.columns.tolist())
smallsmdfcols

{'EPCAM-others', 'chrom', 'start'}

In [10]:
missingcols=total_compartments_set-smallsmdfcols
missingcolslist=list(missingcols)
len(missingcolslist)

22

In [11]:
for micol in missingcolslist:
    smallsmdf[micol]=0.9

In [12]:
smallsmdf.shape

(1000, 25)

In [13]:
mergedSM=pd.concat([outdf,smallsmdf])
mergedSM.shape

(21758, 25)

In [14]:
mergedSM.set_index(['chrom','start'],inplace=True)
mergedSM.shape

(21758, 23)

In [15]:
mergedSM[mergedSM.index.duplicated()]

Empty DataFrame
Columns: [NaiveCD4-others, NaiveCD8-others, nB-others, NK-others, PC-others, Mono-others, M0-others, M1-others, M2-others, iDC-others, mDC-others, PMN-others, cm8-others, em8-others, Eo-others, Tregs-others, em4-others, ed8-others, Mg-others, cm4-others, Er-others, mB-others, EPCAM-others]
Index: []

[0 rows x 23 columns]

In [16]:
mergedSM.to_csv(largeSM+os.path.basename(smallsm),sep='\t')