In [1]:
import pandas as pd
import glob
from collections import defaultdict
import os
from statistics import mean
from statistics import median


infol='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/All/thresholdCombinations_linecount'


delta_cutoffs=[.2,.4,.6,.8]


allfiles=glob.glob(infol+"/*.txt")
len(allfiles)

22

In [2]:

outdictmean= defaultdict(list)
outdictmedian= defaultdict(list)
outdictSMcount=defaultdict(list)

for afile in allfiles:
    
    ctname=(os.path.basename(afile)).split("_")[0]
  
    tempdf=pd.read_csv(afile,sep='\t')
  
    
    
    for dcutoff in delta_cutoffs:
        currentlinecount=(tempdf[tempdf['Average Value']>=dcutoff]['Line Count']).tolist()
        currentSMcount=len(currentlinecount)
        currentlinecountmean=mean(currentlinecount)
        currentlinecountmedian=median(currentlinecount)
        outdictmean[ctname].append(currentlinecountmean)
        outdictmedian[ctname].append(currentlinecountmedian)
        
        outdictSMcount[ctname].append(currentSMcount)

In [3]:
outdictmeanDF=pd.DataFrame.from_dict(outdictmean,orient='index',columns=delta_cutoffs)

outdictmeanDF.index.name ='celltype'
outdictmeanDF.head()

                   0.2           0.4          0.6   0.8
celltype
Mg         2809.562500   1459.461538   543.287879   160
PMN       17040.300781  12194.977376  5214.454545  1510
cm4        4987.296875   2022.674208   288.939394     4
iDC         898.492188    393.389140    92.696970    24
em4       12674.570312   4118.737557   411.136364     5

In [4]:
outdictmedianDF=pd.DataFrame.from_dict(outdictmedian,orient='index',columns=delta_cutoffs)
outdictmedianDF.index.name ='celltype'
outdictmedianDF.head()

              0.2   0.4     0.6   0.8
celltype
Mg         1256.5   999   483.5   160
PMN       11805.0  8028  4111.5  1510
cm4         420.5   320    62.0     4
iDC         242.0   192    56.0    24
em4        1098.0   706    99.0     5

In [ ]:
outdictSMcountDF=pd.DataFrame.from_dict(outdictSMcount,orient='index',columns=delta_cutoffs)
outdictSMcountDF.index.name ='celltype'
outdictSMcountDF.head()

In [5]:
outdictmeanDF.to_csv(infol+"_SummaryMean.txt",sep="\t")
outdictmedianDF.to_csv(infol+"_SummaryMedian.txt",sep="\t")
outdictSMcountDF.to_csv(infol+"_SummarySMcount.txt",sep="\t")