In [1]:
import pandas as pd 
import sys
import os.path
import shutil

import re

import glob
import os

In [2]:
def listdir_nohidden(path):
    return glob.glob(os.path.join(path, '*'))

In [3]:
infol='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/em4_thresholdpos_allthresholdcombinations'
linecountfile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/em4_thresholdpos_allthresholdcombinations_Shoonhsin_avg_and_linecount.txt'

outfol=infol+'_'+str(avgvalcutoff)+'_'+lincountcutoff
avgvalcutoff=0.5
lincountcutoff=100

outfol=infol+'_'+str(avgvalcutoff)+'_'+lincountcutoff

allfiles=listdir_nohidden(infol)

allfiles[0]

'/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/em4_thresholdpos_allthresholdcombinations/g1_em4_g2_Tcellem4_-0.6_int_g1_em4_g2_Bcellem4_-0.6_int_g1_em4_g2_PMNlikeem4_-0.2_int_g1_em4_g2_Myloidem4_-0.4'

In [4]:
lincounttdf=pd.read_csv(linecountfile,sep='\t')
lincounttdf.head()

,Filename,Average Value,Line Count
0,g1_em4_g2_Tcellem4_-0.6_int_g1_em4_g2_Bcellem4...,0.45,464
1,g1_em4_g2_Tcellem4_-0.2_int_g1_em4_g2_Bcellem4...,0.35,2110
2,g1_em4_g2_Tcellem4_-0.2_int_g1_em4_g2_Bcellem4...,0.55,4999
3,g1_em4_g2_Tcellem4_-0.2_int_g1_em4_g2_Bcellem4...,0.25,241755
4,g1_em4_g2_Tcellem4_-0.2_int_g1_em4_g2_Bcellem4...,0.60,3629

In [5]:
lincounttdfcutoff=lincounttdf[(lincounttdf['Average Value']>=avgvalcutoff) & (lincounttdf['Line Count']>=lincountcutoff)]
lincounttdfcutoff.shape

(95, 3)