In [1]:
import numpy as np
import os
import subprocess
import sys
import pandas as pd

In [2]:
bam_file_directory = '/Users/irffanalahi/Research/Research_code/gitignorefolder/in-silico-mix/pipe/fromserver/toy/mixture_output'#sys.argv[1]
mix_input_file = '/Users/irffanalahi/Research/Research_code/gitignorefolder/in-silico-mix/pipe/fromserver/toy/toyprop.txt'#sys.argv[2]
df_mix=pd.read_csv(mix_input_file,sep="\t") #############irf######

In [3]:
bam_file_list = [f for f in os.listdir(bam_file_directory) if f.endswith('.bam')]
bam_file_list = [bam_file_directory+'/'+bam_file_list[i] for i in range(len(bam_file_list))]

In [4]:
cell_type_list = list(df_mix.columns)
df_summ = pd.DataFrame(columns = cell_type_list)
for bf in bam_file_list:
    print(bf)
    bash_command = 'samtools view '+bf+' | cut -f 1 > temp.txt'
    subprocess.call(bash_command,shell=True)
    with open('temp.txt') as f:
        read_names = f.read()
    read_names = np.array(read_names.splitlines())
    read_ct = np.array([c.split('.')[0] for c in read_names])
    ct_count = []
    for ct in cell_type_list:
        ct_count.append(sum(read_ct==ct))
    df_summ.loc[bf.split('/')[-1].replace('.bam','')] = ct_count

/Users/irffanalahi/Research/Research_code/gitignorefolder/in-silico-mix/pipe/fromserver/toy/mixture_output/toyprop_NR_100_insilmix1.bam
/Users/irffanalahi/Research/Research_code/gitignorefolder/in-silico-mix/pipe/fromserver/toy/mixture_output/toyprop_NR_100_insilmix2.bam

In [5]:
df_summ_norm = df_summ.div(0.01*df_summ.sum(axis=1),axis=0)

In [6]:
df_summ_norm

                          bulkbam bulkbam2      cd8
toyprop_NR_100_insilmix1  9.27835  19.5876   71.134
toyprop_NR_100_insilmix2  17.3469  2.04082  80.6122

In [7]:
df_mix

   bulkbam  bulkbam2  cd8
0       10        20   70
1       20         3   77

In [8]:
 df_summ

                         bulkbam bulkbam2 cd8
toyprop_NR_100_insilmix1       9       19  69
toyprop_NR_100_insilmix2      17        2  79