In [1]:
import pandas as pd

In [2]:
assigned="/Users/irffanalahi/Research/weekly/for_10_8_20/my/adhocSM/OnlyWGBSList/CD4CD8poormanMHB_hypo.txt_assigned_withsortedpos.txt_mhb"  ## this is robust: works if it has celltype column, regardless of others.
outname=assigned+"_featurecount.txt"
assdf=pd.read_csv(assigned,sep="\t")
assdf.head()

   chrom      start        end  celltype
0   chr5  133468857  133468859  ['CD14']
1   chr3   12354870   12354872  ['CD14']
2   chr3   43695595   43695597  ['CD14']
3  chr18   58730615   58730617  ['CD14']
4   chr2  101180117  101180119  ['CD14']

In [3]:
assdf['celltype'] = assdf.celltype.apply(lambda x: x[1:-1].split(','))
assdf.head()

   chrom      start        end  celltype
0   chr5  133468857  133468859  ['CD14']
1   chr3   12354870   12354872  ['CD14']
2   chr3   43695595   43695597  ['CD14']
3  chr18   58730615   58730617  ['CD14']
4   chr2  101180117  101180119  ['CD14']

In [4]:
allcells=assdf['celltype'].tolist()
#print(allcells)

In [5]:
flat_list = [item for sublist in allcells for item in sublist]
#print(flat_list)

In [6]:
frequency = {}
for item in flat_list:
    if (item in frequency):
        frequency[item] += 1
    else:
        frequency[item] = 1

print(frequency)
for key, value in frequency.items():
    print("% s -> % d" % (key, value))

{"'CD14'": 298745, "'CD19'": 53831, " 'CD56'": 23, "'CD56'": 84617, " 'CD19'": 20, "'CD4CD8'": 4255}
'CD14' ->  298745
'CD19' ->  53831
 'CD56' ->  23
'CD56' ->  84617
 'CD19' ->  20
'CD4CD8' ->  4255

In [7]:
with open(outname, 'w') as f:
    print(frequency, file=f)
print("done")

done