In [1]:
import pandas as pd 
import sys
import os.path
import shutil

import re

import glob
import os

In [2]:
def listdir_nohidden(path):
    return glob.glob(os.path.join(path, '*'))

In [3]:
infol='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/OneSet/em4_int_em4_thresholdpos_allthresholdcombinations_oneset'
linecountfile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/OneSet/em4_int_em4_thresholdpos_allthresholdcombinations_oneset_Shoonhsin_avg_and_linecount.txt'


avgvalcutoff=0.6
lincountcutoff=100

outfol=infol+'_'+str(avgvalcutoff)+'_'+str(lincountcutoff)

os.makedirs(outfol)

allfiles=listdir_nohidden(infol)

allfiles[0]

'/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/em4_cm4/OneSet/em4_int_em4_thresholdpos_allthresholdcombinations_oneset/g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0.8_int_g1_em4_g2_Bcellem4_-0.6_int_g1_em4_g2_PMNlikeem4_-0.6_int_g1_em4_g2_Myloidem4_-0.4'

In [4]:
lincounttdf=pd.read_csv(linecountfile,sep='\t')
lincounttdf.head()

,Filename,Average Value,Line Count
0,g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0....,0.60,11
1,g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0....,0.65,8
2,g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0....,0.45,5346
3,g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0....,0.55,444
4,g1_em4_g2_Tcell_intwith_g1_em4_g2_Tcellem4_-0....,0.35,36874

In [5]:
lincounttdfcutoff=lincounttdf[(lincounttdf['Average Value']>=avgvalcutoff) & (lincounttdf['Line Count']>=lincountcutoff)]
lincounttdfcutoff.shape

(33, 3)

In [6]:
for file in allfiles:
    if os.path.basename(file) in lincounttdfcutoff['Filename'].tolist():
        
        outfile=outfol+'/'+os.path.basename(file)
        shutil.copyfile(file, outfile)