In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/uisnglinux/readcalculate/BL14_genebody.7delta_readyforbam_merged.txt'
outfile=infile
indf=pd.read_csv(infile,sep="\t",header=None)

indf.head()

      0        1        2
0  chr1   936783   936827
1  chr1   936844   936866
2  chr1   955417   955439
3  chr1  1002496  1002518
4  chr1  1009542  1009564

In [2]:
indf['bp']=indf[2]-indf[1]
indf.head()

      0        1        2  bp
0  chr1   936783   936827  44
1  chr1   936844   936866  22
2  chr1   955417   955439  22
3  chr1  1002496  1002518  22
4  chr1  1009542  1009564  22

In [3]:
totalbp=indf['bp'].sum()

In [4]:
totalbp

2301439

In [5]:
read=totalbp*1/3

In [6]:
read

767146.3333333334

In [7]:
outdict={"30xread":[read]}

In [8]:
outdf=pd.DataFrame.from_dict(outdict)

In [9]:
outdf.head()

         30xread
0  767146.333333

In [10]:
outdf.to_csv(outfile+"_readcal.txt",sep="\t",index=False)