In [1]:
import pandas as pd
import re

import sys
biggerfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/try2/preparesm/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_intesectedwith_CD4DMRofBL14atleast.2SM_g1_CD4_3_g2_others_33_withheader.txt'
phenfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/try2/preparesm/BL14_PhenoClass.txt'
outfile=biggerfile+"_othermean.txt"
newcolnames=[]
biggerdf=pd.read_csv(biggerfile,sep="\t",header=None,skiprows=1)
pheno=pd.read_csv(phenfile,sep="\t", header=None, index_col=0)
biggerdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,chr1,32387132,32387134,0.214333,0.507000,0.992000,0.968333,0.968667,0.965667,0.9420,0.981000,0.9585,0.8695,0.9200,1.0000,0.9220,0.986000,chr1,32387133
1,chr1,32387376,32387378,0.127000,0.633000,0.946667,0.881333,1.000000,0.860000,0.8300,0.928000,0.7750,0.6930,0.7360,0.8985,0.8945,0.895667,chr1,32387377
2,chr1,32387403,32387405,0.136667,0.869333,0.958333,0.948667,1.000000,0.953667,0.8635,1.000000,0.9690,0.7770,0.7115,0.9355,0.9870,0.984667,chr1,32387404
3,chr1,32387409,32387411,0.182333,0.969667,0.989667,0.990667,0.982333,0.957333,0.9900,1.000000,1.0000,0.7570,0.7480,0.9785,0.9880,0.953667,chr1,32387410
4,chr1,32387417,32387419,0.666667,0.957333,0.980333,0.956333,1.000000,0.912667,1.0000,0.981333,0.9665,0.9300,0.9105,0.9630,0.9780,0.968000,chr1,32387418

In [2]:
with open (biggerfile) as f:
    line=f.readline()
    line=line.split("\n")
    colnames=line[0].split("\t")

In [3]:
totalcols=colnames+newcolnames

In [4]:
biggerdf.columns=totalcols


biggerdf=biggerdf.set_index(['chrom','start','end'])
biggerdf.head()

                              CD4       CD8        nB        NK        Mn  \
chrom start    end
chr1  32387132 32387134  0.214333  0.507000  0.992000  0.968333  0.968667
      32387376 32387378  0.127000  0.633000  0.946667  0.881333  1.000000
      32387403 32387405  0.136667  0.869333  0.958333  0.948667  1.000000
      32387409 32387411  0.182333  0.969667  0.989667  0.990667  0.982333
      32387417 32387419  0.666667  0.957333  0.980333  0.956333  1.000000

                             mNeu      m8        DC      Eo      Tr      m4  \
chrom start    end
chr1  32387132 32387134  0.965667  0.9420  0.981000  0.9585  0.8695  0.9200
      32387376 32387378  0.860000  0.8300  0.928000  0.7750  0.6930  0.7360
      32387403 32387405  0.953667  0.8635  1.000000  0.9690  0.7770  0.7115
      32387409 32387411  0.957333  0.9900  1.000000  1.0000  0.7570  0.7480
      32387417 32387419  0.912667  1.0000  0.981333  0.9665  0.9300  0.9105

                             Mg      Er        mB shouldbechrom       pos
chrom start    end
chr1  32387132 32387134  1.0000  0.9220  0.986000          chr1  32387133
      32387376 32387378  0.8985  0.8945  0.895667          chr1  32387377
      32387403 32387405  0.9355  0.9870  0.984667          chr1  32387404
      32387409 32387411  0.9785  0.9880  0.953667          chr1  32387410
      32387417 32387419  0.9630  0.9780  0.968000          chr1  32387418

In [5]:
allct=pheno.index.tolist()
allct

['CD4',
 'CD8',
 'nB',
 'NK',
 'Mn',
 'mNeu',
 'm8',
 'DC',
 'Eo',
 'Tr',
 'm4',
 'Mg',
 'Er',
 'mB']

In [6]:
biggerdf=biggerdf[allct]
biggerdf.head()

                              CD4       CD8        nB        NK        Mn  \
chrom start    end
chr1  32387132 32387134  0.214333  0.507000  0.992000  0.968333  0.968667
      32387376 32387378  0.127000  0.633000  0.946667  0.881333  1.000000
      32387403 32387405  0.136667  0.869333  0.958333  0.948667  1.000000
      32387409 32387411  0.182333  0.969667  0.989667  0.990667  0.982333
      32387417 32387419  0.666667  0.957333  0.980333  0.956333  1.000000

                             mNeu      m8        DC      Eo      Tr      m4  \
chrom start    end
chr1  32387132 32387134  0.965667  0.9420  0.981000  0.9585  0.8695  0.9200
      32387376 32387378  0.860000  0.8300  0.928000  0.7750  0.6930  0.7360
      32387403 32387405  0.953667  0.8635  1.000000  0.9690  0.7770  0.7115
      32387409 32387411  0.957333  0.9900  1.000000  1.0000  0.7570  0.7480
      32387417 32387419  0.912667  1.0000  0.981333  0.9665  0.9300  0.9105

                             Mg      Er        mB
chrom start    end
chr1  32387132 32387134  1.0000  0.9220  0.986000
      32387376 32387378  0.8985  0.8945  0.895667
      32387403 32387405  0.9355  0.9870  0.984667
      32387409 32387411  0.9785  0.9880  0.953667
      32387417 32387419  0.9630  0.9780  0.968000

In [7]:

deltacols=[]
for ct in allct:


    restct=allct.copy()
    restct.remove(ct)
    
    if len(restct)!=len(allct)-1:
        print("problem")
        sys.exit(1)
    
    
    
    tempcol=ct+"-others"
    
    deltacols.append(tempcol)
    biggerdf[tempcol]=biggerdf[ct]-biggerdf[restct].mean(axis=1)

In [8]:
biggerdf=biggerdf.reset_index()
biggerdf.head()

,chrom,start,end,CD4,CD8,nB,NK,Mn,mNeu,m8,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,32387132,32387134,0.214333,0.507000,0.992000,0.968333,0.968667,0.965667,0.9420,...,0.105103,0.101872,0.076385,0.118385,0.094154,-0.001692,0.052692,0.138846,0.054846,0.123769
1,chr1,32387376,32387378,0.127000,0.633000,0.946667,0.881333,1.000000,0.860000,0.8300,...,0.223179,0.072410,0.040103,0.145641,-0.019128,-0.107436,-0.061128,0.113872,0.109564,0.110821
2,chr1,32387403,32387405,0.136667,0.869333,0.958333,0.948667,1.000000,0.953667,0.8635,...,0.146551,0.096654,-0.000449,0.146551,0.113167,-0.093603,-0.164141,0.077090,0.132551,0.130038
3,chr1,32387409,32387411,0.182333,0.969667,0.989667,0.990667,0.982333,0.957333,0.9900,...,0.097346,0.070423,0.105603,0.116372,0.116372,-0.145321,-0.155013,0.093218,0.103449,0.066474
4,chr1,32387417,32387419,0.666667,0.957333,0.980333,0.956333,1.000000,0.912667,1.0000,...,0.063795,-0.030256,0.063795,0.043692,0.027718,-0.011590,-0.032590,0.023949,0.040103,0.029333

In [9]:
biggerdf=biggerdf.drop(['end'],axis=1)
biggerdf.head()

,chrom,start,CD4,CD8,nB,NK,Mn,mNeu,m8,DC,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,32387132,0.214333,0.507000,0.992000,0.968333,0.968667,0.965667,0.9420,0.981000,...,0.105103,0.101872,0.076385,0.118385,0.094154,-0.001692,0.052692,0.138846,0.054846,0.123769
1,chr1,32387376,0.127000,0.633000,0.946667,0.881333,1.000000,0.860000,0.8300,0.928000,...,0.223179,0.072410,0.040103,0.145641,-0.019128,-0.107436,-0.061128,0.113872,0.109564,0.110821
2,chr1,32387403,0.136667,0.869333,0.958333,0.948667,1.000000,0.953667,0.8635,1.000000,...,0.146551,0.096654,-0.000449,0.146551,0.113167,-0.093603,-0.164141,0.077090,0.132551,0.130038
3,chr1,32387409,0.182333,0.969667,0.989667,0.990667,0.982333,0.957333,0.9900,1.000000,...,0.097346,0.070423,0.105603,0.116372,0.116372,-0.145321,-0.155013,0.093218,0.103449,0.066474
4,chr1,32387417,0.666667,0.957333,0.980333,0.956333,1.000000,0.912667,1.0000,0.981333,...,0.063795,-0.030256,0.063795,0.043692,0.027718,-0.011590,-0.032590,0.023949,0.040103,0.029333

In [10]:

biggerdf=biggerdf.set_index(['chrom','start'])

biggerdf=biggerdf[deltacols]
biggerdf.head()

                CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  32387132   -0.707256   -0.392077   0.130231   0.104744   0.105103
      32387376   -0.716974   -0.172051   0.165744   0.095385   0.223179
      32387403   -0.783192    0.005833   0.101679   0.091269   0.146551
      32387409   -0.764192    0.083705   0.105244   0.106321   0.097346
      32387417   -0.295179    0.017846   0.042615   0.016769   0.063795

                mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  32387132     0.101872   0.076385   0.118385   0.094154  -0.001692
      32387376     0.072410   0.040103   0.145641  -0.019128  -0.107436
      32387403     0.096654  -0.000449   0.146551   0.113167  -0.093603
      32387409     0.070423   0.105603   0.116372   0.116372  -0.145321
      32387417    -0.030256   0.063795   0.043692   0.027718  -0.011590

                m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  32387132   0.052692   0.138846   0.054846   0.123769
      32387376  -0.061128   0.113872   0.109564   0.110821
      32387403  -0.164141   0.077090   0.132551   0.130038
      32387409  -0.155013   0.093218   0.103449   0.066474
      32387417  -0.032590   0.023949   0.040103   0.029333

In [11]:
dup=biggerdf[biggerdf.index.duplicated()]
if dup.shape[0]!=0:
    print(dup)
    print('dup why??')

In [12]:
biggerdf.to_csv(outfile,sep="\t")