In [1]:
import pandas as pd
import re

import sys
biggerfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/veryefficient/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_intesectedwith_BL14mNeuDMRs_CW.7.txt'
phenfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/try2/preparesm/BL14_PhenoClass.txt'
outfile=biggerfile+"_othermean.txt"
newcolnames=[]
biggerdf=pd.read_csv(biggerfile,sep="\t",header=None,skiprows=1)
pheno=pd.read_csv(phenfile,sep="\t", header=None, index_col=0)
biggerdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,chr1,13711400,13711402,1.000000,0.958000,0.982333,0.954000,0.947333,0.018,1.0000,0.971667,0.7655,0.9815,0.982,0.9680,0.9250,0.913000,chr1,13711401
1,chr1,13711460,13711462,0.980000,0.915000,0.983000,0.955000,0.954333,0.005,0.9785,0.894333,0.7255,0.9875,0.973,0.9425,0.9035,0.990667,chr1,13711461
2,chr1,13711468,13711470,0.970000,0.950667,0.993333,0.946667,0.934667,0.005,0.9590,0.926333,0.7575,1.0000,0.960,0.9330,0.8295,0.976333,chr1,13711469
3,chr1,13711601,13711603,0.966000,0.940667,0.973333,0.951000,0.915333,0.036,0.9750,0.833333,0.7875,0.9505,0.963,0.8890,0.8130,0.947000,chr1,13711602
4,chr1,21459674,21459676,0.962667,0.926000,0.977667,0.962000,0.745000,0.017,1.0000,0.675333,0.5925,0.9375,0.963,0.9640,0.9440,0.972000,chr1,21459675

In [2]:
with open (biggerfile) as f:
    line=f.readline()
    line=line.split("\n")
    colnames=line[0].split("\t")

In [3]:
totalcols=colnames+newcolnames

In [4]:
biggerdf.columns=totalcols


biggerdf=biggerdf.set_index(['chrom','start','end'])
biggerdf.head()

                              CD4       CD8        nB        NK        Mn  \
chrom start    end
chr1  13711400 13711402  1.000000  0.958000  0.982333  0.954000  0.947333
      13711460 13711462  0.980000  0.915000  0.983000  0.955000  0.954333
      13711468 13711470  0.970000  0.950667  0.993333  0.946667  0.934667
      13711601 13711603  0.966000  0.940667  0.973333  0.951000  0.915333
      21459674 21459676  0.962667  0.926000  0.977667  0.962000  0.745000

                          mNeu      m8        DC      Eo      Tr     m4  \
chrom start    end
chr1  13711400 13711402  0.018  1.0000  0.971667  0.7655  0.9815  0.982
      13711460 13711462  0.005  0.9785  0.894333  0.7255  0.9875  0.973
      13711468 13711470  0.005  0.9590  0.926333  0.7575  1.0000  0.960
      13711601 13711603  0.036  0.9750  0.833333  0.7875  0.9505  0.963
      21459674 21459676  0.017  1.0000  0.675333  0.5925  0.9375  0.963

                             Mg      Er        mB shouldbechrom       pos
chrom start    end
chr1  13711400 13711402  0.9680  0.9250  0.913000          chr1  13711401
      13711460 13711462  0.9425  0.9035  0.990667          chr1  13711461
      13711468 13711470  0.9330  0.8295  0.976333          chr1  13711469
      13711601 13711603  0.8890  0.8130  0.947000          chr1  13711602
      21459674 21459676  0.9640  0.9440  0.972000          chr1  21459675

In [5]:
allct=pheno.index.tolist()
allct

['CD4',
 'CD8',
 'nB',
 'NK',
 'Mn',
 'mNeu',
 'm8',
 'DC',
 'Eo',
 'Tr',
 'm4',
 'Mg',
 'Er',
 'mB']

In [6]:
biggerdf=biggerdf[allct]
biggerdf.head()

                              CD4       CD8        nB        NK        Mn  \
chrom start    end
chr1  13711400 13711402  1.000000  0.958000  0.982333  0.954000  0.947333
      13711460 13711462  0.980000  0.915000  0.983000  0.955000  0.954333
      13711468 13711470  0.970000  0.950667  0.993333  0.946667  0.934667
      13711601 13711603  0.966000  0.940667  0.973333  0.951000  0.915333
      21459674 21459676  0.962667  0.926000  0.977667  0.962000  0.745000

                          mNeu      m8        DC      Eo      Tr     m4  \
chrom start    end
chr1  13711400 13711402  0.018  1.0000  0.971667  0.7655  0.9815  0.982
      13711460 13711462  0.005  0.9785  0.894333  0.7255  0.9875  0.973
      13711468 13711470  0.005  0.9590  0.926333  0.7575  1.0000  0.960
      13711601 13711603  0.036  0.9750  0.833333  0.7875  0.9505  0.963
      21459674 21459676  0.017  1.0000  0.675333  0.5925  0.9375  0.963

                             Mg      Er        mB
chrom start    end
chr1  13711400 13711402  0.9680  0.9250  0.913000
      13711460 13711462  0.9425  0.9035  0.990667
      13711468 13711470  0.9330  0.8295  0.976333
      13711601 13711603  0.8890  0.8130  0.947000
      21459674 21459676  0.9640  0.9440  0.972000

In [7]:

deltacols=[]
for ct in allct:


    restct=allct.copy()
    restct.remove(ct)
    
    if len(restct)!=len(allct)-1:
        print("problem")
        sys.exit(1)
    
    
    
    tempcol=ct+"-others"
    
    deltacols.append(tempcol)
    biggerdf[tempcol]=biggerdf[ct]-biggerdf[restct].mean(axis=1)

In [8]:
biggerdf=biggerdf.reset_index()
biggerdf.head()

,chrom,start,end,CD4,CD8,nB,NK,Mn,mNeu,m8,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,13711400,13711402,1.000000,0.958000,0.982333,0.954000,0.947333,0.018,1.0000,...,0.068949,-0.931872,0.125667,0.095154,-0.126872,0.105744,0.106282,0.091205,0.044897,0.031974
1,chr1,13711460,13711462,0.980000,0.915000,0.983000,0.955000,0.954333,0.005,0.9785,...,0.090218,-0.932141,0.116244,0.025603,-0.156218,0.125936,0.110321,0.077474,0.035474,0.129346
2,chr1,13711468,13711470,0.970000,0.950667,0.993333,0.946667,0.934667,0.005,0.9590,...,0.072564,-0.928615,0.098769,0.063590,-0.118231,0.142923,0.099846,0.070769,-0.040692,0.117436
3,chr1,13711601,13711603,0.966000,0.940667,0.973333,0.951000,0.915333,0.036,0.9750,...,0.067231,-0.879744,0.131487,-0.021077,-0.070436,0.105103,0.118564,0.038872,-0.042974,0.101333
4,chr1,21459674,21459676,0.962667,0.926000,0.977667,0.962000,0.745000,0.017,1.0000,...,-0.092974,-0.876974,0.181641,-0.168000,-0.257205,0.114333,0.141795,0.142872,0.121333,0.151487

In [9]:
biggerdf=biggerdf.drop(['end'],axis=1)
biggerdf.head()

,chrom,start,CD4,CD8,nB,NK,Mn,mNeu,m8,DC,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,13711400,1.000000,0.958000,0.982333,0.954000,0.947333,0.018,1.0000,0.971667,...,0.068949,-0.931872,0.125667,0.095154,-0.126872,0.105744,0.106282,0.091205,0.044897,0.031974
1,chr1,13711460,0.980000,0.915000,0.983000,0.955000,0.954333,0.005,0.9785,0.894333,...,0.090218,-0.932141,0.116244,0.025603,-0.156218,0.125936,0.110321,0.077474,0.035474,0.129346
2,chr1,13711468,0.970000,0.950667,0.993333,0.946667,0.934667,0.005,0.9590,0.926333,...,0.072564,-0.928615,0.098769,0.063590,-0.118231,0.142923,0.099846,0.070769,-0.040692,0.117436
3,chr1,13711601,0.966000,0.940667,0.973333,0.951000,0.915333,0.036,0.9750,0.833333,...,0.067231,-0.879744,0.131487,-0.021077,-0.070436,0.105103,0.118564,0.038872,-0.042974,0.101333
4,chr1,21459674,0.962667,0.926000,0.977667,0.962000,0.745000,0.017,1.0000,0.675333,...,-0.092974,-0.876974,0.181641,-0.168000,-0.257205,0.114333,0.141795,0.142872,0.121333,0.151487

In [10]:

biggerdf=biggerdf.set_index(['chrom','start'])

biggerdf=biggerdf[deltacols]
biggerdf.head()

                CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  13711400    0.125667    0.080436   0.106641   0.076128   0.068949
      13711460    0.117859    0.047859   0.121090   0.090936   0.090218
      13711468    0.110615    0.089795   0.135744   0.085487   0.072564
      13711601    0.121795    0.094513   0.129692   0.105641   0.067231
      21459674    0.141436    0.101949   0.157590   0.140718  -0.092974

                mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  13711400    -0.931872   0.125667   0.095154  -0.126872   0.105744
      13711460    -0.932141   0.116244   0.025603  -0.156218   0.125936
      13711468    -0.928615   0.098769   0.063590  -0.118231   0.142923
      13711601    -0.879744   0.131487  -0.021077  -0.070436   0.105103
      21459674    -0.876974   0.181641  -0.168000  -0.257205   0.114333

                m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  13711400   0.106282   0.091205   0.044897   0.031974
      13711460   0.110321   0.077474   0.035474   0.129346
      13711468   0.099846   0.070769  -0.040692   0.117436
      13711601   0.118564   0.038872  -0.042974   0.101333
      21459674   0.141795   0.142872   0.121333   0.151487

In [11]:
dup=biggerdf[biggerdf.index.duplicated()]
if dup.shape[0]!=0:
    print(dup)
    print('dup why??')

In [12]:
biggerdf.to_csv(outfile,sep="\t")