In [1]:
import pandas as pd
import re

import sys
biggerfile='/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/DMC_based/BL14/BL14_CD4Neu_in_out_DMC/finalrefANDbam/forsoftRD/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_intesectedwith_BL14DMCnaiveCD4diff-.7mNeudiff-.75_top-1_singleCpG_final_record_DMR.txt'
phenfile='/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/DMC_based/BL14/BL14_CD4Neu_in_out_DMC/finalrefANDbam/forsoftRD/BL14_PhenoClass.txt'
outfile=biggerfile+"_othermean.txt"
newcolnames=[]
biggerdf=pd.read_csv(biggerfile,sep="\t",header=None,skiprows=1)
pheno=pd.read_csv(phenfile,sep="\t", header=None, index_col=0)
biggerdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,chr1,1383317,1383319,0.928333,0.966000,0.919333,0.941333,0.631667,0.044333,0.9100,0.631667,0.0325,0.8670,0.8845,0.9480,0.9410,0.933333,chr1,1383318
1,chr1,1552946,1552948,0.967667,0.953333,0.958333,0.959667,0.651000,0.101000,0.9470,0.542667,0.5580,0.9460,0.9265,0.9760,1.0000,0.957000,chr1,1552947
2,chr1,1690203,1690205,0.985000,0.910667,0.943333,0.920333,0.203667,0.000000,0.8750,0.253333,0.1330,0.9360,0.9240,0.9285,0.9525,0.924000,chr1,1690204
3,chr1,1764065,1764067,0.979667,0.986333,0.961000,0.970333,0.834000,0.042333,0.9570,0.819000,0.0430,0.9805,0.9725,0.9430,0.9385,0.969000,chr1,1764066
4,chr1,1764069,1764071,0.970000,0.960000,0.923000,0.962000,0.589000,0.000000,0.8955,0.665000,0.0285,0.9500,0.9485,0.9815,0.9405,0.964333,chr1,1764070

In [2]:
with open (biggerfile) as f:
    line=f.readline()
    line=line.split("\n")
    colnames=line[0].split("\t")

In [3]:
totalcols=colnames+newcolnames

In [4]:
biggerdf.columns=totalcols


biggerdf=biggerdf.set_index(['chrom','start','end'])
biggerdf.head()

                            CD4       CD8        nB        NK        Mn  \
chrom start   end
chr1  1383317 1383319  0.928333  0.966000  0.919333  0.941333  0.631667
      1552946 1552948  0.967667  0.953333  0.958333  0.959667  0.651000
      1690203 1690205  0.985000  0.910667  0.943333  0.920333  0.203667
      1764065 1764067  0.979667  0.986333  0.961000  0.970333  0.834000
      1764069 1764071  0.970000  0.960000  0.923000  0.962000  0.589000

                           mNeu      m8        DC      Eo      Tr      m4  \
chrom start   end
chr1  1383317 1383319  0.044333  0.9100  0.631667  0.0325  0.8670  0.8845
      1552946 1552948  0.101000  0.9470  0.542667  0.5580  0.9460  0.9265
      1690203 1690205  0.000000  0.8750  0.253333  0.1330  0.9360  0.9240
      1764065 1764067  0.042333  0.9570  0.819000  0.0430  0.9805  0.9725
      1764069 1764071  0.000000  0.8955  0.665000  0.0285  0.9500  0.9485

                           Mg      Er        mB shouldbechrom      pos
chrom start   end
chr1  1383317 1383319  0.9480  0.9410  0.933333          chr1  1383318
      1552946 1552948  0.9760  1.0000  0.957000          chr1  1552947
      1690203 1690205  0.9285  0.9525  0.924000          chr1  1690204
      1764065 1764067  0.9430  0.9385  0.969000          chr1  1764066
      1764069 1764071  0.9815  0.9405  0.964333          chr1  1764070

In [5]:
allct=pheno.index.tolist()
allct

['CD4',
 'CD8',
 'nB',
 'NK',
 'Mn',
 'mNeu',
 'm8',
 'DC',
 'Eo',
 'Tr',
 'm4',
 'Mg',
 'Er',
 'mB']

In [6]:
biggerdf=biggerdf[allct]
biggerdf.head()

                            CD4       CD8        nB        NK        Mn  \
chrom start   end
chr1  1383317 1383319  0.928333  0.966000  0.919333  0.941333  0.631667
      1552946 1552948  0.967667  0.953333  0.958333  0.959667  0.651000
      1690203 1690205  0.985000  0.910667  0.943333  0.920333  0.203667
      1764065 1764067  0.979667  0.986333  0.961000  0.970333  0.834000
      1764069 1764071  0.970000  0.960000  0.923000  0.962000  0.589000

                           mNeu      m8        DC      Eo      Tr      m4  \
chrom start   end
chr1  1383317 1383319  0.044333  0.9100  0.631667  0.0325  0.8670  0.8845
      1552946 1552948  0.101000  0.9470  0.542667  0.5580  0.9460  0.9265
      1690203 1690205  0.000000  0.8750  0.253333  0.1330  0.9360  0.9240
      1764065 1764067  0.042333  0.9570  0.819000  0.0430  0.9805  0.9725
      1764069 1764071  0.000000  0.8955  0.665000  0.0285  0.9500  0.9485

                           Mg      Er        mB
chrom start   end
chr1  1383317 1383319  0.9480  0.9410  0.933333
      1552946 1552948  0.9760  1.0000  0.957000
      1690203 1690205  0.9285  0.9525  0.924000
      1764065 1764067  0.9430  0.9385  0.969000
      1764069 1764071  0.9815  0.9405  0.964333

In [7]:

deltacols=[]
for ct in allct:


    restct=allct.copy()
    restct.remove(ct)
    
    if len(restct)!=len(allct)-1:
        print("problem")
        sys.exit(1)
    
    
    
    tempcol=ct+"-others"
    
    deltacols.append(tempcol)
    biggerdf[tempcol]=biggerdf[ct]-biggerdf[restct].mean(axis=1)

In [8]:
biggerdf=biggerdf.reset_index()
biggerdf.head()

,chrom,start,end,CD4,CD8,nB,NK,Mn,mNeu,m8,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,1383317,1383319,0.928333,0.966000,0.919333,0.941333,0.631667,0.044333,0.9100,...,-0.133513,-0.766026,0.166231,-0.133513,-0.778769,0.119923,0.138769,0.207154,0.199615,0.191359
1,chr1,1552946,1552948,0.967667,0.953333,0.958333,0.959667,0.651000,0.101000,0.9470,...,-0.179244,-0.771551,0.139526,-0.295910,-0.279397,0.138449,0.117449,0.170756,0.196603,0.150295
2,chr1,1690203,1690205,0.985000,0.910667,0.943333,0.920333,0.203667,0.000000,0.8750,...,-0.541385,-0.760718,0.181590,-0.487897,-0.617487,0.247282,0.234359,0.239205,0.265051,0.234359
3,chr1,1764065,1764067,0.979667,0.986333,0.961000,0.970333,0.834000,0.042333,0.9570,...,0.021526,-0.831038,0.153987,0.005372,-0.830321,0.179295,0.170679,0.138910,0.134064,0.166910
4,chr1,1764069,1764071,0.970000,0.960000,0.923000,0.962000,0.589000,0.000000,0.8955,...,-0.194756,-0.829064,0.135321,-0.112910,-0.798372,0.194013,0.192397,0.227936,0.183782,0.209449

In [9]:
biggerdf=biggerdf.drop(['end'],axis=1)
biggerdf.head()

,chrom,start,CD4,CD8,nB,NK,Mn,mNeu,m8,DC,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,1383317,0.928333,0.966000,0.919333,0.941333,0.631667,0.044333,0.9100,0.631667,...,-0.133513,-0.766026,0.166231,-0.133513,-0.778769,0.119923,0.138769,0.207154,0.199615,0.191359
1,chr1,1552946,0.967667,0.953333,0.958333,0.959667,0.651000,0.101000,0.9470,0.542667,...,-0.179244,-0.771551,0.139526,-0.295910,-0.279397,0.138449,0.117449,0.170756,0.196603,0.150295
2,chr1,1690203,0.985000,0.910667,0.943333,0.920333,0.203667,0.000000,0.8750,0.253333,...,-0.541385,-0.760718,0.181590,-0.487897,-0.617487,0.247282,0.234359,0.239205,0.265051,0.234359
3,chr1,1764065,0.979667,0.986333,0.961000,0.970333,0.834000,0.042333,0.9570,0.819000,...,0.021526,-0.831038,0.153987,0.005372,-0.830321,0.179295,0.170679,0.138910,0.134064,0.166910
4,chr1,1764069,0.970000,0.960000,0.923000,0.962000,0.589000,0.000000,0.8955,0.665000,...,-0.194756,-0.829064,0.135321,-0.112910,-0.798372,0.194013,0.192397,0.227936,0.183782,0.209449

In [10]:

biggerdf=biggerdf.set_index(['chrom','start'])

biggerdf=biggerdf[deltacols]
biggerdf.head()

               CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  1383317    0.185974    0.226538   0.176282   0.199974  -0.133513
      1552946    0.161782    0.146346   0.151731   0.153167  -0.179244
      1690203    0.300051    0.220000   0.255179   0.230410  -0.541385
      1764065    0.178397    0.185577   0.158295   0.168346   0.021526
      1764069    0.215551    0.204782   0.164936   0.206936  -0.194756

               mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  1383317    -0.766026   0.166231  -0.133513  -0.778769   0.119923
      1552946    -0.771551   0.139526  -0.295910  -0.279397   0.138449
      1690203    -0.760718   0.181590  -0.487897  -0.617487   0.247282
      1764065    -0.831038   0.153987   0.005372  -0.830321   0.179295
      1764069    -0.829064   0.135321  -0.112910  -0.798372   0.194013

               m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  1383317   0.138769   0.207154   0.199615   0.191359
      1552946   0.117449   0.170756   0.196603   0.150295
      1690203   0.234359   0.239205   0.265051   0.234359
      1764065   0.170679   0.138910   0.134064   0.166910
      1764069   0.192397   0.227936   0.183782   0.209449

In [11]:
dup=biggerdf[biggerdf.index.duplicated()]
if dup.shape[0]!=0:
    print(dup)
    print('dup why??')

In [12]:
biggerdf.to_csv(outfile,sep="\t")