In [1]:
import pandas as pd
import re

import sys
biggerfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/veryefficient/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_intesectedwith_BL14ateast.2DMRs.txt'
phenfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/try2/preparesm/BL14_PhenoClass.txt'
outfile=biggerfile+"_othermean.txt"
newcolnames=[]
biggerdf=pd.read_csv(biggerfile,sep="\t",header=None,skiprows=1)
pheno=pd.read_csv(phenfile,sep="\t", header=None, index_col=0)
biggerdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,chr1,1221863,1221865,0.974667,0.861333,0.982000,0.148000,0.953333,0.985333,0.9810,0.901000,0.9045,0.9700,0.9175,0.8750,0.9130,0.880667,chr1,1221864
1,chr1,1221897,1221899,0.982667,0.900000,0.988000,0.156333,0.969333,0.975667,0.9545,0.924667,0.8805,0.9630,0.9165,0.9740,0.9520,0.923333,chr1,1221898
2,chr1,1222070,1222072,0.965000,0.898000,0.958000,0.063667,0.968333,0.935000,0.9210,0.923667,0.8430,0.9455,0.8615,0.9395,0.9165,0.934000,chr1,1222071
3,chr1,1222077,1222079,0.938667,0.861000,1.000000,0.055667,0.990000,0.918667,0.9525,0.892667,0.8475,0.9340,0.8335,0.9245,0.8985,0.911667,chr1,1222078
4,chr1,1222089,1222091,0.950667,0.874000,0.937667,0.058000,0.944667,0.879333,0.9300,0.860333,0.8515,0.9725,0.9255,0.9250,0.8965,0.904000,chr1,1222090

In [2]:
with open (biggerfile) as f:
    line=f.readline()
    line=line.split("\n")
    colnames=line[0].split("\t")

In [3]:
totalcols=colnames+newcolnames

In [4]:
biggerdf.columns=totalcols


biggerdf=biggerdf.set_index(['chrom','start','end'])
biggerdf.head()

                            CD4       CD8        nB        NK        Mn  \
chrom start   end
chr1  1221863 1221865  0.974667  0.861333  0.982000  0.148000  0.953333
      1221897 1221899  0.982667  0.900000  0.988000  0.156333  0.969333
      1222070 1222072  0.965000  0.898000  0.958000  0.063667  0.968333
      1222077 1222079  0.938667  0.861000  1.000000  0.055667  0.990000
      1222089 1222091  0.950667  0.874000  0.937667  0.058000  0.944667

                           mNeu      m8        DC      Eo      Tr      m4  \
chrom start   end
chr1  1221863 1221865  0.985333  0.9810  0.901000  0.9045  0.9700  0.9175
      1221897 1221899  0.975667  0.9545  0.924667  0.8805  0.9630  0.9165
      1222070 1222072  0.935000  0.9210  0.923667  0.8430  0.9455  0.8615
      1222077 1222079  0.918667  0.9525  0.892667  0.8475  0.9340  0.8335
      1222089 1222091  0.879333  0.9300  0.860333  0.8515  0.9725  0.9255

                           Mg      Er        mB shouldbechrom      pos
chrom start   end
chr1  1221863 1221865  0.8750  0.9130  0.880667          chr1  1221864
      1221897 1221899  0.9740  0.9520  0.923333          chr1  1221898
      1222070 1222072  0.9395  0.9165  0.934000          chr1  1222071
      1222077 1222079  0.9245  0.8985  0.911667          chr1  1222078
      1222089 1222091  0.9250  0.8965  0.904000          chr1  1222090

In [5]:
allct=pheno.index.tolist()
allct

['CD4',
 'CD8',
 'nB',
 'NK',
 'Mn',
 'mNeu',
 'm8',
 'DC',
 'Eo',
 'Tr',
 'm4',
 'Mg',
 'Er',
 'mB']

In [6]:
biggerdf=biggerdf[allct]
biggerdf.head()

                            CD4       CD8        nB        NK        Mn  \
chrom start   end
chr1  1221863 1221865  0.974667  0.861333  0.982000  0.148000  0.953333
      1221897 1221899  0.982667  0.900000  0.988000  0.156333  0.969333
      1222070 1222072  0.965000  0.898000  0.958000  0.063667  0.968333
      1222077 1222079  0.938667  0.861000  1.000000  0.055667  0.990000
      1222089 1222091  0.950667  0.874000  0.937667  0.058000  0.944667

                           mNeu      m8        DC      Eo      Tr      m4  \
chrom start   end
chr1  1221863 1221865  0.985333  0.9810  0.901000  0.9045  0.9700  0.9175
      1221897 1221899  0.975667  0.9545  0.924667  0.8805  0.9630  0.9165
      1222070 1222072  0.935000  0.9210  0.923667  0.8430  0.9455  0.8615
      1222077 1222079  0.918667  0.9525  0.892667  0.8475  0.9340  0.8335
      1222089 1222091  0.879333  0.9300  0.860333  0.8515  0.9725  0.9255

                           Mg      Er        mB
chrom start   end
chr1  1221863 1221865  0.8750  0.9130  0.880667
      1221897 1221899  0.9740  0.9520  0.923333
      1222070 1222072  0.9395  0.9165  0.934000
      1222077 1222079  0.9245  0.8985  0.911667
      1222089 1222091  0.9250  0.8965  0.904000

In [7]:

deltacols=[]
for ct in allct:


    restct=allct.copy()
    restct.remove(ct)
    
    if len(restct)!=len(allct)-1:
        print("problem")
        sys.exit(1)
    
    
    
    tempcol=ct+"-others"
    
    deltacols.append(tempcol)
    biggerdf[tempcol]=biggerdf[ct]-biggerdf[restct].mean(axis=1)

In [8]:
biggerdf=biggerdf.reset_index()
biggerdf.head()

,chrom,start,end,CD4,CD8,nB,NK,Mn,mNeu,m8,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,1221863,1221865,0.974667,0.861333,0.982000,0.148000,0.953333,0.985333,0.9810,...,0.084564,0.119026,0.114359,0.028205,0.031974,0.102513,0.045974,0.000205,0.041128,0.006308
1,chr1,1221897,1221899,0.982667,0.900000,0.988000,0.156333,0.969333,0.975667,0.9545,...,0.085397,0.092218,0.069423,0.037295,-0.010269,0.078577,0.028500,0.090423,0.066731,0.035859
2,chr1,1222070,1222072,0.965000,0.898000,0.958000,0.063667,0.968333,0.935000,0.9210,...,0.114154,0.078256,0.063179,0.066051,-0.020821,0.089564,-0.000897,0.083103,0.058333,0.077179
3,chr1,1222077,1222079,0.938667,0.861000,1.000000,0.055667,0.990000,0.918667,0.9525,...,0.146244,0.069423,0.105859,0.041423,-0.007218,0.085936,-0.022295,0.075705,0.047705,0.061885
4,chr1,1222089,1222091,0.950667,0.874000,0.937667,0.058000,0.944667,0.879333,0.9300,...,0.101205,0.030846,0.085410,0.010385,0.000872,0.131179,0.080564,0.080026,0.049333,0.057410

In [9]:
biggerdf=biggerdf.drop(['end'],axis=1)
biggerdf.head()

,chrom,start,CD4,CD8,nB,NK,Mn,mNeu,m8,DC,...,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1,1221863,0.974667,0.861333,0.982000,0.148000,0.953333,0.985333,0.9810,0.901000,...,0.084564,0.119026,0.114359,0.028205,0.031974,0.102513,0.045974,0.000205,0.041128,0.006308
1,chr1,1221897,0.982667,0.900000,0.988000,0.156333,0.969333,0.975667,0.9545,0.924667,...,0.085397,0.092218,0.069423,0.037295,-0.010269,0.078577,0.028500,0.090423,0.066731,0.035859
2,chr1,1222070,0.965000,0.898000,0.958000,0.063667,0.968333,0.935000,0.9210,0.923667,...,0.114154,0.078256,0.063179,0.066051,-0.020821,0.089564,-0.000897,0.083103,0.058333,0.077179
3,chr1,1222077,0.938667,0.861000,1.000000,0.055667,0.990000,0.918667,0.9525,0.892667,...,0.146244,0.069423,0.105859,0.041423,-0.007218,0.085936,-0.022295,0.075705,0.047705,0.061885
4,chr1,1222089,0.950667,0.874000,0.937667,0.058000,0.944667,0.879333,0.9300,0.860333,...,0.101205,0.030846,0.085410,0.010385,0.000872,0.131179,0.080564,0.080026,0.049333,0.057410

In [10]:

biggerdf=biggerdf.set_index(['chrom','start'])

biggerdf=biggerdf[deltacols]
biggerdf.head()

               CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  1221863    0.107538   -0.014513   0.115436  -0.782718   0.084564
      1221897    0.099756    0.010731   0.105500  -0.790141   0.085397
      1222070    0.110564    0.038410   0.103026  -0.860103   0.114154
      1222077    0.090962    0.007321   0.157013  -0.859962   0.146244
      1222089    0.107667    0.025103   0.093667  -0.853667   0.101205

               mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  1221863     0.119026   0.114359   0.028205   0.031974   0.102513
      1221897     0.092218   0.069423   0.037295  -0.010269   0.078577
      1222070     0.078256   0.063179   0.066051  -0.020821   0.089564
      1222077     0.069423   0.105859   0.041423  -0.007218   0.085936
      1222089     0.030846   0.085410   0.010385   0.000872   0.131179

               m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  1221863   0.045974   0.000205   0.041128   0.006308
      1221897   0.028500   0.090423   0.066731   0.035859
      1222070  -0.000897   0.083103   0.058333   0.077179
      1222077  -0.022295   0.075705   0.047705   0.061885
      1222089   0.080564   0.080026   0.049333   0.057410

In [11]:
dup=biggerdf[biggerdf.index.duplicated()]
if dup.shape[0]!=0:
    print(dup)
    print('dup why??')

In [12]:
biggerdf.to_csv(outfile,sep="\t")