In [1]:
import pandas as pd
import sys
import glob 
import os


infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/automate_v3_3steps/deltafolder_withend_shortname_int_deltafolder_withend_shortname_thresholdpos_allthresholdcombinations/naiveMyloid_CD8TIL_withend.txt_intwith_CD8TL_mel_withend.txtCD8TIL_-0.5_onlypos_int_activated_CD8TIL_withend.txtCD8TIL_-0.5_onlypos'

origfolder='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/automate_v3_3steps/deltafolder_withend_shortname'

outfile=infile+"_dummy.txt"






indf=pd.read_csv(infile,sep="\t")
indf.head()

  chrom    start      end  NaiveMyloid-others  CD8TIL-others
0  chr1  6202818  6202820            0.706212      -0.706212
1  chr1  7939056  7939058            0.787261      -0.787261
2  chr1  7939089  7939091            0.764207      -0.764207
3  chr1  7939179  7939181            0.677360      -0.677360
4  chr1  7939511  7939513            0.877802      -0.877802

In [2]:
def listdir_nohidden(path):
    return glob.glob(os.path.join(path, '*'))

origfiles=listdir_nohidden(origfolder)

columnsoforigfiles=[]
for orf in origfiles:
    orfdf=pd.read_csv(orf,sep='\t')
    orfdf.set_index(['chrom','start','end'], inplace=True)
    orfdfcolumns=set(orfdf.columns.tolist())
    columnsoforigfiles.append(orfdfcolumns)

In [3]:

columnsoforigfilesunion=list(set.union(*columnsoforigfiles))
columnsoforigfilesunion.sort()

columnsoforigfilesunion.insert(0, 'chrom')
columnsoforigfilesunion.insert(1, 'start')

In [4]:
total_compartments=columnsoforigfilesunion

finalcompartmentshouldbe=len(total_compartments)
total_compartments_set=set(total_compartments)

In [5]:
indfcolumns=set(indf.columns.tolist())
indfcolumns

{'CD8TIL-others', 'NaiveMyloid-others', 'chrom', 'end', 'start'}

In [6]:
missingcols=total_compartments_set-indfcolumns
missingcolslist=list(missingcols)
missingcolslist

['activated-others', 'MelTumor-others']

In [7]:
for micol in missingcolslist:
    indf[micol]=0.9

In [8]:
indf.head()

,chrom,start,end,NaiveMyloid-others,CD8TIL-others,activated-others,MelTumor-others
0,chr1,6202818,6202820,0.706212,-0.706212,0.9,0.9
1,chr1,7939056,7939058,0.787261,-0.787261,0.9,0.9
2,chr1,7939089,7939091,0.764207,-0.764207,0.9,0.9
3,chr1,7939179,7939181,0.677360,-0.677360,0.9,0.9
4,chr1,7939511,7939513,0.877802,-0.877802,0.9,0.9

In [9]:
outdf=indf.drop(['end'], axis=1)
if outdf.shape[1]!=finalcompartmentshouldbe:
    print(infile)
    print("error. Exiting")
    sys.exit(1)

In [10]:
outdf=outdf[total_compartments]
outdf.head()

,chrom,start,CD8TIL-others,MelTumor-others,NaiveMyloid-others,activated-others
0,chr1,6202818,-0.706212,0.9,0.706212,0.9
1,chr1,7939056,-0.787261,0.9,0.787261,0.9
2,chr1,7939089,-0.764207,0.9,0.764207,0.9
3,chr1,7939179,-0.677360,0.9,0.677360,0.9
4,chr1,7939511,-0.877802,0.9,0.877802,0.9

In [11]:
outdf.to_csv(outfile,sep="\t",index=False)