In [1]:
import pandas as pd
import sys
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/v3_3steps/thirdstepanalysis/try3/towardsSM/test/activated_CD8TIL_all_matrixCin_nr0.5_imputed_rowmean_bg_othermean.txt_withend.txt_intwith_naive_myloid_CD8TIL_OthermeanIINTWITH_melCD8TIL_activatted-.1_intwith_CD8TL_melCD8TIL_-0.7CD8TIL_-0.7_onlypos'
outfile=infile+"_dummy.txt"




total_compartments=['chrom','start','CD8TIL-others','MelTumor-others','activated-others','NaiveMyloid-others']

finalcompartmentshouldbe=len(total_compartments)
total_compartments_set=set(total_compartments)

indf=pd.read_csv(infile,sep="\t")
indf.head()

  chrom    start      end  activated-others  CD8TIL-others
0  chr1  1053242  1053244          0.144941      -0.144941
1  chr1  1099266  1099268          0.265333      -0.265333
2  chr1  1099418  1099420          0.369733      -0.369733
3  chr1  1216788  1216790          0.199444      -0.199444
4  chr1  1216816  1216818          0.349600      -0.349600

In [2]:
indfcolumns=set(indf.columns.tolist())
indfcolumns

{'CD8TIL-others', 'activated-others', 'chrom', 'end', 'start'}

In [3]:
missingcols=total_compartments_set-indfcolumns
missingcolslist=list(missingcols)
missingcolslist

['NaiveMyloid-others', 'MelTumor-others']

In [4]:
for micol in missingcolslist:
    indf[micol]=0.9

In [5]:
indf.head()

,chrom,start,end,activated-others,CD8TIL-others,NaiveMyloid-others,MelTumor-others
0,chr1,1053242,1053244,0.144941,-0.144941,0.9,0.9
1,chr1,1099266,1099268,0.265333,-0.265333,0.9,0.9
2,chr1,1099418,1099420,0.369733,-0.369733,0.9,0.9
3,chr1,1216788,1216790,0.199444,-0.199444,0.9,0.9
4,chr1,1216816,1216818,0.349600,-0.349600,0.9,0.9

In [6]:
outdf=indf.drop(['end'], axis=1)
if outdf.shape[1]!=finalcompartmentshouldbe:
    print(infile)
    print("error. Exiting")
    sys.exit(1)

In [7]:
outdf=outdf[total_compartments]
outdf.head()

,chrom,start,CD8TIL-others,MelTumor-others,activated-others,NaiveMyloid-others
0,chr1,1053242,-0.144941,0.9,0.144941,0.9
1,chr1,1099266,-0.265333,0.9,0.265333,0.9
2,chr1,1099418,-0.369733,0.9,0.369733,0.9
3,chr1,1216788,-0.199444,0.9,0.199444,0.9
4,chr1,1216816,-0.349600,0.9,0.349600,0.9

In [8]:
outdf.to_csv(outfile,sep="\t",index=False)