In [1]:
import pandas as pd
from collections import defaultdict

infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/v3_3steps/thirdstepanalysis/try2/naive_myloid_CD8TIL_OthermeanIINTWITH_melCD8TIL_activatted-.1'

thresh=-.1

cellType='CD8TIL'

indf=pd.read_csv(infile,sep="\t",index_col=['chrom','start','end'])
indf.head()

                     NaiveMyloid-others  CD8TIL-others
chrom start  end
chr1  965868 965870            0.276694      -0.276694
      965889 965891            0.175824      -0.175824
      965932 965934            0.143775      -0.143775
      965991 965993            0.005459      -0.005459
      965997 965999            0.064640      -0.064640

In [2]:
indf['mincolname']=indf.idxmin(axis=1)
indf.head()

                     NaiveMyloid-others  CD8TIL-others     mincolname
chrom start  end
chr1  965868 965870            0.276694      -0.276694  CD8TIL-others
      965889 965891            0.175824      -0.175824  CD8TIL-others
      965932 965934            0.143775      -0.143775  CD8TIL-others
      965991 965993            0.005459      -0.005459  CD8TIL-others
      965997 965999            0.064640      -0.064640  CD8TIL-others

In [3]:
CTspecific=indf[(indf['mincolname']==cellType+"-others") & (indf[cellType+"-others"]<=thresh)]
CTspecific.head()

                     NaiveMyloid-others  CD8TIL-others     mincolname
chrom start  end
chr1  965868 965870            0.276694      -0.276694  CD8TIL-others
      965889 965891            0.175824      -0.175824  CD8TIL-others
      965932 965934            0.143775      -0.143775  CD8TIL-others
      973625 973627            0.730712      -0.730712  CD8TIL-others
      983075 983077            0.339054      -0.339054  CD8TIL-others

In [4]:
CTspecific.shape

(83906, 3)

In [5]:
CTspecific[cellType+"-others"].min()

-0.9845833333333334

In [6]:
CTspecific[cellType+"-others"].max()

-0.10000000000000002

In [7]:
outdf=CTspecific.reset_index()
outdf.head()

  chrom   start     end  NaiveMyloid-others  CD8TIL-others     mincolname
0  chr1  965868  965870            0.276694      -0.276694  CD8TIL-others
1  chr1  965889  965891            0.175824      -0.175824  CD8TIL-others
2  chr1  965932  965934            0.143775      -0.143775  CD8TIL-others
3  chr1  973625  973627            0.730712      -0.730712  CD8TIL-others
4  chr1  983075  983077            0.339054      -0.339054  CD8TIL-others

In [8]:
outdf[cellType+"-others"].min()

-0.9845833333333334

In [9]:
outdf[cellType+"-others"].max()

-0.10000000000000002

In [10]:
outdf=outdf[['chrom','start','end']]
outdf.head()

  chrom   start     end
0  chr1  965868  965870
1  chr1  965889  965891
2  chr1  965932  965934
3  chr1  973625  973627
4  chr1  983075  983077

In [11]:
outdf.shape

(83906, 3)

In [12]:
outdf.to_csv(infile+cellType+"_"+str(thresh)+"_onlypos",sep="\t",index=False,header=False)