In [1]:
import pandas as pd
from collections import defaultdict
import sys
import time
start_time = time.time()

infile="/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/v3_3steps/thirdstepanalysis/try3/naive_myloid_CD8TIL_OthermeanIINTWITH_melCD8TIL_activatted-.5_intwith_CD8tilmel-.9"


outfile=infile


##########when WG just chrom start, else chrom start end
indf=pd.read_csv(infile,sep="\t",index_col=['chrom','start','end']) #############



indf.head()

                         NaiveMyloid-others  CD8TIL-others
chrom start    end
chr1  40388990 40388992            0.613333      -0.613333
      40389034 40389036            0.570917      -0.570917
      42930753 42930755            0.819108      -0.819108
      47308236 47308238            0.840167      -0.840167
      52919601 52919603            0.781802      -0.781802

In [2]:
negindf=-1*indf
negindf.head()

                         NaiveMyloid-others  CD8TIL-others
chrom start    end
chr1  40388990 40388992           -0.613333       0.613333
      40389034 40389036           -0.570917       0.570917
      42930753 42930755           -0.819108       0.819108
      47308236 47308238           -0.840167       0.840167
      52919601 52919603           -0.781802       0.781802

In [3]:
alldelta=[.05,.1,.2,.3,.4,.5,.6,.7,.8,0.9]

In [4]:
scorecolumns=negindf.columns

In [5]:
celltypeStats=defaultdict(list)

allindex=defaultdict(list)
for score in scorecolumns:

    for delta in alldelta:
        tmpdf=negindf[negindf[score]>=delta]
        allindex[delta]=allindex[delta]+tmpdf.index.tolist()
        
        celltypeStats[score]=celltypeStats[score]+[tmpdf.shape[0]]

In [6]:
celltypeStatsdf=pd.DataFrame.from_dict(celltypeStats, orient='index',columns=alldelta)
celltypeStatsdf.index.name = 'Celltype'
celltypeStatsdf.head()

                    0.05  0.10  0.20  0.30  0.40  0.50  0.60  0.70  0.80  0.90
Celltype
NaiveMyloid-others     0     0     0     0     0     0     0     0     0     0
CD8TIL-others        110   110   109   109   103   101    99    94    75     8

In [7]:
celltypeStatsdf.to_csv(outfile+"_stats.txt",sep="\t")

In [8]:
alluniqueindexlen=defaultdict(list)
for key in allindex:
    alluniqueindexlen[key].append(len(set(allindex[key])))

In [9]:
alluniqueindexlen

defaultdict(list,
            {0.05: [110],
             0.1: [110],
             0.2: [109],
             0.3: [109],
             0.4: [103],
             0.5: [101],
             0.6: [99],
             0.7: [94],
             0.8: [75],
             0.9: [8]})

In [10]:
alluniqueindexlendf=pd.DataFrame.from_dict(alluniqueindexlen)
alluniqueindexlendf.head()

   0.05  0.10  0.20  0.30  0.40  0.50  0.60  0.70  0.80  0.90
0   110   110   109   109   103   101    99    94    75     8

In [11]:
alluniqueindexlendf.to_csv(outfile+"_uniquecpgs.txt",sep="\t")

In [12]:
end_time = time.time()

time_elapsed = (end_time - start_time)

print(time_elapsed)

0.1393721103668213