In [1]:
import pandas as pd
from collections import defaultdict
import sys
import time
start_time = time.time()

infile="/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/testtheidea/softRD_pileup/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_intesectedwith_BL14ateast.2DMRs.txt_othermean.txt"


outfile=infile

indf=pd.read_csv(infile,sep="\t",index_col=['chrom','start'])



indf.head()

               CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  1221863    0.107538   -0.014513   0.115436  -0.782718   0.084564
      1221897    0.099756    0.010731   0.105500  -0.790141   0.085397
      1222070    0.110564    0.038410   0.103026  -0.860103   0.114154
      1222077    0.090962    0.007321   0.157013  -0.859962   0.146244
      1222089    0.107667    0.025103   0.093667  -0.853667   0.101205

               mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  1221863     0.119026   0.114359   0.028205   0.031974   0.102513
      1221897     0.092218   0.069423   0.037295  -0.010269   0.078577
      1222070     0.078256   0.063179   0.066051  -0.020821   0.089564
      1222077     0.069423   0.105859   0.041423  -0.007218   0.085936
      1222089     0.030846   0.085410   0.010385   0.000872   0.131179

               m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  1221863   0.045974   0.000205   0.041128   0.006308
      1221897   0.028500   0.090423   0.066731   0.035859
      1222070  -0.000897   0.083103   0.058333   0.077179
      1222077  -0.022295   0.075705   0.047705   0.061885
      1222089   0.080564   0.080026   0.049333   0.057410

In [2]:
negindf=-1*indf
negindf.head()

               CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start
chr1  1221863   -0.107538    0.014513  -0.115436   0.782718  -0.084564
      1221897   -0.099756   -0.010731  -0.105500   0.790141  -0.085397
      1222070   -0.110564   -0.038410  -0.103026   0.860103  -0.114154
      1222077   -0.090962   -0.007321  -0.157013   0.859962  -0.146244
      1222089   -0.107667   -0.025103  -0.093667   0.853667  -0.101205

               mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start
chr1  1221863    -0.119026  -0.114359  -0.028205  -0.031974  -0.102513
      1221897    -0.092218  -0.069423  -0.037295   0.010269  -0.078577
      1222070    -0.078256  -0.063179  -0.066051   0.020821  -0.089564
      1222077    -0.069423  -0.105859  -0.041423   0.007218  -0.085936
      1222089    -0.030846  -0.085410  -0.010385  -0.000872  -0.131179

               m4-others  Mg-others  Er-others  mB-others
chrom start
chr1  1221863  -0.045974  -0.000205  -0.041128  -0.006308
      1221897  -0.028500  -0.090423  -0.066731  -0.035859
      1222070   0.000897  -0.083103  -0.058333  -0.077179
      1222077   0.022295  -0.075705  -0.047705  -0.061885
      1222089  -0.080564  -0.080026  -0.049333  -0.057410

In [3]:
alldelta=[.05,.1,.5,.6,.7,.8,0.9]

In [4]:
scorecolumns=negindf.columns

In [5]:
celltypeStats=defaultdict(list)

allindex=defaultdict(list)
for score in scorecolumns:

    for delta in alldelta:
        tmpdf=negindf[negindf[score]>=delta]
        allindex[delta]=allindex[delta]+tmpdf.index.tolist()
        
        celltypeStats[score]=celltypeStats[score]+[tmpdf.shape[0]]

In [6]:
celltypeStatsdf=pd.DataFrame.from_dict(celltypeStats, orient='index',columns=alldelta)
celltypeStatsdf.index.name = 'Celltype'
celltypeStatsdf.head()

            0.05  0.10  0.50  0.60  0.70  0.80  0.90
Celltype
CD4-others   309   264   134    87    35     4     0
CD8-others   525   448   241   192   100     8     0
nB-others    934   709   492   453   395   241    24
NK-others   1367  1304  1169  1134  1066   821   127
Mn-others    543   405   130    78    23     4     0

In [7]:
celltypeStatsdf.to_csv(outfile+"_stats.txt",sep="\t")

In [8]:
alluniqueindexlen=defaultdict(list)
for key in allindex:
    alluniqueindexlen[key].append(len(set(allindex[key])))

In [9]:
alluniqueindexlen

defaultdict(list,
            {0.05: [6869],
             0.1: [6867],
             0.5: [6338],
             0.6: [5743],
             0.7: [4866],
             0.8: [3387],
             0.9: [771]})

In [10]:
alluniqueindexlendf=pd.DataFrame.from_dict(alluniqueindexlen)
alluniqueindexlendf.head()

   0.05  0.10  0.50  0.60  0.70  0.80  0.90
0  6869  6867  6338  5743  4866  3387   771

In [11]:
alluniqueindexlendf.to_csv(outfile+"_uniquecpgs.txt",sep="\t")

In [12]:
end_time = time.time()

time_elapsed = (end_time - start_time)

print(time_elapsed)

0.22331690788269043