In [1]:
import pandas as pd 
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/convertprevTILtodeltabased/readyforbamgenerate/BL22LTMEtraining_oldSM_AUC1.txt'


indf=pd.read_csv(infile,sep="\t")

indf.head()

   chrom      start
0   chr3   48773066
1   chr3  138232377
2  chr12   76769087
3   chr5    5463864
4   chr8   89970202

In [2]:
indf['newstart']=indf['start']-10
indf['newend']=indf['start']+10
indf.head()

   chrom      start   newstart     newend
0   chr3   48773066   48773056   48773076
1   chr3  138232377  138232367  138232387
2  chr12   76769087   76769077   76769097
3   chr5    5463864    5463854    5463874
4   chr8   89970202   89970192   89970212

In [3]:
outdf=indf[['chrom','newstart','newend']]

outdf.head()

   chrom   newstart     newend
0   chr3   48773056   48773076
1   chr3  138232367  138232387
2  chr12   76769077   76769097
3   chr5    5463854    5463874
4   chr8   89970192   89970212

In [4]:
outdf.to_csv(infile+"towardsreadyforbam",sep="\t",index=False,header=False)