In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
chrom_file = 'BL14_atleast.2_top-1_singleCpG_final_assignedref_uniq.txt'
DMR_file = 'BL14_atleast.2_top-1_singleCpG_final_record.txt'

chrom_data = pd.read_csv(chrom_file, sep='\t')
DMR_data = pd.read_csv(DMR_file, sep='\t')

df_chrom = pd.DataFrame(chrom_data)
df_DMR = pd.DataFrame(DMR_data)

DMR_nums = [5, 10, 20, 30,40,50]
outfol = 'downsamples_number'

In [3]:
chrom = list(df_chrom['chrom'])
start = list(df_chrom['start'])

df_DMR_new = pd.DataFrame(columns=list(df_DMR.columns))

df_chrom

     chrom     start       end celltype
0     chr1  12168469  12168471     [Tr]
1     chr1  12168485  12168487     [Tr]
2     chr1  12168489  12168491     [Tr]
3     chr1  12168553  12168555     [Tr]
4     chr1  12168794  12168796     [Tr]
...    ...       ...       ...      ...
6866  chr8  66026577  66026579    [CD4]
6867  chr8  66026582  66026584    [CD4]
6868  chr8  66026584  66026586    [CD4]
6869  chr8  66026708  66026710    [CD4]
6870  chr8  66026881  66026883    [CD4]

[6871 rows x 4 columns]

In [4]:
for i in range(len(chrom)):
    df_out = df_DMR[(df_DMR['chrom'] == chrom[i]) & (df_DMR['start'] == start[i])]
    if len(df_out) != 1:
        print(len(df_out))
    df_DMR_new = pd.concat([df_DMR_new, df_out])

In [5]:
df_DMR_new

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6866   chr8  66026537  66026883  chr8  66026577  66026579    [CD4]
6867   chr8  66026537  66026883  chr8  66026582  66026584    [CD4]
6868   chr8  66026537  66026883  chr8  66026584  66026586    [CD4]
6869   chr8  66026537  66026883  chr8  66026708  66026710    [CD4]
6870   chr8  66026537  66026883  chr8  66026881  66026883    [CD4]

[6871 rows x 7 columns]

In [6]:
def generate_df(df_DMRs, num):
    df_quart = pd.DataFrame(columns=df_DMRs.columns)
    cells = np.array(df_DMRs.drop_duplicates(subset=['celltype'])['celltype'])
    
    for cell in cells:
        df_cell = df_DMR_new[df_DMR_new['celltype'] == cell]
        df_cell_unique = df_cell.drop_duplicates(subset=['DMRchr', 'DMRstart', 'DMRend'])
        if num <= len(df_cell_unique):
            df_samp = df_cell_unique.sample(n=num)
        else:
            df_samp = df_cell_unique
        DMR_chr = np.array(df_samp['DMRchr'])
        DMR_start = np.array(df_samp['DMRstart'])
        df_final = df_cell[(df_cell['DMRchr'].isin(DMR_chr)) & (df_cell['DMRstart'].isin(DMR_start))]
        df_quart = pd.concat([df_quart, df_final])
        
    return df_quart

In [7]:

os.mkdir(outfol)

for num in DMR_nums:
    df_out = generate_df(df_DMR_new, num)
    display(df_out)
    df_out.to_csv(outfol + '/DMR' + str(num) + '.txt', sep='\t', index=False)

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6849   chr6  33630045  33630328  chr6  33630106  33630108    [CD4]
6850   chr6  33630045  33630328  chr6  33630126  33630128    [CD4]
6851   chr6  33630045  33630328  chr6  33630225  33630227    [CD4]
6852   chr6  33630045  33630328  chr6  33630307  33630309    [CD4]
6853   chr6  33630045  33630328  chr6  33630326  33630328    [CD4]

[739 rows x 7 columns]

     DMRchr  DMRstart    DMRend  chrom     start       end celltype
31    chr10  17660300  17660757  chr10  17660299  17660301     [Tr]
32    chr10  17660300  17660757  chr10  17660476  17660478     [Tr]
33    chr10  17660300  17660757  chr10  17660540  17660542     [Tr]
34    chr10  17660300  17660757  chr10  17660560  17660562     [Tr]
35    chr10  17660300  17660757  chr10  17660598  17660600     [Tr]
...     ...       ...       ...    ...       ...       ...      ...
6849   chr6  33630045  33630328   chr6  33630106  33630108    [CD4]
6850   chr6  33630045  33630328   chr6  33630126  33630128    [CD4]
6851   chr6  33630045  33630328   chr6  33630225  33630227    [CD4]
6852   chr6  33630045  33630328   chr6  33630307  33630309    [CD4]
6853   chr6  33630045  33630328   chr6  33630326  33630328    [CD4]

[1359 rows x 7 columns]

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6866   chr8  66026537  66026883  chr8  66026577  66026579    [CD4]
6867   chr8  66026537  66026883  chr8  66026582  66026584    [CD4]
6868   chr8  66026537  66026883  chr8  66026584  66026586    [CD4]
6869   chr8  66026537  66026883  chr8  66026708  66026710    [CD4]
6870   chr8  66026537  66026883  chr8  66026881  66026883    [CD4]

[2348 rows x 7 columns]

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6866   chr8  66026537  66026883  chr8  66026577  66026579    [CD4]
6867   chr8  66026537  66026883  chr8  66026582  66026584    [CD4]
6868   chr8  66026537  66026883  chr8  66026584  66026586    [CD4]
6869   chr8  66026537  66026883  chr8  66026708  66026710    [CD4]
6870   chr8  66026537  66026883  chr8  66026881  66026883    [CD4]

[3019 rows x 7 columns]

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6866   chr8  66026537  66026883  chr8  66026577  66026579    [CD4]
6867   chr8  66026537  66026883  chr8  66026582  66026584    [CD4]
6868   chr8  66026537  66026883  chr8  66026584  66026586    [CD4]
6869   chr8  66026537  66026883  chr8  66026708  66026710    [CD4]
6870   chr8  66026537  66026883  chr8  66026881  66026883    [CD4]

[3559 rows x 7 columns]

     DMRchr  DMRstart    DMRend chrom     start       end celltype
0      chr1  12168470  12169152  chr1  12168469  12168471     [Tr]
1      chr1  12168470  12169152  chr1  12168485  12168487     [Tr]
2      chr1  12168470  12169152  chr1  12168489  12168491     [Tr]
3      chr1  12168470  12169152  chr1  12168553  12168555     [Tr]
4      chr1  12168470  12169152  chr1  12168794  12168796     [Tr]
...     ...       ...       ...   ...       ...       ...      ...
6866   chr8  66026537  66026883  chr8  66026577  66026579    [CD4]
6867   chr8  66026537  66026883  chr8  66026582  66026584    [CD4]
6868   chr8  66026537  66026883  chr8  66026584  66026586    [CD4]
6869   chr8  66026537  66026883  chr8  66026708  66026710    [CD4]
6870   chr8  66026537  66026883  chr8  66026881  66026883    [CD4]

[4023 rows x 7 columns]