In [4]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/uisnglinux/readcalculate/BL14_genebody.1delta_readyforbam_merged.txt'
outfile=infile
indf=pd.read_csv(infile,sep="\t",header=None)

indf.head()

      0       1       2
0  chr1  687183  687205
1  chr1  687318  687340
2  chr1  923015  923037
3  chr1  923043  923093
4  chr1  923156  923189

In [5]:
indf['bp']=indf[2]-indf[1]
indf.head()

      0       1       2  bp
0  chr1  687183  687205  22
1  chr1  687318  687340  22
2  chr1  923015  923037  22
3  chr1  923043  923093  50
4  chr1  923156  923189  33

In [6]:
totalbp=indf['bp'].sum()

In [7]:
totalbp

97673012

In [8]:
read=totalbp*1/3

In [9]:
read

32557670.666666668

In [ ]:
f = open(outfile+"_readcal.txt", "w")
f.write("required read for 30x " + str(read))