In [1]:
import pandas as pd

genelist='/Users/irffanalahi/Research/Research_update/GENE/TCR_VDJ/HGNC_IDApproved_symbolApproved_nameStatusLocus.txt'

UCSC_genetrack='/Users/irffanalahi/Research/Research_update/GENE/TCR_VDJ/All_Genecode_V40_gene.txt'


geneDF=pd.read_csv(genelist,sep='\t')

geneDF.head()

,HGNC ID,Approved symbol,Approved name,Status,Locus type,Previous symbols,Alias symbols,Chromosome,NCBI Gene ID,Ensembl gene ID,Vega gene ID,Group ID,Group name
0,HGNC:12027,TRA,T cell receptor alpha locus,Approved,gene with protein product,"TCRA, TRA@",NaN,14q11.2,6955,NaN,NaN,371,T cell receptor alpha locus at 14q11.2
1,HGNC:12146,TRAV8-1,T cell receptor alpha variable 8-1,Approved,T cell receptor gene,NaN,NaN,14q11.2,28685,ENSG00000211782,OTTHUMG00000168986,371,T cell receptor alpha locus at 14q11.2
2,HGNC:12076,TRAJ45,T cell receptor alpha joining 45,Approved,T cell receptor gene,NaN,NaN,14q11.2,28710,ENSG00000211844,OTTHUMG00000170922,371,T cell receptor alpha locus at 14q11.2
3,HGNC:12077,TRAJ46,T cell receptor alpha joining 46,Approved,T cell receptor gene,NaN,NaN,14q11.2,28709,ENSG00000211843,OTTHUMG00000170921,371,T cell receptor alpha locus at 14q11.2
4,HGNC:12078,TRAJ47,T cell receptor alpha joining 47,Approved,T cell receptor gene,NaN,NaN,14q11.2,28708,ENSG00000211842,OTTHUMG00000170920,371,T cell receptor alpha locus at 14q11.2

In [2]:
geneDF.shape

(247, 13)

In [3]:
UCSC_genedf=pd.read_csv(UCSC_genetrack,sep='\t')
UCSC_genedf.head()

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,0,ENST00000684719.1,chr1,-,67092164,67134970,67093004,67127240,8,"67092164,67095234,67096251,67115351,67125751,6...","67093604,67095421,67096321,67115464,67125909,6...",0,C1orf141,cmpl,cmpl,"0,2,1,2,0,0,-1,-1,"
1,0,ENST00000371007.6,chr1,-,67092164,67231852,67093004,67127240,8,"67092164,67095234,67096251,67115351,67125751,6...","67093604,67095421,67096321,67115464,67125909,6...",0,C1orf141,cmpl,cmpl,"0,2,1,2,0,0,-1,-1,"
2,0,ENST00000371006.5,chr1,-,67092175,67127261,67093004,67127240,6,"67092175,67095234,67096251,67115351,67125751,6...","67093604,67095421,67096321,67115464,67125909,6...",0,C1orf141,cmpl,cmpl,"0,2,1,2,0,0,"
3,0,ENST00000475209.6,chr1,-,67092175,67127261,67093579,67127240,7,"67092175,67096251,67103237,67111576,67115351,6...","67093604,67096321,67103382,67111644,67115464,6...",0,C1orf141,cmpl,cmpl,"2,1,0,1,2,0,0,"
4,0,ENST00000371004.6,chr1,-,67092394,67134970,67092394,67092394,5,"67092394,67125751,67127165,67131141,67134929,","67096321,67125909,67127257,67131227,67134970,",0,C1orf141,none,none,"-1,-1,-1,-1,-1,"

In [4]:
UCSC_genedf.shape

(245791, 16)

In [5]:
merged=geneDF.merge(UCSC_genedf,left_on='Approved symbol',right_on='name2')
merged.shape

(262, 29)

In [6]:
len(set(merged['Approved symbol'].tolist()))

196

In [7]:
#set(geneDF['Approved symbol'].tolist())-set(merged['Approved symbol'].tolist())

In [8]:
#merged[merged.duplicated(subset=['Approved symbol'])]

In [9]:
set(merged['chrom'].tolist())

{'chr14', 'chr7', 'chr7_KI270803v1_alt', 'chr9'}

In [10]:
merged=merged[merged['chrom']!='chr7_KI270803v1_alt']

In [11]:
merged.shape

(196, 29)

In [12]:
merged['padded_txStart']=merged['txStart']-1000
merged['padded_txEnd']=merged['txEnd']+1000

In [13]:
outdf=merged[['chrom','padded_txStart','padded_txEnd']]
outdf.head()

   chrom  padded_txStart  padded_txEnd
0  chr14        21796286      21798886
1  chr14        22492924      22494990
2  chr14        22492402      22494465
3  chr14        22491850      22493907
4  chr14        22489490      22491553

In [ ]:
#save both nameand unnamed versions