In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/largerEXP/BL22genepromdelta.7/insilico/training/bestrefperfforTEST/ROC_plots/BL22_binned/troubleshooting/finalize/finalize2/BL22_genepromSM_0.7.txt_TRAININGbestref.txt_result_dupindex_binnedstats.pkl_optCutpoint_TPR_FPR.txt'



##cell type as index###

indf=pd.read_csv(infile,sep="\t",index_col=0)
indf.head()

               TPR       FPR
celltype
Eo        1.000000  0.040657
Er        0.977941  0.037611
M0        0.911765  0.179619
M1        0.850000  0.140075
M2        0.940828  0.147554

In [2]:
standardnamedict={"M0":"Mac (M0)","M1":"Mac (M1)","M2":"Mac (M2)","NaiveCD4":"Naive CD4 T","NaiveCD8":"Naive CD8","CD4": "Naive CD4", "CD8": "Naive CD8 T","mB":"Memory B",'Mn':'Mono','CD14':'Mono','CD19':'B Cell','nB':'Naive B','PC':'PC','cm8':'CD8 TCM','em8':'CD8 TEM','m8':'CD8 memory','ed8':'CD8 TEMRA','cm4':'CD4 TCM','em4':'CD4 TEM','m4':'CD4 memory','mNeu':'PMN','Eo':'Eosinophil','Tr':'Tregs','Mg':'Megakaryocyte','Er':'Erythrocyte'}

In [3]:
outdf=indf.copy()
outdf.rename(columns=standardnamedict,inplace=True)
outdf.head()

               TPR       FPR
celltype
Eo        1.000000  0.040657
Er        0.977941  0.037611
M0        0.911765  0.179619
M1        0.850000  0.140075
M2        0.940828  0.147554

In [4]:
outdf.to_csv(infile+"_ctrename.txt",sep="\t")