In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/B22withLTME/towarsbestREF/helpfromBL22/diagnosis/gene_related/withpatientpbl/heat_bilge/BL22LTMEwithPatientPBL_Phenoclass.txt'


##cell type as index###

indf=pd.read_csv(infile,sep="\t",index_col=0,header=None)
indf.head()

,1,2,3,4,5,6,7,8,9,10,...,63,64,65,66,67,68,69,70,71,72
0,,,,,,,,,,,,,,,,,,,,,
Naive CD4,1,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive CD8,2,2,2,1,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive B cell,2,2,2,2,2,2,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
NK,2,2,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
Palsma,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [2]:
standardnamedict={"M0":"Macs_M0","M1":"Macs_M1","M2":"Macs_M2","Er":"Erythrocyte","NaiveCD4":"Naive CD4","NaiveCD8":"Naive CD8","CD4": "Naive CD4", "CD8": "Naive CD8","mB":"Memory B cell",'Mn':'Mono','CD14':'Mono','CD19':'B Cell','nB':'Naive B cell','PC':'Plasma','cm8':'CD8 central memory','em8':'CD8 effector memory','m8':'CD8 memory','ed8':'CD8 effector','cm4':'CD4 central memory','em4':'CD4 effector memory','m4':'CD4 memory','mNeu':'PMN','Eo':'Eosinophil','Tr':'Tregs','Mg':'Megakaryocyte'}

In [3]:
outdf=indf.copy()
outdf.rename(index=standardnamedict,inplace=True)
outdf.head()

,1,2,3,4,5,6,7,8,9,10,...,63,64,65,66,67,68,69,70,71,72
0,,,,,,,,,,,,,,,,,,,,,
Naive CD4,1,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive CD8,2,2,2,1,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive B cell,2,2,2,2,2,2,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
NK,2,2,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
Palsma,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [4]:
outdf.to_csv(infile+"_ctrename.txt",sep="\t",header=False)