In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/cm4_em4_NK_heatmap/heats/BL22_Phenoclass.txt'


##cell type as index###

indf=pd.read_csv(infile,sep="\t",index_col=0,header=None)
indf.head()

,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
0,,,,,,,,,,,,,,,,,,,,,
NaiveCD4,1,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
NaiveCD8,2,2,2,1,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
nB,2,2,2,2,2,2,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
NK,2,2,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
PC,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [2]:
standardnamedict={"M0":"Macrophage (M0)","M1":"Macrophage (M1)","M2":"Macrophage (M2)","Er":"Erythroblast","NaiveCD4":"Naive CD4 T","NaiveCD8":"Naive CD8 T","CD4": "Naive CD4 T", "CD8": "Naive CD8 T","mB":"Memory B",'Mn':'Mono','CD14':'Mono','CD19':'B Cell','nB':'Naive B','PC':'PC','cm8':'CD8 TCM','em8':'CD8 TEM','m8':'CD8 memory','ed8':'CD8 TEMRA','cm4':'CD4 TCM','em4':'CD4 TEM','m4':'CD4 memory','mNeu':'PMN','Eo':'Eosinophil','Tr':'Tregs','Mg':'Megakaryocyte'}

In [3]:
outdf=indf.copy()
outdf.rename(index=standardnamedict,inplace=True)
outdf.head()

,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
0,,,,,,,,,,,,,,,,,,,,,
Naive CD4 T,1,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive CD8 T,2,2,2,1,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Naive B,2,2,2,2,2,2,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
NK,2,2,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
PC,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [4]:
outdf.to_csv(infile+"_ctrename.txt",sep="\t",header=False)