In [1]:
import pandas as pd
import sys

infile="/Users/irffanalahi/Research/Research_code/gitignorefolder/pdacepcamcanerdiscovery/input2/GSM4928782_PDAC1-Ep_raw.bed"
outname="/Users/irffanalahi/Research/Research_code/gitignorefolder/pdacepcamcanerdiscovery/GSM4928782_PDAC1-Ep_raw.bed_full.txt"
indf=pd.read_csv(infile,sep="\t",header=None)

indf.head()

      0        1        2        3      4  5
0  chr1  10468.0  10470.0  '72/94'  765.0  +
1  chr1  10470.0  10472.0  '74/92'  804.0  +
2  chr1  10483.0  10485.0  '74/88'  840.0  +
3  chr1  10488.0  10490.0  '76/91'  835.0  +
4  chr1  10492.0  10494.0  '72/90'  800.0  +

In [2]:
indf=indf.drop([3,5],axis=1)

In [3]:
indf.head()

      0        1        2      4
0  chr1  10468.0  10470.0  765.0
1  chr1  10470.0  10472.0  804.0
2  chr1  10483.0  10485.0  840.0
3  chr1  10488.0  10490.0  835.0
4  chr1  10492.0  10494.0  800.0

In [4]:
indf=indf.dropna()

In [5]:
indf[4]=indf[4]/1000*1.0

In [6]:
indf.head()

      0        1        2      4
0  chr1  10468.0  10470.0  0.765
1  chr1  10470.0  10472.0  0.804
2  chr1  10483.0  10485.0  0.840
3  chr1  10488.0  10490.0  0.835
4  chr1  10492.0  10494.0  0.800

In [7]:
minval=indf[4].min()
minval

0.0

In [8]:
maxval=indf[4].max()
maxval

1.0

In [9]:
if minval<0:
    print("min error",minval)
    sys.exit(1)
if maxval>1:
    print("maxerror",maxval)
    sys.exit(1)

In [10]:
indf=indf.astype({1: int,2:int})
indf.head()

      0      1      2      4
0  chr1  10468  10470  0.765
1  chr1  10470  10472  0.804
2  chr1  10483  10485  0.840
3  chr1  10488  10490  0.835
4  chr1  10492  10494  0.800

In [11]:
indf.to_csv(outname,sep="\t",index=False,header=False)