In [1]:
import pandas as pd

infile='/Users/irffanalahi/Research/Research_update/troubleshootoffbyoneissue/bedstats/zzmel-167-P-CD8.bedgraph_rolled.bedgraph'


pad=1

indf=pd.read_csv(infile,sep='\t',header=None)
indf.head()

      0      1      2      3
0  chr1  64562  64564  0.202
1  chr1  64763  64765  0.763
2  chr1  67182  67184  1.000
3  chr1  67222  67224  0.875
4  chr1  68238  68240  0.500

In [ ]:
indf['']