In [1]:
import pandas as pd
currentref='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/CD8TIL_CD8PBL_meltumor/comparewitholdref/activatedPatientTcell_CD8TIL_intwith_naiveMyloidPateintCD14_CD8TILCD8TIL_-0.1_int_CD8TIL_melCD8TIL_-0.1_int_activatedPatientTcell_CD8TILCD8TIL_-0.1_SM'
otherfile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/CD8TIL_CD8PBL_meltumor/comparewitholdref/PBLtilMel_meldiff-.7_other-.1_q0.00001_sorted4_1_singleCpG_final_assignedref.txt_uniqTIL.txt'



currenrefdf=pd.read_csv(currentref,sep='\t',index_col=['chrom','start'])
otherfiledf=pd.read_csv(otherfile,sep='\t',index_col=['chrom','start'])

currenrefdf.head()

              CD8TIL-others  MelTumor-others  activated-others  \
chrom start
chr1  926156      -0.135222              0.9          0.135222
      931519      -0.209611              0.9          0.209611
      931556      -0.281179              0.9          0.281179
      933922      -0.166933              0.9          0.166933
      934911      -0.115725              0.9          0.115725

              NaiveMyloid-others
chrom start
chr1  926156                 0.9
      931519                 0.9
      931556                 0.9
      933922                 0.9
      934911                 0.9

In [2]:
otherfiledf.head()

                       end celltype
chrom start
chr9  127977558  127977560    [TIL]
      127977573  127977575    [TIL]
      127977617  127977619    [TIL]
      127977629  127977631    [TIL]
      127977645  127977647    [TIL]

In [3]:
otherfiledf.index

MultiIndex([('chr9', 127977558),
            ('chr9', 127977573),
            ('chr9', 127977617),
            ('chr9', 127977629),
            ('chr9', 127977645),
            ('chr3', 114318398),
            ('chr3', 114318453),
            ('chr3', 114318562),
            ('chr3', 114318666),
            ('chr3', 114318692),
            ...
            ('chr7',  43784504),
            ('chr7',  43784641),
            ('chr7',  43784679),
            ('chr7',  43784696),
            ('chr7',  43784705),
            ('chr7',  43784751),
            ('chr7',  43784815),
            ('chr7',  43784850),
            ('chr7',  43784957),
            ('chr7',  43785164)],
           names=['chrom', 'start'], length=300)

In [4]:
outdf=currenrefdf.reindex(otherfiledf.index.tolist())

In [5]:
outdf.to_csv(currentref+"_substted.txt",sep='\t')