In [1]:
import pandas as pd
import os

infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/BL22/moreSM/Thebestref/allctpossepreated/BL22_genepromSM_0.7.txt_TRAININGbestref.txt_withmincol.txt'


outdir=infile+"_ctpos"
os.mkdir(outdir)
indf=pd.read_csv(infile,sep='\t')

indf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,em8-others,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others,mincolname
0,chr3,48773066,0.023151,0.045151,0.054929,0.051786,0.065754,0.032929,0.071690,0.030833,...,0.054929,-0.975929,0.071690,0.036595,0.057548,0.071690,0.050214,0.071690,0.034500,Eo-others
1,chr3,138232377,0.017310,0.042103,0.071786,0.080865,-0.010627,0.080865,0.080865,0.002643,...,0.062008,-0.966754,0.080865,0.054675,0.080865,0.080865,0.080865,0.080865,0.060960,Eo-others
2,chr12,76769087,0.070095,0.011778,0.039714,0.058222,0.070095,0.046349,0.070095,0.028190,...,0.059619,-0.964952,0.019286,0.070095,0.037095,0.070095,0.058571,0.070095,0.035524,Eo-others
3,chr8,23158892,0.073817,0.021087,0.082897,0.058103,0.030865,0.056357,0.068929,0.011310,...,0.056706,-0.964722,0.070325,0.031563,0.040468,0.060373,0.068230,0.067706,0.042563,Eo-others
4,chr5,5463864,0.051214,0.011754,0.031659,0.062040,0.047024,0.031310,0.045627,0.019437,...,0.059421,-0.964103,0.058373,0.059421,0.057325,0.020659,0.042135,0.048944,0.041611,Eo-others

In [2]:
indf['end']=indf['start']+2
indf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others,mincolname,end
0,chr3,48773066,0.023151,0.045151,0.054929,0.051786,0.065754,0.032929,0.071690,0.030833,...,-0.975929,0.071690,0.036595,0.057548,0.071690,0.050214,0.071690,0.034500,Eo-others,48773068
1,chr3,138232377,0.017310,0.042103,0.071786,0.080865,-0.010627,0.080865,0.080865,0.002643,...,-0.966754,0.080865,0.054675,0.080865,0.080865,0.080865,0.080865,0.060960,Eo-others,138232379
2,chr12,76769087,0.070095,0.011778,0.039714,0.058222,0.070095,0.046349,0.070095,0.028190,...,-0.964952,0.019286,0.070095,0.037095,0.070095,0.058571,0.070095,0.035524,Eo-others,76769089
3,chr8,23158892,0.073817,0.021087,0.082897,0.058103,0.030865,0.056357,0.068929,0.011310,...,-0.964722,0.070325,0.031563,0.040468,0.060373,0.068230,0.067706,0.042563,Eo-others,23158894
4,chr5,5463864,0.051214,0.011754,0.031659,0.062040,0.047024,0.031310,0.045627,0.019437,...,-0.964103,0.058373,0.059421,0.057325,0.020659,0.042135,0.048944,0.041611,Eo-others,5463866

In [3]:
grouped=indf.groupby('mincolname')
for name, group in grouped:
    tempdf=group[['chrom','start','end']]
    ctname=name.replace('-others','')
    
    outname=outdir+"/"+ctname
    tempdf.to_csv(outname,sep='\t',index=False, header=False)