In [1]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three']})

df.set_index('A',inplace=True)

In [2]:
splitted=np.array_split(df, 3)

In [3]:
type(splitted)

list

In [4]:
type(splitted[0])

pandas.core.frame.DataFrame

In [5]:
splitted[0].index

Index(['foo', 'bar', 'foo'], dtype='object', name='A')

In [6]:
splitted[0]

       B
A
foo  one
bar  one
foo  two

In [7]:
type(splitted[0].index)

pandas.core.indexes.base.Index

In [11]:
df

         B
A
foo    one
bar    one
foo    two
bar  three
foo    two
bar    two
foo    one
foo  three

In [10]:
splitted

[       B
 A
 foo  one
 bar  one
 foo  two,
          B
 A
 bar  three
 foo    two
 bar    two,
          B
 A
 foo    one
 foo  three]

In [8]:
splitted[2].index.start

AttributeError: 'Index' object has no attribute 'start'

In [ ]:
splitted[2].index

In [ ]:
df.set_index('A',inplace=True)

In [ ]:
df[6:8]