In [1]:
import pandas as pd
infile="/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_othermean_head.txt"

outfile=infile

scorecolumns=['CD4-others','CD8-others','nB-others','NK-others','Mn-others','mNeu-others','m8-others','DC-others','Eo-others','Tr-others','m4-others','Mg-others','Er-others','mB-others']

indf=pd.read_csv(infile,sep="\t")
indf.head()

,position,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr1:16138,-0.027936,-0.037269,0.053192,0.032731,0.014423,-0.129526,-0.039064,0.046013,0.015859,-0.024526,0.056244,0.034167,-0.032064,0.037756
1,chr1:16242,0.012833,-0.000449,0.133090,0.059859,0.109038,-0.077987,-0.002782,0.019654,-0.002244,0.083910,-0.038321,-0.037244,-0.101321,-0.158038
2,chr1:16633,0.046731,0.102013,-0.032603,-0.022551,0.102013,-0.176910,-0.032603,-0.017526,-0.184987,0.102013,0.102013,0.102013,0.102013,-0.191628
3,chr1:16645,0.003577,-0.005038,-0.011141,-0.033038,0.024756,-0.020115,0.024756,-0.020115,0.024756,0.024756,0.024756,-0.016705,0.024756,-0.045962
4,chr1:16664,0.018372,-0.004244,0.035603,-0.026859,0.035603,0.035603,0.035603,-0.083936,0.005449,0.035603,-0.018244,-0.013397,-0.018244,-0.036910

In [2]:
indf[['chrom','start']] = indf.position.str.split(':',expand=True)
indf['start'] = indf['start'].astype(int)

In [3]:
indf.head()

,position,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others,chrom,start
0,chr1:16138,-0.027936,-0.037269,0.053192,0.032731,0.014423,-0.129526,-0.039064,0.046013,0.015859,-0.024526,0.056244,0.034167,-0.032064,0.037756,chr1,16138
1,chr1:16242,0.012833,-0.000449,0.133090,0.059859,0.109038,-0.077987,-0.002782,0.019654,-0.002244,0.083910,-0.038321,-0.037244,-0.101321,-0.158038,chr1,16242
2,chr1:16633,0.046731,0.102013,-0.032603,-0.022551,0.102013,-0.176910,-0.032603,-0.017526,-0.184987,0.102013,0.102013,0.102013,0.102013,-0.191628,chr1,16633
3,chr1:16645,0.003577,-0.005038,-0.011141,-0.033038,0.024756,-0.020115,0.024756,-0.020115,0.024756,0.024756,0.024756,-0.016705,0.024756,-0.045962,chr1,16645
4,chr1:16664,0.018372,-0.004244,0.035603,-0.026859,0.035603,0.035603,0.035603,-0.083936,0.005449,0.035603,-0.018244,-0.013397,-0.018244,-0.036910,chr1,16664

In [4]:
indf['end']=indf['start']+2
indf.head()

,position,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others,chrom,start,end
0,chr1:16138,-0.027936,-0.037269,0.053192,0.032731,0.014423,-0.129526,-0.039064,0.046013,0.015859,-0.024526,0.056244,0.034167,-0.032064,0.037756,chr1,16138,16140
1,chr1:16242,0.012833,-0.000449,0.133090,0.059859,0.109038,-0.077987,-0.002782,0.019654,-0.002244,0.083910,-0.038321,-0.037244,-0.101321,-0.158038,chr1,16242,16244
2,chr1:16633,0.046731,0.102013,-0.032603,-0.022551,0.102013,-0.176910,-0.032603,-0.017526,-0.184987,0.102013,0.102013,0.102013,0.102013,-0.191628,chr1,16633,16635
3,chr1:16645,0.003577,-0.005038,-0.011141,-0.033038,0.024756,-0.020115,0.024756,-0.020115,0.024756,0.024756,0.024756,-0.016705,0.024756,-0.045962,chr1,16645,16647
4,chr1:16664,0.018372,-0.004244,0.035603,-0.026859,0.035603,0.035603,0.035603,-0.083936,0.005449,0.035603,-0.018244,-0.013397,-0.018244,-0.036910,chr1,16664,16666

In [5]:
indf=indf.drop(['position'],axis=1)

In [6]:
indf.head()

,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others,chrom,start,end
0,-0.027936,-0.037269,0.053192,0.032731,0.014423,-0.129526,-0.039064,0.046013,0.015859,-0.024526,0.056244,0.034167,-0.032064,0.037756,chr1,16138,16140
1,0.012833,-0.000449,0.133090,0.059859,0.109038,-0.077987,-0.002782,0.019654,-0.002244,0.083910,-0.038321,-0.037244,-0.101321,-0.158038,chr1,16242,16244
2,0.046731,0.102013,-0.032603,-0.022551,0.102013,-0.176910,-0.032603,-0.017526,-0.184987,0.102013,0.102013,0.102013,0.102013,-0.191628,chr1,16633,16635
3,0.003577,-0.005038,-0.011141,-0.033038,0.024756,-0.020115,0.024756,-0.020115,0.024756,0.024756,0.024756,-0.016705,0.024756,-0.045962,chr1,16645,16647
4,0.018372,-0.004244,0.035603,-0.026859,0.035603,0.035603,0.035603,-0.083936,0.005449,0.035603,-0.018244,-0.013397,-0.018244,-0.036910,chr1,16664,16666

In [7]:
indf=indf.set_index(['chrom','start','end'])

In [8]:
indf.head()

                   CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start end
chr1  16138 16140   -0.027936   -0.037269   0.053192   0.032731   0.014423
      16242 16244    0.012833   -0.000449   0.133090   0.059859   0.109038
      16633 16635    0.046731    0.102013  -0.032603  -0.022551   0.102013
      16645 16647    0.003577   -0.005038  -0.011141  -0.033038   0.024756
      16664 16666    0.018372   -0.004244   0.035603  -0.026859   0.035603

                   mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start end
chr1  16138 16140    -0.129526  -0.039064   0.046013   0.015859  -0.024526
      16242 16244    -0.077987  -0.002782   0.019654  -0.002244   0.083910
      16633 16635    -0.176910  -0.032603  -0.017526  -0.184987   0.102013
      16645 16647    -0.020115   0.024756  -0.020115   0.024756   0.024756
      16664 16666     0.035603   0.035603  -0.083936   0.005449   0.035603

                   m4-others  Mg-others  Er-others  mB-others
chrom start end
chr1  16138 16140   0.056244   0.034167  -0.032064   0.037756
      16242 16244  -0.038321  -0.037244  -0.101321  -0.158038
      16633 16635   0.102013   0.102013   0.102013  -0.191628
      16645 16647   0.024756  -0.016705   0.024756  -0.045962
      16664 16666  -0.018244  -0.013397  -0.018244  -0.036910

In [9]:
indf=indf[scorecolumns]
indf.head()

                   CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start end
chr1  16138 16140   -0.027936   -0.037269   0.053192   0.032731   0.014423
      16242 16244    0.012833   -0.000449   0.133090   0.059859   0.109038
      16633 16635    0.046731    0.102013  -0.032603  -0.022551   0.102013
      16645 16647    0.003577   -0.005038  -0.011141  -0.033038   0.024756
      16664 16666    0.018372   -0.004244   0.035603  -0.026859   0.035603

                   mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start end
chr1  16138 16140    -0.129526  -0.039064   0.046013   0.015859  -0.024526
      16242 16244    -0.077987  -0.002782   0.019654  -0.002244   0.083910
      16633 16635    -0.176910  -0.032603  -0.017526  -0.184987   0.102013
      16645 16647    -0.020115   0.024756  -0.020115   0.024756   0.024756
      16664 16666     0.035603   0.035603  -0.083936   0.005449   0.035603

                   m4-others  Mg-others  Er-others  mB-others
chrom start end
chr1  16138 16140   0.056244   0.034167  -0.032064   0.037756
      16242 16244  -0.038321  -0.037244  -0.101321  -0.158038
      16633 16635   0.102013   0.102013   0.102013  -0.191628
      16645 16647   0.024756  -0.016705   0.024756  -0.045962
      16664 16666  -0.018244  -0.013397  -0.018244  -0.036910

In [ ]:
indf.to_csv(outfile+"_likebg.txt",sep="\t")

In [ ]:
indf=indf.reset_index()

In [ ]:
indf=indf.drop(['end'],axis=1)