In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/largerEXP/BL22genepromdelta.7/Realdata/irAE/benchmarkwithCSx/tot-YUCLUE_20-3998-cfDNA.bedgraph_rolled.bedgraph_cyberin'

indf=pd.read_csv(infile,index_col=0,sep='\t')
indf.head()

              value
position
chr1:1219466  1.000
chr1:1219470  1.000
chr1:1219473  1.000
chr1:1219476  0.833
chr1:1219646  0.875

In [2]:
indf['value2']=1
indf.head()

              value  value2
position
chr1:1219466  1.000       1
chr1:1219470  1.000       1
chr1:1219473  1.000       1
chr1:1219476  0.833       1
chr1:1219646  0.875       1