In [1]:
import pandas as pd

In [2]:
dfin=pd.read_csv("test.txt",sep="\t")

In [3]:
dfin

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [4]:
dfin.mean(axis = 1)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [5]:
dfin.mean(axis = 1,skipna = True) #same as above

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64