In [1]:
import pandas as pd
fone="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/cpg2/filtering/changingallcompartment/168/cpg2_pos_168.0.txt_allcombined.txt"
divisor="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/cpg2/filtering/changingallcompartment/168/PBLtilMel_meldiff-.7_other-.1_q0.00001_sorted4_1_singleCpG_final_assignedref.txt_uniq.txt_result_nocov_mincpg2_allCount.txt_CSxOut.txt"

dfone=pd.read_csv(fone,sep="\t",index_col=0)
divisordf=pd.read_csv(divisor,sep="\t",index_col=0)

dfone.head()

                 MEL_TUMOR  PBL   TIL
Mixture
Y-3925-cfDNA.bg        3.0   28   3.0
Y-3737-cfDNA.bg       14.0  438  12.0
Y-3880-cfDNA.bg        2.0   45   1.0
Y-3703-cfDNA.bg        8.0   46   2.0
tot-66-cfDNA.bg        8.0  257   7.0

In [2]:
divisordf.head()

                   MEL_TUMOR  PBL   TIL
Mixture
med-H2-cfDNA.bg          292  454   527
med-H3-cfDNA.bg          316  432   526
med-H1-cfDNA.bg          316  386   457
med-H4-cfDNA.bg          416  564   673
tot-PH16-cfDNA.bg        743  980  1127

In [3]:
divisionresult=dfone.div(divisordf)
divisionresult.head()

                 MEL_TUMOR       PBL       TIL
Mixture
Y-3674-cfDNA.bg   0.017544  0.485915  0.014599
Y-3685-cfDNA.bg   0.014493  0.398104  0.023529
Y-3688-cfDNA.bg   0.121429  0.239316  0.012448
Y-3694-cfDNA.bg   0.013393  0.268199  0.019417
Y-3703-cfDNA.bg   0.056338  0.277108  0.012195

In [4]:
outdf=divisionresult.fillna(0)
outdf.head()

                 MEL_TUMOR       PBL       TIL
Mixture
Y-3674-cfDNA.bg   0.017544  0.485915  0.014599
Y-3685-cfDNA.bg   0.014493  0.398104  0.023529
Y-3688-cfDNA.bg   0.121429  0.239316  0.012448
Y-3694-cfDNA.bg   0.013393  0.268199  0.019417
Y-3703-cfDNA.bg   0.056338  0.277108  0.012195

In [5]:
outdf.to_csv(fone+"_ABSresul.txt",sep="\t")