In [1]:
import pandas as pd

In [2]:
indf=pd.read_csv("/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/moretest/rd2_v3/data/sm/blwithneu_hypo_stat.txt_0.01_2_g50.txtWithSurrounding.txt_3cpgnc.txt",sep="\t")
indf['celltype']=indf.celltype.apply(lambda x: x[1:-1].split(','))
indf.head()

   chrom      start        end  celltype blockchr  blockstart   blockend
0   chr3  122060546  122060548  ['CD14']     chr3   122060397  122060721
1  chr16   79097508   79097510  ['CD14']    chr16    79097359   79097659
2   chr1  159431113  159431115  ['CD14']     chr1   159430964  159431264
3   chr8   42957889   42957891  ['CD14']     chr8    42957740   42958040
4  chr12   49219528   49219530  ['CD14']    chr12    49219379   49219679

In [3]:
def extactuniquecelltype():
    celllist=indf['celltype'].tolist()
    allcells = [x for sublist in celllist for x in sublist]
    alluniquecells=list(set(allcells))
    return alluniquecells

In [4]:
cccc=extactuniquecelltype()
print(type(cccc))
print(cccc)

<class 'list'>
["'CD14'", "'CD8'", "'CD56'", "'CD19'", "'Neu'", "'CD4'"]