In [1]:
import pandas as pd
import glob, os

In [2]:
infolder="/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/genomic_feature/howmany_in_genomic_body /BL14in_out_mincpg2_q0.5_addedcol_q1e-05_maxCompartmentwisedelta-0.1"
out=infolder+"_row_combined.txt"

In [3]:
files = glob.glob(infolder+'/*.txt')
filesdf=[pd.read_csv(fp,sep="\t") for fp in files]

In [4]:
df_combined = pd.concat(filesdf, axis=0)
df_combined.head()

,chrom,start,end,q,diff,#cpg,p(MWU),p(2dks),DC,others,...,CD4-Mn,CD4-mNeu,CD4-m8,CD4-DC,CD4-Eo,CD4-Tr,CD4-m4,CD4-Mg,CD4-Er,CD4-mB
0,chr1,2124857,2125016,2.988300e-10,-0.299527,13,4.463100e-14,5.230200e-14,0.60992,0.90945,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr1,2243456,2243631,6.246100e-06,-0.462783,6,2.258800e-11,4.304500e-09,0.42728,0.89006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr1,2304038,2304250,1.828900e-09,-0.283936,12,4.074500e-14,3.930000e-13,0.64668,0.93062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr1,6007444,6007568,4.895500e-12,-0.371968,14,4.207700e-14,5.844200e-16,0.32950,0.70147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,6059845,6060140,1.983500e-10,-0.546250,10,4.030100e-14,3.343300e-14,0.38658,0.93283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_combined.to_csv(out,sep="\t",na_rep="NA",index=False)