In [1]:
import pandas as pd
import glob, os

In [2]:
infolder="/Users/irffanalahi/rest_summer_2019/support/totprefix/qc/alltext/tottext"
out=infolder+"_column_combined.txt"

In [3]:
files = glob.glob(infolder+'/*.txt')
filesdf=[pd.read_csv(fp,sep="\t",index_col=0) for fp in files]

In [4]:
df_combined = pd.concat(filesdf, axis=1)
df_combined.head()

,01st_ptle,05th_ptle,25th_ptle,50th_ptle,75th_ptle,95th_ptle,99th_ptle,Unnamed: 8,total,secondary,...,with_mate_mapped_to_a_different_chr,with_mate_mapped_to_a_different_chr_mapQ>=5,01st_ptle,05th_ptle,25th_ptle,50th_ptle,75th_ptle,95th_ptle,99th_ptle,Unnamed: 8
tot-YUTAUR_19-3926-cfDNA,27,57,114,158,181,242,367,NaN,646742656,6170197,...,8197808,3182419,10.735925,13.28425,22.1501,24.0863,25.806900,28.188175,43.929225,NaN
tot-PH7-cfDNA,79,126,161,178,202,352,14464,NaN,707330895,8131010,...,15006170,4288689,12.198108,15.88490,28.3424,30.7248,32.523400,35.148700,54.777928,NaN
tot-YUPRAF_19-3925-cfDNA,54,85,138,164,183,298,435,NaN,625499705,6553125,...,10541120,3283052,12.713369,18.53030,21.2712,22.2466,23.117900,24.559015,37.029842,NaN
tot-YUMICRO_20-4006-cfDNA,53,80,134,159,175,212,335,NaN,681573729,6125123,...,10536978,3719435,7.999272,14.87088,26.1261,28.1368,29.399200,33.896580,59.763048,NaN
tot-YUMOTE_17-3755-cfDNA,70,106,148,168,185,295,426,NaN,640710103,9252816,...,16257800,4803293,11.916809,14.38459,23.6505,26.4852,28.116075,30.126310,43.561394,NaN

In [5]:
df_combined.to_csv(out,sep="\t",na_rep="NA")