In [1]:
import pandas as pd

In [2]:
f1="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/cpg2/filtering/changingallcompartment/168/poscombined/cpg2_melpos_smaller_168.0.txt"
f2="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/cpg2/filtering/changingallcompartment/168/poscombined/cpg2_pblpos_greater_168.0.txt"
f3="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/cpg2/filtering/changingallcompartment/168/poscombined/cpg2_tilpos_smaller_168.0.txt"

f1df=pd.read_csv(f1,sep="\t",index_col=0)
f2df=pd.read_csv(f2,sep="\t",index_col=0)
f3df=pd.read_csv(f3,sep="\t",index_col=0)

In [3]:
f1df.head()

                 MEL_TUMOR
Mixture
Y-3925-cfDNA.bg          3
Y-3737-cfDNA.bg         14
Y-3880-cfDNA.bg          2
Y-3703-cfDNA.bg          8
tot-66-cfDNA.bg          8

In [4]:
f2df.head()

                 PBL
Mixture
Y-3925-cfDNA.bg   28
Y-3737-cfDNA.bg  438
Y-3880-cfDNA.bg   45
Y-3703-cfDNA.bg   46
tot-66-cfDNA.bg  257

In [5]:
f3df.head()

                 TIL
Mixture
Y-3925-cfDNA.bg    3
Y-3737-cfDNA.bg   12
Y-3880-cfDNA.bg    1
Y-3703-cfDNA.bg    2
tot-66-cfDNA.bg    7

In [6]:
df_combined = pd.concat([f1df, f2df,f3df], axis=1)
df_combined.head()

                 MEL_TUMOR  PBL   TIL
Y-3925-cfDNA.bg        3.0   28   3.0
Y-3737-cfDNA.bg       14.0  438  12.0
Y-3880-cfDNA.bg        2.0   45   1.0
Y-3703-cfDNA.bg        8.0   46   2.0
tot-66-cfDNA.bg        8.0  257   7.0

In [7]:
df_combined.to_csv(f1+"_allcombined.txt",sep="\t")
print("done")

done