In [1]:
import pandas as pd
import glob, os

In [2]:
infolder="/Users/irffanalahi/Research/Research_update/SM/melcfdref/Allseperated/differenttil/meldifferentTIL_genebody_input_out_mincpg2_q0.05_diff0.1_hypoTIL_genomic_feature_withrepeat_header_celltypeseperated/rowcombined_relevantgenes/Dashboard/bothdelta_q/towardsSM/alldmr_refdmr_ONLYDMR"
out=infolder+"_row_combined.txt"

In [3]:
files = glob.glob(infolder+'/*.txt')
filesdf=[pd.read_csv(fp,sep="\t") for fp in files]

In [4]:
df_combined = pd.concat(filesdf, axis=0)
df_combined.head()

  chrom    start      end
0  chr1  1099017  1099783
1  chr1  1216762  1217040
2  chr1  1418046  1418069
3  chr1  1677500  1678299
4  chr1  2259075  2259422

In [5]:
df_combined.to_csv(out,sep="\t",na_rep="NA",index=False)