In [1]:
import pandas as pd
import glob, os

In [2]:
infolder="/Users/irffanalahi/Research/Research_update/SM/melcfdref/Allseperated/differenttil/meldifferentTIL_genebody_input_out_mincpg2_q0.05_diff0.1_hypoTIL_genomic_feature_withrepeat_header_celltypeseperated/rowcombined_relevantgenes/Dashboard/bothdelta_q/towardsSM/diffpercentiles/Thatworkingref/forbam/workingrefONLYDMR"
out=infolder+"_row_combined.txt"

In [3]:
files = glob.glob(infolder+'/*.txt')
filesdf=[pd.read_csv(fp,sep="\t") for fp in files]

In [4]:
df_combined = pd.concat(filesdf, axis=0)
df_combined.head()

  chrom    start      end
0  chr1  1677500  1678273
1  chr1  2259075  2259550
2  chr1  3787296  3788034
3  chr1  9728231  9729178
4  chr1  9787019  9788202

In [5]:
df_combined.to_csv(out,sep="\t",na_rep="NA",index=False)