In [1]:
import pandas as pd
import glob, os

In [2]:
infolder="/Users/irffanalahi/Research/Research_update/SM/melcfdref/LargerLTME/forbam/alltogother"
out=infolder+"_row_combined.txt"

In [3]:
files = glob.glob(infolder+'/*.txt')
filesdf=[pd.read_csv(fp,sep="\t") for fp in files]

In [4]:
df_combined = pd.concat(filesdf, axis=0)
df_combined.head()

  chrom   start     end
0  chr1  778020  778293
1  chr1  898859  899096
2  chr1  904128  904608
3  chr1  909010  909390
4  chr1  914695  915108

In [5]:
df_combined.to_csv(out,sep="\t",na_rep="NA",index=False)