In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/largerEXP/BL22genepromdelta.7/insilico/training/bestrefperfforTEST/BL22_genepromSM_0.7.txt_TRAININGbestref.txtTESTDATA_result_nodupindex_binnedstats.pkl_totalformatteddata.pkl_RFAUC.txt_ctrename.txt'

refindex='/Users/irffanalahi/Research/Research_update/SoftRD/largerEXP/BL22genepromdelta.7/insilico/training/bestrefperfforTEST/orderof_the_ct.txt_ctrename.txt'

indf=pd.read_csv(infile,sep="\t",index_col=0)

indf.head()

                   AUC
Celltype
NaiveCD4      0.552662
NaiveCD8      0.876682
Naive B cell  0.872083
NK            0.877914
Palsma        0.928283

In [2]:
refindexdf=pd.read_csv(refindex,sep="\t",index_col=0)

refindexdf.head()

,delta>=0.05,delta>=0.1,delta>=0.5,delta>=0.6,delta>=0.7,delta>=0.8,delta>=0.9
NaiveCD4,200813,89044,8882,3454,805,74,0
NaiveCD8,265052,106630,8635,2507,358,5,0
Naive B cell,322137,161804,23885,16043,9888,4436,278
NK,604130,313179,29825,17545,8853,2701,91
Palsma,5127042,4561767,1556598,895489,409039,116295,5119

In [3]:
outdf=indf.reindex(refindexdf.index)
outdf.head()

                   AUC
NaiveCD4      0.552662
NaiveCD8      0.876682
Naive B cell  0.872083
NK            0.877914
Palsma        0.928283

In [4]:
outdf.to_csv(infile+"_indexordered.txt",sep="\t")