In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/chromosome_Y_analysis/EM_first_batch_txt.txt'

refindex='/Users/irffanalahi/Research/Research_update/chromosome_Y_analysis/Yale_abul_order.txt'

refindexdf=pd.read_csv(refindex,sep="\t",index_col=0)
indf=pd.read_csv(infile,sep="\t",index_col=0)

indf.head()

,01st_ptle,05th_ptle,25th_ptle,50th_ptle,75th_ptle,95th_ptle,99th_ptle,Unnamed: 8
sample,,,,,,,,
YUALOE-20-4117,13.668039,14.902850,16.26805,17.38860,18.724925,55.709165,415.471750,NaN
YUCADA-14-3260,1.631636,1.734840,2.15330,3.48040,5.497500,121.780960,351.580924,NaN
YUMEDIC-14-3303,1.970478,2.978115,5.64210,6.88815,9.183275,146.590805,511.694055,NaN
YURADIO-14-3253,16.425498,17.552850,19.03420,20.27530,21.649650,48.318380,364.556936,NaN
YURAISE-13-2954,11.928876,12.684680,13.78330,14.88420,16.325350,40.724400,241.355686,NaN

In [2]:


refindexdf.head()

,Sample Date,Sequencing Batch,Sequencing Status,CBC,Input cfDNA (ng),Unmeth lambda DNA 1% (ng),cfDNA concentration (ng/ul),cfDNA vol (ul),Sheared unmeth lambda DNA vol (ul),cfDNA + unmeth lambda DNA,...,Low EDTA TE buffer to make up the reaction vol. (ul),PCR Index,# PCR Cycle,PCR index (ul),NEB elution buffer to make up the PCR reaction mix (ul),ICI response status,Highest irAE grade (Toxicity),Metastatic melanoma subtype,ICI regimen (Therapy),NOTES
sample,,,,,,,,,,,,,,,,,,,,,
YUMEDIC-14-3303,11/18/14,1.0,Sequenced,No,10.0,0.1,0.46,21.90,0.6,22.5,...,27.5,Index 1,8,5.0,0.0,NDB,2,Sun-exposed,Combination,NaN
YURAISE-13-2954,5/19/13,1.0,Sequenced,No,10.0,0.1,1.51,6.64,0.6,7.3,...,42.7,Index 2,8,5.0,0.0,DCB,2,Sun-exposed,Combination,NaN
YUARGE-14-3173,6/26/14,1.0,Sequenced,Yes,10.0,0.1,0.55,18.18,0.6,18.8,...,31.2,Index 3,8,5.0,0.0,NDB,0,Acral,Anti-PD1,NaN
YUJADE-14-3169,6/24/14,1.0,Sequenced,No,10.0,0.1,0.40,25.00,0.6,25.6,...,24.4,Index 4,8,5.0,0.0,NDB,0,Sun-exposed,Anti-PD1,NaN
YULAMB-15-3410,6/16/15,1.0,Sequenced,No,10.0,0.1,0.35,28.57,0.6,29.2,...,20.8,Index 5,8,5.0,0.0,DCB,3,Mucosal,Combination,NaN

In [3]:
outdf=indf.reindex(refindexdf.index)
outdf.head()

,01st_ptle,05th_ptle,25th_ptle,50th_ptle,75th_ptle,95th_ptle,99th_ptle,Unnamed: 8
sample,,,,,,,,
YUMEDIC-14-3303,1.970478,2.978115,5.642100,6.88815,9.183275,146.590805,511.694055,NaN
YURAISE-13-2954,11.928876,12.684680,13.783300,14.88420,16.325350,40.724400,241.355686,NaN
YUARGE-14-3173,10.483440,11.925200,13.332200,14.23870,15.325700,38.103800,290.853300,NaN
YUJADE-14-3169,11.640711,12.525660,13.528200,14.31970,15.378850,36.903805,351.982477,NaN
YULAMB-15-3410,13.520085,14.341120,15.600225,16.53725,17.706150,64.102450,301.932141,NaN

In [4]:
outdf.to_csv(infile+"_indexordered.txt",sep="\t",na_rep='NA')