In [1]:
import pandas as pd
largefile="/Users/irffanalahi/Research/weekly/for_1_21_21/smwithna/genomic_feature/downstream/postprocess/protein-coding_gene_promoterSorteduniq.txt"
largedf=pd.read_csv(largefile,sep="\t",header=None)
outname="/Users/irffanalahi/Research/weekly/for_1_21_21/smwithna/genomic_feature/downstream/postprocess/corressprompos.txt"
listofval="/Users/irffanalahi/Research/weekly/for_1_21_21/smwithna/genomic_feature/downstream/postprocess/prom.txt"
listofval=pd.read_csv(listofval,sep="\t",header=None)
largfilecol=3

largedf.head()

      0       1       2       3
0  chr1   68090   69090   OR4F5
1  chr1  451678  452678  OR4F29
2  chr1  686654  687654  OR4F16
3  chr1  924730  925730  SAMD11
4  chr1  924937  925937  SAMD11

In [2]:
listofval=listofval[0].tolist()

In [3]:
outdf=largedf[largedf[largfilecol].isin(listofval)]
outdf.head()

           0          1          2       3
10801  chr10  126071387  126072387  ADAM12
10802  chr10  126072840  126073840  ADAM12
10803  chr10  126292706  126293706  ADAM12
16193  chr12    9602665    9603665   KLRB1
16194  chr12    9607916    9608916   KLRB1

In [4]:
outdf.to_csv(outname,sep="\t",index=False,header=False)