In [1]:
import pandas as pd
sm1file='/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/DMC_based/BL14/BL14_CD4Neu_in_out_DMC/finalrefANDbam/compare_with_prev/BL14_atleast.2_top-1_singleCpG_final_assignedref_uniq.txt'
sm2file='/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/DMC_based/BL14/BL14_CD4Neu_in_out_DMC/finalrefANDbam/compare_with_prev/BL14DMCnaiveCD4diff-.7_top-1_singleCpG_final_assignedref_uniq.txt'

celltype='CD4'

sm1df=pd.read_csv(sm1file,sep="\t")
sm1df.head()

  chrom     start       end celltype
0  chr1  12168469  12168471     [Tr]
1  chr1  12168485  12168487     [Tr]
2  chr1  12168489  12168491     [Tr]
3  chr1  12168553  12168555     [Tr]
4  chr1  12168794  12168796     [Tr]

In [2]:
sm2df=pd.read_csv(sm2file,sep="\t")
sm2df.head()

   chrom   start     end celltype
0  chr20  366280  366282    [CD4]
1  chr20  366337  366339    [CD4]
2   chr6  455506  455508    [CD4]
3   chr6  455512  455514    [CD4]
4   chr7  832588  832590    [CD4]

In [3]:
sm1df=sm1df[sm1df['celltype']=='['+celltype+']']
sm1df.head()

     chrom     start       end celltype
6705  chr1  32387132  32387134    [CD4]
6706  chr1  32387376  32387378    [CD4]
6707  chr1  32387403  32387405    [CD4]
6708  chr1  32387409  32387411    [CD4]
6709  chr1  32387417  32387419    [CD4]

In [4]:
sm2df=sm2df[sm2df['celltype']=='['+celltype+']']
sm2df.head()

   chrom   start     end celltype
0  chr20  366280  366282    [CD4]
1  chr20  366337  366339    [CD4]
2   chr6  455506  455508    [CD4]
3   chr6  455512  455514    [CD4]
4   chr7  832588  832590    [CD4]

In [5]:
merged = pd.merge(sm1df, sm2df, how='inner', on=['chrom','start','end','celltype'])
merged.to_csv(sm1file+"_"+celltype+"common.txt",sep="\t",index=False)

In [6]:
merged.shape

(37, 4)

In [7]:
sm1df.shape

(166, 4)

In [8]:
sm2df.shape

(1148, 4)