In [1]:
import pandas as pd
BL22file='/Users/irffanalahi/Research/Research_update/SoftRD/compareBetweenRefernces/Rawscore_noextraneous_m1weightbydelta/method1deltaweight_allct_towardsSM_dummy_mean_SM.txt_unique_result_dupindex_binnedstats.pkl_maxscore_cancerPBL_CSxOut.txt'

BL22df=pd.read_csv(BL22file,sep='\t',index_col=0)
BL22df.head()

,NaiveCD4,NaiveCD8,nB,NK,Mono,cm8,em8,Tregs,em4,ed8,Mg,cm4,mB
Mixture,,,,,,,,,,,,,
TWCY-1313-1313-BULK-PBMC,8.817534,7.196908,4.139614,3.472174,7.142646,12.063643,11.552305,10.126364,12.683718,6.494610,2.319792,11.845188,2.145503
TWCY-1382-1382-BULK-PBMC,6.423168,6.207353,4.995414,4.917098,14.628320,8.365138,9.445334,7.613281,9.730449,7.143140,7.611669,9.402821,3.516816
TWCY-1389-1389-BULK-PBMC,7.767790,7.252952,3.891417,6.943033,8.350301,10.233491,11.153108,7.702636,11.184678,10.073801,2.843677,10.091085,2.512031
mel-123-P-Bulk,10.882432,9.707309,3.170866,4.955703,5.717266,9.730552,10.525562,9.867105,11.091299,7.968224,2.478633,11.743857,2.161192
mel-159-P-Bulk,12.864913,9.553183,5.259959,3.012782,5.200870,9.919227,8.995549,10.783416,11.167656,5.580728,2.270464,13.182137,2.209115

In [2]:
outdf=pd.DataFrame()
outdf.head()

Empty DataFrame
Columns: []
Index: []

In [3]:
outdf['CD4']=BL22df['NaiveCD4']+BL22df['Tregs']+BL22df['em4']+BL22df['cm4']


outdf['CD8']=BL22df['NaiveCD8']+BL22df['em8']+BL22df['cm8']

if 'CD8TIL' in BL22df.columns:
    outdf['CD8']=outdf['CD8']+BL22df['CD8TIL']

outdf['Bcell']=BL22df['nB']+BL22df['mB']
if 'PC' in BL22df.columns:
    outdf['Bcell']= outdf['Bcell']+outdf['PC']

outdf['Mono']=BL22df['Mono']
outdf['NK']=BL22df['NK']

outdf.head()

                                CD4        CD8     Bcell       Mono        NK
Mixture
TWCY-1313-1313-BULK-PBMC  43.472805  30.812856  6.285117   7.142646  3.472174
TWCY-1382-1382-BULK-PBMC  33.169719  24.017825  8.512230  14.628320  4.917098
TWCY-1389-1389-BULK-PBMC  36.746189  28.639551  6.403448   8.350301  6.943033
mel-123-P-Bulk            43.584692  29.963423  5.332058   5.717266  4.955703
mel-159-P-Bulk            47.998122  28.467960  7.469074   5.200870  3.012782

In [9]:
outdf_normalized= (outdf.div(outdf.sum(axis=1), axis=0))*100
outdf_normalized['total']=outdf_normalized.sum(axis=1)
outdf_normalized.head()

,CD4,CD8,Bcell,Mono,NK,total
Mixture,,,,,,
TWCY-1313-1313-BULK-PBMC,47.675078,33.791363,6.892664,7.833086,3.807810,100.0
TWCY-1382-1382-BULK-PBMC,38.910956,28.174991,9.985583,17.160288,5.768182,100.0
TWCY-1389-1389-BULK-PBMC,42.196974,32.887829,7.353310,9.588952,7.972935,100.0
mel-123-P-Bulk,48.669082,33.458818,5.954071,6.384216,5.533813,100.0
mel-159-P-Bulk,52.087621,30.893465,8.105448,5.643991,3.269475,100.0

In [12]:
outdf_nomono=outdf.drop(['Mono'],axis=1)
outdf_nomono.head()

                                CD4        CD8     Bcell        NK
Mixture
TWCY-1313-1313-BULK-PBMC  43.472805  30.812856  6.285117  3.472174
TWCY-1382-1382-BULK-PBMC  33.169719  24.017825  8.512230  4.917098
TWCY-1389-1389-BULK-PBMC  36.746189  28.639551  6.403448  6.943033
mel-123-P-Bulk            43.584692  29.963423  5.332058  4.955703
mel-159-P-Bulk            47.998122  28.467960  7.469074  3.012782

In [14]:
outdf_nomono_normalized=(outdf_nomono.div(outdf_nomono.sum(axis=1), axis=0))*100
outdf_nomono_normalized['total']=outdf_nomono_normalized.sum(axis=1)
outdf_nomono_normalized.head()

                                CD4        CD8      Bcell        NK  total
Mixture
TWCY-1313-1313-BULK-PBMC  51.726889  36.663224   7.478458  4.131428  100.0
TWCY-1382-1382-BULK-PBMC  46.971380  34.011455  12.054102  6.963064  100.0
TWCY-1389-1389-BULK-PBMC  46.672364  36.375896   8.133199  8.818541  100.0
mel-123-P-Bulk            51.988116  35.740573   6.360115  5.911197  100.0
mel-159-P-Bulk            55.203290  32.741386   8.590283  3.465041  100.0