In [1]:
import pandas as pd
from collections import defaultdict


posscorefile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/pipe_maxpossiblescore_idea/oldsmset2_toy_somesamples_globalout_binnedstats.pkl_onlydup_softRC/BL22_TILAUC1_dummyfull.txt_result_dupindex_binnedstats.pkl_maxscore_CSxOut.txt'

outfile=posscorefile+"_proportion.txt"

smfile='/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/pipe_maxpossiblescore_idea/oldsmset2_toy/BL22_TILAUC1_dummy_partialCauseBL22impute.txt'

posscoredf=pd.read_csv(posscorefile,sep="\t",index_col='Mixture')



smdf=pd.read_csv(smfile,sep="\t",index_col=['chrom','start'])
smdf.head()

                cm4-others  em4-others  Tcell-others
chrom start
chr12 24839288         0.1   -0.599212           0.1
      24839321         0.1   -0.563052           0.1
      24839327         0.1   -0.617624           0.1
      24839335         0.1   -0.583388           0.1
      24839342         0.1   -0.594756           0.1

In [2]:
smdf['mincolname']=smdf.idxmin(axis=1)
smdf.head()

                cm4-others  em4-others  Tcell-others  mincolname
chrom start
chr12 24839288         0.1   -0.599212           0.1  em4-others
      24839321         0.1   -0.563052           0.1  em4-others
      24839327         0.1   -0.617624           0.1  em4-others
      24839335         0.1   -0.583388           0.1  em4-others
      24839342         0.1   -0.594756           0.1  em4-others

In [3]:
grouped=smdf.groupby('mincolname')
outlist=defaultdict(list)
for name, group in grouped:
    tempct=name.replace('-others','')
    outlist[tempct].append(group.shape[0])

In [4]:
outdf=pd.DataFrame.from_dict(outlist,orient='index',columns=['#CpG'])
outdf.index.name='Celltype'
ct_cpgdf=outdf.copy()
ct_cpgdf.reset_index(inplace=True)
ct_cpgdf.head()

  Celltype  #CpG
0      em4     7

In [5]:
posscoredf.head()

                              cm4        em4  Tcell
Mixture
tot-66-cfDNA_binnedstats.pkl    0   2.540391      0
tot-67-cfDNA_binnedstats.pkl    0   2.904089      0
tot-72-cfDNA_binnedstats.pkl    0  11.632723      0

In [6]:
allct=ct_cpgdf['Celltype'].tolist()
len(allct)

1

In [7]:
for ct in allct:
    posscoredf[ct]=posscoredf[ct]/int(ct_cpgdf.loc[ct_cpgdf['Celltype']==ct,'#CpG'])

In [8]:
posscoredf.head()

                              cm4       em4  Tcell
Mixture
tot-66-cfDNA_binnedstats.pkl    0  0.362913      0
tot-67-cfDNA_binnedstats.pkl    0  0.414870      0
tot-72-cfDNA_binnedstats.pkl    0  1.661818      0

In [9]:
sumofnormalizedctscore=posscoredf[allct].sum(axis=1)

In [10]:
for ct in allct:
    posscoredf[ct]=posscoredf[ct]/sumofnormalizedctscore*100

In [11]:
posscoredf.head()

                              cm4    em4  Tcell
Mixture
tot-66-cfDNA_binnedstats.pkl    0  100.0      0
tot-67-cfDNA_binnedstats.pkl    0  100.0      0
tot-72-cfDNA_binnedstats.pkl    0  100.0      0

In [12]:
posscoredf.to_csv(outfile,sep='\t')