In [1]:
import pandas as pd 
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/BL22/moreSM/Thebestref/heatmaps/deltaheat/linked_nonlinked/BL22_TRAININGbestref_sorted'

outfile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/BL22/moreSM/Thebestref/heatmaps/deltaheat/linked_nonlinked/BL22trainingbestrefallct_seperated'

indf=pd.read_csv(infile,sep='\t')

indf.head()

,chrom,start,end,Naive CD4 T,Naive CD8 T,Naive B,NK,PC,Mono,Mac (M0),...,CD8 TEM,Eosinophil,Tregs,CD4 TEM,CD8 TEMRA,Megakaryocyte,CD4 TCM,Erythrocyte,Memory B,mincolname
0,chr1,1219465,1219467,0.173294,0.145008,0.189008,0.161770,0.180976,0.181325,0.201230,...,-0.159675,0.166135,-0.513770,-0.752627,-0.230389,0.201230,-0.543103,0.125278,0.170325,em4
1,chr1,1219469,1219471,0.196016,0.134905,0.220460,0.160746,0.082175,0.223952,0.211032,...,-0.249921,0.234079,-0.485635,-0.786302,-0.407063,0.220984,-0.573111,0.210508,0.102603,em4
2,chr1,1219472,1219474,0.190508,0.148254,0.211460,0.167111,0.050127,0.191905,0.198889,...,-0.141587,0.211460,-0.493587,-0.763349,-0.280921,0.185794,-0.571111,0.165889,0.131317,em4
3,chr1,1219475,1219477,0.208206,0.153032,0.215889,0.186206,0.208206,0.224619,0.214841,...,-0.260254,0.156175,-0.454063,-0.798206,-0.391730,0.217460,-0.560397,0.155651,0.138889,em4
4,chr1,1219645,1219647,0.177222,0.144397,0.183159,0.154175,0.107730,0.210397,0.159063,...,-0.280762,0.197476,-0.496571,-0.745381,-0.225762,0.183333,-0.551048,0.205857,0.135143,em4

In [2]:
indfshorter=indf[['chrom','start','end','mincolname']]
indfshorter.head()

  chrom    start      end mincolname
0  chr1  1219465  1219467        em4
1  chr1  1219469  1219471        em4
2  chr1  1219472  1219474        em4
3  chr1  1219475  1219477        em4
4  chr1  1219645  1219647        em4

In [3]:
grouped=indfshorter.groupby('mincolname')

for name, group in grouped:
    #print(name)
    datatosave=group[['chrom','start','end']]
    datatosave.to_csv(outfile+"/"+name,sep='\t',index=False)