In [1]:
import pandas as pd

In [2]:
mastermat="/Users/irffanalahi/Research/Research_code/MHB_per_read/readbasedDecon2_v2/data/thorough_checking/try1/corres_pos_cgr1-1222701_nodup_sorted.bam_rd2out_howsm_single_mode_pp_readCpG.txt_mastertable.txt"
outname=mastermat+"_binarized.txt"


mmdf=pd.read_csv(mastermat,sep="\t",index_col=0)

mmdf.head()

,A00580:76:HFLG2DSXX:3:1655:9670:13980,A00580:76:HFLG2DSXX:3:2328:26006:36793,A00580:76:HFLG2DSXX:4:2312:22345:11381,A00580:76:HFLG2DSXX:3:1227:19849:32142
celltype,,,,
'CD8',[],[],[],[]
'CD14',['chr1:1222700'],[],[],[]
'CD56',[],[],[],['chr1:1222781']
'CD4',[],[],[],[]

In [3]:
outdf=mmdf.copy()

for key, value in mmdf.iteritems(): 
    colval=mmdf[key]
    #print(colval)
    
    #print(max(colval,key=len))
    assignedcelltype=(colval[colval==max(colval,key=len)].index.values).tolist()
    outdf[key]=0
    #print(assignedcelltype)
    if len(assignedcelltype)==1:
        outdf.at[assignedcelltype[0],key]=1
    
    #print(mmdf)
    #print(outdf)
    
    
    
    
outdf.to_csv(outname,sep='\t')

In [4]:
outdfrawcount=(pd.DataFrame(outdf.sum(axis=1))).transpose()
outdfrawcount.to_csv(outname+"_rawcount.txt",sep='\t',index=False)
print("done")

done