In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SM/ShowcaseSM/BL17_14/BL14debug/BL14q.5addedcol_CD4/BL14_all_matrixCin_nr0.4_imputed_g1_CD4_3_g2_others_33.txt'
qcut=0.00001
indf=pd.read_csv(infile,sep="\t")
indf.head()

,chrom,start,end,q,diff,#cpg,p(MWU),p(2dks),CD4,others,...,CD4-m8,CD4-DC,CD4-Eo,CD4-Tr,CD4-m4,CD4-Mg,CD4-Er,CD4-mB,maxCompartmentwisedelta,minCompartmentwiseDelta
0,chr1,127750,127909,0.063076,0.118000,3,0.002640,0.006134,0.96611,0.84811,...,0.30611,0.042277,0.063943,0.22961,0.282777,0.080443,0.13661,0.256999,0.306110,0.031110
1,chr1,129556,129632,0.225890,-0.125220,2,0.043690,0.052380,0.77725,0.90247,...,-0.11025,-0.120917,-0.191500,-0.09600,-0.070000,-0.181000,0.01400,-0.011750,0.014000,-0.200583
2,chr1,181927,181954,0.060602,0.104955,2,0.012209,0.005686,0.97217,0.86721,...,0.10017,0.057003,0.127170,0.07717,0.044420,0.003420,0.02217,0.362420,0.362420,0.003420
3,chr1,184022,184048,0.112810,0.325106,2,0.006331,0.016894,0.73117,0.40606,...,0.00892,0.608837,0.565670,0.05892,0.073920,0.350420,0.26367,0.185503,0.655170,0.008920
4,chr1,185549,185607,0.193990,0.118061,2,0.087000,0.041271,0.90000,0.78194,...,0.16625,0.059167,0.206000,-0.00275,0.171500,0.080500,0.01675,0.168000,0.322667,-0.009833

In [3]:
qcutdf=indf[indf['q']<=qcut]
qcutdf.head()

,chrom,start,end,q,diff,#cpg,p(MWU),p(2dks),CD4,others,...,CD4-m8,CD4-DC,CD4-Eo,CD4-Tr,CD4-m4,CD4-Mg,CD4-Er,CD4-mB,maxCompartmentwisedelta,minCompartmentwiseDelta
12,chr1,605447,605518,2.080900e-06,-0.181833,12,5.058200e-13,8.997500e-10,0.11381,0.29564,...,-0.177107,-0.151662,-0.159732,-0.063315,-0.103732,-0.202982,-0.145482,-0.231357,-0.063315,-0.327968
161,chr1,1140857,1141106,3.082300e-06,0.190184,14,5.973000e-14,1.449200e-09,0.91179,0.72160,...,0.086361,0.331052,0.331683,0.073290,0.083719,0.191254,0.125826,0.147635,0.331683,0.073290
162,chr1,1141717,1141826,3.229400e-06,0.148505,9,4.442000e-11,1.539500e-09,0.97241,0.82390,...,0.140188,0.102669,0.096854,0.065243,0.070021,0.103577,0.041910,0.666632,0.666632,0.030188
189,chr1,1168942,1170058,7.304900e-07,0.106339,45,4.296600e-14,2.492300e-10,0.94027,0.83393,...,0.115326,0.028040,0.024737,0.087737,0.122926,0.031003,0.090692,0.545118,0.545118,0.004107
239,chr1,1237805,1238243,2.804200e-07,0.229793,30,4.485300e-14,7.922900e-11,0.72266,0.49286,...,0.167193,0.249393,0.203393,0.218277,0.252743,0.079910,0.162643,0.646166,0.646166,0.079910