In [1]:
import pandas as pd
fone="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/fragmentbasedfiltering/corefromserver/combined/sanity/PBLtilMel_meldiff-.7_other-.1_q0.00001_sorted4_1_singleCpG_final_assignedref.txt_uniq.txt_result_nocov_mincpg4_posCount.txt_CSxOut.txt"
divisor="/Users/irffanalahi/Research/weekly/for_3_10_21/fragment_analysis/fragmentbasedfiltering/corefromserver/combined/sanity/PBLtilMel_meldiff-.7_other-.1_q0.00001_sorted4_1_singleCpG_final_assignedref.txt_uniq.txt_result_nocov_mincpg4_allCount.txt_CSxOut.txt"

dfone=pd.read_csv(fone,sep="\t",index_col=0)
divisordf=pd.read_csv(divisor,sep="\t",index_col=0)

dfone.head()

                               MEL_TUMOR  PBL  TIL
Mixture
med-H1-cfDNA.bg                        3   95    5
med-H3-cfDNA.bg                        0  104    2
med-H4-cfDNA.bg                        5  121    3
med-H2-cfDNA.bg                        6  121    8
tot-YUVIRTUE_20-4029-cfDNA.bg         10  168   16

In [2]:
divisordf.head()

                  MEL_TUMOR  PBL  TIL
Mixture
med-H4-cfDNA.bg         128  162  299
med-H2-cfDNA.bg          95  158  223
med-H3-cfDNA.bg           0  135  224
med-H1-cfDNA.bg         102  124  203
tot-PH4-cfDNA.bg        277  429  588

In [3]:
divisionresult=dfone.div(divisordf)
divisionresult.head()

                 MEL_TUMOR       PBL       TIL
Mixture
Y-3674-cfDNA.bg        NaN  0.719298       NaN
Y-3685-cfDNA.bg   0.021739  0.757143  0.038760
Y-3688-cfDNA.bg   0.175000  0.513158  0.021739
Y-3694-cfDNA.bg   0.013699  0.696970  0.053030
Y-3703-cfDNA.bg   0.093023  0.492754  0.055556

In [4]:
outdf=divisionresult.fillna(0)
outdf.head()

                 MEL_TUMOR       PBL       TIL
Mixture
Y-3674-cfDNA.bg   0.000000  0.719298  0.000000
Y-3685-cfDNA.bg   0.021739  0.757143  0.038760
Y-3688-cfDNA.bg   0.175000  0.513158  0.021739
Y-3694-cfDNA.bg   0.013699  0.696970  0.053030
Y-3703-cfDNA.bg   0.093023  0.492754  0.055556

In [ ]:
outdf.to_csv(fone+"_ABSresul.txt",sep="\t")