In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [12, 23], 'B': [['a', 'b'], ['c', 'd']],'C':[[],[]]})
df

    A       B   C
0  12  [a, b]  []
1  23  [c, d]  []

In [3]:
df.to_csv('df.txt',sep="\t")

In [4]:
df.to_pickle('df.pkl')

In [5]:
dftxt=pd.read_csv('df.txt',sep="\t")
dftxt

   Unnamed: 0   A           B   C
0           0  12  ['a', 'b']  []
1           1  23  ['c', 'd']  []

In [6]:
type(dftxt['C'][0])

str

In [9]:
dftxt['C'][0]

'[]'

In [7]:
dfpickle=pd.read_pickle('df.pkl')
dfpickle

    A       B   C
0  12  [a, b]  []
1  23  [c, d]  []

In [8]:
type(dfpickle['C'][0])

list