In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/Majorlineage/Genomic_feature/BLU_inflection/Bcell_CpGdelta_info_faster.txt_5000_forheatunderlyingdata_ranked.txt_pos.txt__row_combined.txt'
outfile=infile+"_nondup.txt"


indf=pd.read_csv(infile,sep='\t')

indf.head()

,chrom,start,end,3,4,5,Gene/Repeat type,Region
0,chr4,39632731,39632733,chr4,39632511,39632775,AluJb,repeat
1,chr16,11966064,11966066,chr16,11965824,11966139,AluSx,repeat
2,chr11,2393735,2393737,chr11,2393724,2393792,G-rich,repeat
3,chr3,18213977,18213979,chr3,18213787,18214097,AluSx1,repeat
4,chr16,50194810,50194812,chr16,50194744,50195048,AluY,repeat

In [2]:
outdf=indf.drop(['3','4','5'],axis=1)
outdf.head()

   chrom     start       end Gene/Repeat type  Region
0   chr4  39632731  39632733            AluJb  repeat
1  chr16  11966064  11966066            AluSx  repeat
2  chr11   2393735   2393737           G-rich  repeat
3   chr3  18213977  18213979           AluSx1  repeat
4  chr16  50194810  50194812             AluY  repeat

In [3]:
outdf.shape

(3799, 5)

In [4]:
outdf.drop_duplicates(inplace=True)

In [5]:
outdf.shape

(496, 5)

In [6]:
outdf.to_csv(outfile,sep='\t',index=False)