In [1]:
import pandas as pd
largefile="/Users/irffanalahi/Research/Research_update/GENE/fromsever/genomic_feature_withrepeat/All_Gene_Info.txt_prom1000_sorted"
genelist=['CD3D','CD3E','CD3G','CD4','CD8A','CD8B','CD19','CD27','CD14','FCGR3A','FCGR3B','GP1BA','FCGR1A','FCGR1B','FCGR1CP','PTPRC','CEACAM8']
outfile="/Users/irffanalahi/Research/Research_update/GENE/Blueprint_marker/BL_markerpromready.txt"

largedf=pd.read_csv(largefile,sep="\t",header=None)
largedf.head()

      0      1      2            3
0  chr1  10873  11873      DDX11L1
1  chr1  17436  18436    MIR6859-1
2  chr1  28925  29925  MIR1302-2HG
3  chr1  29365  30365    MIR1302-2
4  chr1  29370  30370       WASH7P

In [2]:
outdf=(largedf[largedf[3].isin(genelist)]).copy()
mask = outdf[3].duplicated(keep=False)
outdf.loc[mask, 3]=outdf.loc[mask, 3]+"_irf"

outdf.loc[mask, 3] += outdf.groupby(3).cumcount().add(1).astype(str)
outdf.to_csv(outfile,sep="\t",header=False, index=False)