In [1]:
import numpy as np
import pandas as pd
import random as ran
import os

In [2]:
file_cn = 'Data/BL14_PhenoClass_forNoNutest.txt'

transpose = True
header = None
index_col= 0

mix_num = 10

outfile = file_cn+'_cell_files_random.txt'

In [3]:
data_cn = pd.read_csv(file_cn, sep='\t', index_col=index_col, header=header)

df_cn = pd.DataFrame(data_cn)

if transpose:
    df_cn = df_cn.T

df_cn.columns

Index(['CD4', 'CD8', 'nB', 'NK', 'Mn', 'm8', 'DC', 'Eo', 'Tr', 'm4', 'Mg',
       'Er', 'mB'],
      dtype='object', name=0)

In [4]:
def generate_list(cell_list):
    length = len(cell_list)
    vals = np.zeros(length)
    r = [ran.random() for i in range(length)]
    s = sum(r)
    r = [ (i/s) * 100 for i in r ]
    return r

In [5]:
# os.mkdir(outfol)

# for cell in list(df_cn.columns):
df_out = pd.DataFrame(columns = list(df_cn.columns))
for j in range(mix_num):
    arr = generate_list(list(df_cn.columns))
    while 0.0 in arr:
        arr = generate_list(list(df_cn.columns))
    print(np.sum(arr))
    df_out.loc[len(df_out.index)] = arr
display(df_out)
df_out.to_csv(outfile, sep='\t', index=False)

100.0
100.0
100.00000000000001
99.99999999999999
100.00000000000001
100.0
100.00000000000001
100.0
100.0
100.0

,CD4,CD8,nB,NK,Mn,m8,DC,Eo,Tr,m4,Mg,Er,mB
0,4.264700,1.746080,14.990350,10.480551,10.241735,6.842556,7.037240,10.632888,7.694238,6.678650,10.570735,0.524255,8.296024
1,6.454633,1.401496,4.276198,5.273972,7.931740,11.371808,4.707425,7.955375,16.175396,6.598290,12.135202,0.413126,15.305340
2,1.364407,9.294940,0.564502,0.133480,8.043960,13.059423,4.438264,16.764789,6.554517,7.948213,8.949371,10.523323,12.360811
3,2.810188,9.725650,3.679810,11.520622,3.573892,7.124090,2.960838,12.239770,8.617190,11.318499,5.806074,11.891056,8.732321
4,11.156153,1.321053,6.978331,8.483571,3.075529,3.661416,13.500684,2.432992,14.738445,4.048232,9.153356,8.086420,13.363818
5,11.821362,0.947424,11.012119,8.546507,11.907057,10.905260,10.420235,5.626032,7.638070,4.754800,7.700749,0.969033,7.751352
6,0.467816,13.966245,2.636205,17.511513,5.723168,0.986999,5.008368,14.649230,12.860349,0.338472,11.602085,10.488580,3.760969
7,2.571074,8.397187,14.080899,6.626472,3.817999,1.198518,7.467315,2.249487,11.875805,5.398370,8.842118,13.576029,13.898727
8,11.174193,7.913855,1.802039,12.555172,13.493326,13.935100,10.438476,9.266675,3.796998,7.789430,2.277045,1.883721,3.673970
9,6.272286,11.052838,1.654715,4.724659,13.800391,5.180796,9.847755,6.895047,6.520160,9.570343,7.928214,1.440482,15.112314