In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_10_1_20/SM/poormanMHB/cd4cd8/processthelonglist/CD4CD8poormanMHB_hypo.txt"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                 CD14  CD19  CD4CD8  CD56
NAME
chr5:133468858  101.0   1.0     1.0   1.0
chr3:12354871    91.9   1.0     1.0   1.0
chr3:43695596   101.0   1.0     1.0   1.0
chr18:58730616   89.2   1.0     1.0   1.0
chr2:101180118  101.0   1.0     1.0   1.0

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

               celltype
NAME
chr5:133468858   [CD14]
chr3:12354871    [CD14]
chr3:43695596    [CD14]
chr18:58730616   [CD14]
chr2:101180118   [CD14]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                 CD14  CD19  CD4CD8  CD56 celltype
NAME
chr5:133468858  101.0   1.0     1.0   1.0   [CD14]
chr3:12354871    91.9   1.0     1.0   1.0   [CD14]
chr3:43695596   101.0   1.0     1.0   1.0   [CD14]
chr18:58730616   89.2   1.0     1.0   1.0   [CD14]
chr2:101180118  101.0   1.0     1.0   1.0   [CD14]