In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_10_1_20/SM/run/test/q25d1.txt_inverted_head.txt_SM/SigMatrix"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

              PBL    TIL  EPCAM
NAME
chr1:778696  83.0  101.0  101.0
chr1:778680  85.4  101.0  101.0
chr1:778691  83.9  101.0  101.0
chr1:631742   9.7   21.0   72.0
chr1:631787  25.9   30.0   85.9

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [6]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

                 celltype
NAME
chr1:778696  [TIL, EPCAM]
chr1:778680  [TIL, EPCAM]
chr1:778691  [TIL, EPCAM]
chr1:631742       [EPCAM]
chr1:631787       [EPCAM]

In [7]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

              PBL    TIL  EPCAM      celltype
NAME
chr1:778696  83.0  101.0  101.0  [TIL, EPCAM]
chr1:778680  85.4  101.0  101.0  [TIL, EPCAM]
chr1:778691  83.9  101.0  101.0  [TIL, EPCAM]
chr1:631742   9.7   21.0   72.0       [EPCAM]
chr1:631787  25.9   30.0   85.9       [EPCAM]