In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_10_21_20/WithNeu/createpoormanmhblonglist/NeuPBLpoormanHypo"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                 CD14  CD19  CD4  CD8  CD56  Neu
NAME
chr15:52052103  101.0   1.0  1.0  1.0   1.0  1.0
chr3:122060547  101.0   6.7  1.0  1.0   1.0  1.0
chr16:79097509  101.0   1.0  1.0  1.0   1.0  1.0
chr1:159431114   84.3   1.0  1.0  1.0   1.0  1.0
chr12:48336373  101.0   1.0  1.0  1.0   1.0  1.0

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

               celltype
NAME
chr15:52052103   [CD14]
chr3:122060547   [CD14]
chr16:79097509   [CD14]
chr1:159431114   [CD14]
chr12:48336373   [CD14]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                 CD14  CD19  CD4  CD8  CD56  Neu celltype
NAME
chr15:52052103  101.0   1.0  1.0  1.0   1.0  1.0   [CD14]
chr3:122060547  101.0   6.7  1.0  1.0   1.0  1.0   [CD14]
chr16:79097509  101.0   1.0  1.0  1.0   1.0  1.0   [CD14]
chr1:159431114   84.3   1.0  1.0  1.0   1.0  1.0   [CD14]
chr12:48336373  101.0   1.0  1.0  1.0   1.0  1.0   [CD14]