In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_10_15_20/singleton/bluallpblhypo_stat.txt_0.01_2_g50.txt"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                 CD14  CD19  CD4  CD8  CD56
position
chr12:68530075    1.0   1.0  1.0  1.0  95.4
chr13:114070979   1.0   1.0  1.0  1.0  91.9
chr18:49815077    1.0   1.0  1.0  1.0  85.6
chr2:202366912    1.0   1.0  1.0  6.7  97.6
chr3:172655561    1.0   1.0  1.0  1.0  96.2

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

                celltype
position
chr12:68530075    [CD56]
chr13:114070979   [CD56]
chr18:49815077    [CD56]
chr2:202366912    [CD56]
chr3:172655561    [CD56]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                 CD14  CD19  CD4  CD8  CD56 celltype
position
chr12:68530075    1.0   1.0  1.0  1.0  95.4   [CD56]
chr13:114070979   1.0   1.0  1.0  1.0  91.9   [CD56]
chr18:49815077    1.0   1.0  1.0  1.0  85.6   [CD56]
chr2:202366912    1.0   1.0  1.0  6.7  97.6   [CD56]
chr3:172655561    1.0   1.0  1.0  1.0  96.2   [CD56]