In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_1_21_21/smwithna/genomicfeature2/promdataready_all_matrixCinScaled_inverted_nr0.5_hypo_stat.txt_0.1_0.5_g50.txt"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                PBL  TIL  MEL_TUMOR
position
chrX:92459728   1.0  1.0      101.0
chr9:125012942  1.0  1.0      101.0
chr3:42922140   1.0  1.0      101.0
chr5:137538755  1.0  1.0      101.0
chr3:77164551   1.0  1.0      101.0

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

                   celltype
position
chrX:92459728   [MEL_TUMOR]
chr9:125012942  [MEL_TUMOR]
chr3:42922140   [MEL_TUMOR]
chr5:137538755  [MEL_TUMOR]
chr3:77164551   [MEL_TUMOR]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                PBL  TIL  MEL_TUMOR     celltype
position
chrX:92459728   1.0  1.0      101.0  [MEL_TUMOR]
chr9:125012942  1.0  1.0      101.0  [MEL_TUMOR]
chr3:42922140   1.0  1.0      101.0  [MEL_TUMOR]
chr5:137538755  1.0  1.0      101.0  [MEL_TUMOR]
chr3:77164551   1.0  1.0      101.0  [MEL_TUMOR]