In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_29_10_20/withNeuEP/processSM/longlist/BluNeuEP_poormanHypo"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                 CD14  CD19   CD4  CD8  CD56  Neu  EPCAM
NAME
chr12:48336373  101.0   1.0  1.00  1.0   1.0  1.0    1.0
chr12:923785     95.1   1.0  1.00  6.9   1.0  3.8    1.0
chr1:165671636  101.0   1.0  7.25  1.0   1.0  1.0    1.0
chr11:620902     92.7   1.0  1.00  1.0   1.0  5.8    1.0
chr18:48785972  101.0   1.0  1.00  1.0   5.0  5.5    1.0

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

               celltype
NAME
chr12:48336373   [CD14]
chr12:923785     [CD14]
chr1:165671636   [CD14]
chr11:620902     [CD14]
chr18:48785972   [CD14]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                 CD14  CD19   CD4  CD8  CD56  Neu  EPCAM celltype
NAME
chr12:48336373  101.0   1.0  1.00  1.0   1.0  1.0    1.0   [CD14]
chr12:923785     95.1   1.0  1.00  6.9   1.0  3.8    1.0   [CD14]
chr1:165671636  101.0   1.0  7.25  1.0   1.0  1.0    1.0   [CD14]
chr11:620902     92.7   1.0  1.00  1.0   1.0  5.8    1.0   [CD14]
chr18:48785972  101.0   1.0  1.00  1.0   5.0  5.5    1.0   [CD14]