In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_10_21_20/WithNeu/generatestatsm/singlethread/downstream/PIVOTALsm/blwithneu_hypo_stat.txt_0.01_2_g150.txt"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                CD14  CD19  CD4  CD8  CD56    Neu
position
chr19:40733203   1.0   1.0  1.0  1.0   1.0  101.0
chr15:99350060   1.0   1.0  1.0  1.0   1.0  101.0
chr1:38844168    3.5   1.0  1.0  1.0   1.0   97.8
chr6:30329749    1.0   1.0  1.0  1.0   1.0   91.0
chr12:71773322   3.7   1.0  1.0  1.0   1.0  101.0

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

               celltype
position
chr19:40733203    [Neu]
chr15:99350060    [Neu]
chr1:38844168     [Neu]
chr6:30329749     [Neu]
chr12:71773322    [Neu]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                CD14  CD19  CD4  CD8  CD56    Neu celltype
position
chr19:40733203   1.0   1.0  1.0  1.0   1.0  101.0    [Neu]
chr15:99350060   1.0   1.0  1.0  1.0   1.0  101.0    [Neu]
chr1:38844168    3.5   1.0  1.0  1.0   1.0   97.8    [Neu]
chr6:30329749    1.0   1.0  1.0  1.0   1.0   91.0    [Neu]
chr12:71773322   3.7   1.0  1.0  1.0   1.0  101.0    [Neu]