In [1]:
import pandas as pd
import numpy as np
import itertools as IT
import operator

In [2]:
SM="/Users/irffanalahi/Research/weekly/for_12_31_20/sm_gene_analysis/melanoma-Tumor-PBMC-WGBS_bg_rolled_all_matrix_NO_NA_mat_Ciberin_scaled_inverted_hypo_stat.txt_0.01_2_g300.txt"  #"/Users/irffanalahi/Research/Research_code/MONOD2/CiberintoMHB/blumhb50SM.txt" ###must be the SM
outname=SM+"_assigned.txt"
SMdf=pd.read_csv(SM,index_col=0,sep="\t")

In [3]:
SMdf.head()

                CD14P  CD14T  CD4P  CD4T  CD8P  CD8T  melTumor
position
chr10:26567006    1.0    1.0   1.0   1.0   1.0   1.0     101.0
chr18:38078713    1.0    1.0   1.0   1.0   1.0   1.0     101.0
chr16:70954373    1.0   17.7   1.0   1.0   1.0   1.0     101.0
chr18:15723022    1.0    1.0   1.0   1.0  11.0   1.0     101.0
chr16:80712452    1.0    1.0   1.0   1.0   1.0   1.0      76.3

In [4]:
rowmax = SMdf.max(axis=1)
idx = np.where(SMdf.values == rowmax[:,None])

groups = IT.groupby(zip(*idx), key=operator.itemgetter(0))

#[[SMdf.columns[j] for i, j in grp] for k, grp in groups]

In [5]:
maxValueIndexObj = [[SMdf.columns[j] for i, j in grp] for k, grp in groups]#SMdf.idxmax(axis=1)
maxValueIndexdf=pd.DataFrame({"celltype":maxValueIndexObj},index=SMdf.index)

print(maxValueIndexdf.head())
maxValueIndexdf.to_csv(outname,sep="\t")

                  celltype
position
chr10:26567006  [melTumor]
chr18:38078713  [melTumor]
chr16:70954373  [melTumor]
chr18:15723022  [melTumor]
chr16:80712452  [melTumor]

In [6]:
outdf=pd.merge(SMdf, maxValueIndexdf, left_index=True, right_index=True)
outdf.head()

                CD14P  CD14T  CD4P  CD4T  CD8P  CD8T  melTumor    celltype
position
chr10:26567006    1.0    1.0   1.0   1.0   1.0   1.0     101.0  [melTumor]
chr18:38078713    1.0    1.0   1.0   1.0   1.0   1.0     101.0  [melTumor]
chr16:70954373    1.0   17.7   1.0   1.0   1.0   1.0     101.0  [melTumor]
chr18:15723022    1.0    1.0   1.0   1.0  11.0   1.0     101.0  [melTumor]
chr16:80712452    1.0    1.0   1.0   1.0   1.0   1.0      76.3  [melTumor]