In [1]:
import pandas as pd

In [3]:
sm="/Users/irffanalahi/Research/Research_code/MHB_per_read/ReadBasedDecon2/data/corres_pos_cgr1-1222701_nodup_sorted_cpg_testSM.txt"#"data/smMHB_cd4_cd8_g50_hypo_assigned_maual_list_testing.txt_mhb"#"data/corres_pos_cgr1-1222701_nodup_sorted_cpg_testSM.txt"
sm=pd.read_csv(sm, sep="\t")

In [4]:
sm.head()

  chrom    start      end        celltype
0  chr1  1222609  1222611         ['CD4']
1  chr1  1222625  1222627  ['CD4', 'CD8']
2  chr1  1222685  1222687  ['CD4', 'CD8']
3  chr1  1222689  1222691  ['CD4', 'CD8']
4  chr1  1222700  1222702        ['CD14']

In [6]:
for index, row in sm.iterrows():
    print(type(row['celltype']))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>