In [1]:
import pandas as pd

In [2]:
sm="CD4CD8poormanMHB_hypo.txt_assigned_withsortedpos.txt_mhb_head"#"/Users/irffanalahi/Research/Research_code/MHB_per_read/ReadBasedDecon2/data/corres_pos_cgr1-1222701_nodup_sorted_cpg_testSM.txt"#"data/smMHB_cd4_cd8_g50_hypo_assigned_maual_list_testing.txt_mhb"#"data/corres_pos_cgr1-1222701_nodup_sorted_cpg_testSM.txt"
sm=pd.read_csv(sm, sep="\t")

In [3]:
sm.head()

   chrom      start        end  celltype
0   chr5  133468857  133468859  ['CD14']
1   chr3   12354870   12354872  ['CD14']
2   chr3   43695595   43695597  ['CD14']
3  chr18   58730615   58730617  ['CD14']
4   chr2  101180117  101180119  ['CD14']

In [4]:
for index, row in sm.iterrows():
    print(type(row['celltype']))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
sm.celltype

0    ['CD14']
1    ['CD14']
2    ['CD14']
3    ['CD14']
4    ['CD14']
5    ['CD14']
6    ['CD14']
7    ['CD14']
8    ['CD14']
Name: celltype, dtype: object