In [1]:
import pandas as pd
import sys

totalctfragfile='/Users/irffanalahi/Research/Research_update/SoftRD/melresponse_using_oldsm_withsoftRC/AUC1fullcohort/deconprepare/forrename2/BL22_TILAUC1_dummyfull.txt_result_dupindex_binnedstats.pkl_ctTotalFrag.txt'
deconfile='/Users/irffanalahi/Research/Research_update/SoftRD/melresponse_using_oldsm_withsoftRC/AUC1fullcohort/deconprepare/forrename2/BL22_TILAUC1_dummyfull.txt_result_dupindex_binnedstats.pkladjustedScore_minus_avg_CSxOut.txt'

totalctfragDF=pd.read_csv(totalctfragfile,sep="\t",index_col=0)

deconDF=pd.read_csv(deconfile,sep="\t",index_col=0)




totalctfragDF.head()

,NaiveCD4,NaiveCD8,nB,NK,PC,Mono,M0,M1,M2,iDC,...,Eo,Tregs,em4,ed8,Mg,cm4,Er,mB,TIL,MelTumor
Mixture,,,,,,,,,,,,,,,,,,,,,
Y-3674-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16,0
Y-3685-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,19,0
Y-3688-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
Y-3694-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15,0
Y-3703-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,16,0

In [2]:
deconDF.head()

,NaiveCD4,NaiveCD8,nB,NK,PC,Mono,M0,M1,M2,iDC,...,Eo,Tregs,em4,ed8,Mg,cm4,Er,mB,TIL,MelTumor
Mixture,,,,,,,,,,,,,,,,,,,,,
Y-3674-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.650682,0
Y-3685-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.053580,0
Y-3688-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.942812,0
Y-3694-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.264966,0
Y-3703-cfDNA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.873206,0

In [3]:

##must be same
if totalctfragDF.shape!=deconDF.shape:
    print("ERRORRR. Exitinig")
    sys.exit(1)

In [4]:
outdf=deconDF/totalctfragDF
outdf.head()

,NaiveCD4,NaiveCD8,nB,NK,PC,Mono,M0,M1,M2,iDC,...,Eo,Tregs,em4,ed8,Mg,cm4,Er,mB,TIL,MelTumor
Mixture,,,,,,,,,,,,,,,,,,,,,
Y-3674-cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040668,NaN
Y-3685-cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.055452,NaN
Y-3688-cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077712,NaN
Y-3694-cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.084331,NaN
Y-3703-cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.054575,NaN

In [5]:
outdf.to_csv(deconfile+"_divbyCTFRAGNEEDtoRENAME.txt",sep="\t")

In [6]:
print('done')

done