In [1]:
import pandas as pd
ingenefile="/Users/irffanalahi/Research/Research_update/SM/melcfdref/bestworkingref/genomic_analysis/pbltilmel_mincp2outcutoff_addedcol_genomic_feature_withrepeat_header_celltypeseperated/TIL_row_combined.txt"
outfile=ingenefile+"_prioritizedregion.txt"
priority_list=['promoter','cds','3utrexon','5utrexon','intron','repeat']#['repeat','cds','3utrexon','5utrexon','promoter','intron']#['promoter','cds','3utrexon','5utrexon','intron','repeat']

ingenedf=pd.read_csv(ingenefile,sep="\t")

ingenedf.head()

,chrom,start,end,q,TIL-others,#cpg,p(MWU),p(2dks),TIL,others,10,11,12,13,14,15,16,Gene/Repeat type,Region
0,chr1,1034254,1034587,0.016244,-0.149632,20,0.000012,0.000066,0.33591,0.48554,0.321658,0.335913,0.813317,20,chr1,1034555,1034703,AGRN,cds
1,chr1,1034254,1034587,0.016244,-0.149632,20,0.000012,0.000066,0.33591,0.48554,0.321658,0.335913,0.813317,20,chr1,1034555,1034703,AGRN,cds
2,chr1,1034254,1034587,0.016244,-0.149632,20,0.000012,0.000066,0.33591,0.48554,0.321658,0.335913,0.813317,20,chr1,1034555,1034703,AGRN,cds
3,chr1,1034254,1034587,0.016244,-0.149632,20,0.000012,0.000066,0.33591,0.48554,0.321658,0.335913,0.813317,20,chr1,1034555,1034703,AGRN,cds
4,chr1,1034254,1034587,0.016244,-0.149632,20,0.000012,0.000066,0.33591,0.48554,0.321658,0.335913,0.813317,20,chr1,1034555,1034703,AGRN,cds

In [2]:
grouped=ingenedf.groupby(['chrom','start','end'])
rowlist=[]
for name, group in grouped:
    for region in priority_list:
        tmp= group[group['Region']==region]
        if tmp.shape[0]>0:
            tmprow=(tmp.iloc[0]).copy()
            
            if (tmprow['Region']=='3utrexon') | (tmprow['Region']=='5utrexon'):
                tmprow['Region']='3/5 utrexon'
                
            rowlist.append(tmprow)  
            break

In [3]:
outdf=pd.DataFrame(rowlist)
outdf=outdf[['chrom','start','end','Region']]
duplicateRowsDF = outdf[outdf.duplicated()]
if duplicateRowsDF.shape[0]>0:
    print("duplicated rows.WHY???? FIX it before plotting")
    print(duplicateRowsDF)
outdf.to_csv(outfile,sep="\t",index=False)