In [1]:
import pandas as pd
import glob
import os

infolder='/Users/irffanalahi/Research/Research_update/chromosome_Y_analysis/Extracting_SRY_gene/fulldepth_info'

      0        1  2
0  chrY  2514756  2
1  chrY  2514757  2
2  chrY  2514758  2
3  chrY  2514759  2
4  chrY  2514760  2

In [ ]:
def listdir_nohidden(path):
    return glob.glob(os.path.join(path, '*'))

In [ ]:
allfiles=listdir_nohidden(infolder)

In [ ]:
for infile in allfiles:
    indf=pd.read_csv(infile,sep='\t',header=None)
    SRYdf=indf[(indf[0]=='chrY') & (indf[1]>2786855) & (indf[1]<2787682)]
    SRYdf[2].mean()

In [ ]:


infile='/Users/irffanalahi/Research/Research_update/chromosome_Y_analysis/Extracting_SRY_gene/YURAISE-13-2954-auto_sorted_fullinfodepth.txt'

In [2]:
#SRY=chrY:2786855-2787682

In [3]:
SRYdf.shape

(826, 3)

In [4]:
SRYdf.head()

         0        1   2
5415  chrY  2786856  15
5416  chrY  2786857  15
5417  chrY  2786858  15
5418  chrY  2786859  15
5419  chrY  2786860  14

In [5]:
SRYdf[2].mean()

16.63317191283293