In [1]:
import pandas as pd
import glob
from collections import defaultdict
import os
from statistics import mean
from statistics import median


infol='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/All/thresholdCombinations_linecount'


delta_cutoffs=[.2,.4,.6,.8]


allfiles=glob.glob(infol+"/*.txt")
len(allfiles)

22

In [2]:
def renamect(act):
    if act=='CD4':
        return 'Naive CD4 T'
    if act=='CD8':
        return 'Naive CD8 T'

    if act=='NaiveCD4':
        return 'Naive CD4 T'
    if act=='NaiveCD8':
        return 'Naive CD8 T'
    if act=='Tr':
        return 'Tregs'
    if act=='mB':
        return 'Memory B'
    if act=='nB':
        return 'Naive B'
    if act=='m4':
        return 'Memory CD4 T'
    if act=='m8':
        return 'Memory CD8 T'
    if act=='Mn':
        return 'Monocyte'


    if act=='em8':
        return 'CD8 TEM'
    if act=='cm8':
        return 'CD8 TCM'

    if act=='em4':
        return 'CD4 TEM'
    if act=='cm4':
        return 'CD4 TCM'


    if act=='ed8':
        return 'CD8 TEMRA'

    if act=='PC':
        return 'PC'

    if act=='M0':
        return 'Mac (M0)'

    if act=='M1':
        return 'Mac (M1)'

    if act=='M2':
        return 'Mac (M2)'
    if act=='Eo':
        return 'Eos'

    if act=='Mg':
        return 'MK'




    return act

In [3]:

outdictmean= defaultdict(list)
outdictmedian= defaultdict(list)
outdictSMcount=defaultdict(list)

for afile in allfiles:
    
    ctname=renamect((os.path.basename(afile)).split("_")[0])
  
    tempdf=pd.read_csv(afile,sep='\t')
  
    
    
    for dcutoff in delta_cutoffs:
        currentlinecount=(tempdf[tempdf['Average Value']>=dcutoff]['Line Count']).tolist()
        currentSMcount=len(currentlinecount)
        currentlinecountmean=mean(currentlinecount)
        currentlinecountmedian=median(currentlinecount)
        outdictmean[ctname].append(currentlinecountmean)
        outdictmedian[ctname].append(currentlinecountmedian)
        
        outdictSMcount[ctname].append(currentSMcount)

In [4]:
outdictmeanDF=pd.DataFrame.from_dict(outdictmean,orient='index',columns=delta_cutoffs)

outdictmeanDF.index.name ='celltype'
outdictmeanDF.head()

                   0.2           0.4          0.6   0.8
celltype
MK         2809.562500   1459.461538   543.287879   160
PMN       17040.300781  12194.977376  5214.454545  1510
CD4 TCM    4987.296875   2022.674208   288.939394     4
iDC         898.492188    393.389140    92.696970    24
CD4 TEM   12674.570312   4118.737557   411.136364     5

In [5]:
outdictmedianDF=pd.DataFrame.from_dict(outdictmedian,orient='index',columns=delta_cutoffs)
outdictmedianDF.index.name ='celltype'
outdictmedianDF.head()

              0.2   0.4     0.6   0.8
celltype
MK         1256.5   999   483.5   160
PMN       11805.0  8028  4111.5  1510
CD4 TCM     420.5   320    62.0     4
iDC         242.0   192    56.0    24
CD4 TEM    1098.0   706    99.0     5

In [6]:
outdictSMcountDF=pd.DataFrame.from_dict(outdictSMcount,orient='index',columns=delta_cutoffs)
outdictSMcountDF.index.name ='celltype'
outdictSMcountDF.head()

          0.2  0.4  0.6  0.8
celltype
MK        256  221   66    1
PMN       256  221   66    1
CD4 TCM   256  221   66    1
iDC       256  221   66    1
CD4 TEM   256  221   66    1

In [7]:
outdictmeanDF.to_csv(infol+"_SummaryMean.txt",sep="\t")
outdictmedianDF.to_csv(infol+"_SummaryMedian.txt",sep="\t")
outdictSMcountDF.to_csv(infol+"_SummarySMcount.txt",sep="\t")