In [1]:
import pandas as pd
from collections import defaultdict
import sys


posscorefile='CD8TIL_pbl_tum_all_matrix_allout_ranked_SM_top50_maxscore_CSxOut_withoutextrenous3.txt' #sys.argv[1] #'/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/pipe_maxpossiblescore_idea/oldsmset2_toy_somesamples_globalout_binnedstats.pkl_onlydup_softRC/BL22_TILAUC1_dummyfull.txt_result_dupindex_binnedstats.pkl_maxscore_CSxOut.txt'

outfile='m1weighted_jupyter'+posscorefile  #sys.argv[2] #posscorefile+"_proportion.txt"

smfile='CD8TIL_pbl_tum_all_matrix_allout_ranked_SM_top50_SM_unique' #sys.argv[3] #'/Users/irffanalahi/Research/Research_code/gitignorefolder/MHB_per_read/softreadcounting/pipe_maxpossiblescore_idea/oldsmset2_toy/BL22_TILAUC1_dummy_partialCauseBL22impute.txt'

posscoredf=pd.read_csv(posscorefile,sep="\t",index_col='Mixture')



smdf=pd.read_csv(smfile,sep="\t",index_col=['chrom','start'])
smdf.head()

                NaiveCD4-others  NaiveCD8-others  nB-others  NK-others  \
chrom start
chr1  6012593               0.9              0.9        0.9        0.9
      10525350              0.9              0.9        0.9        0.9
      10525356              0.9              0.9        0.9        0.9
      10525449              0.9              0.9        0.9        0.9
      13765075              0.9              0.9        0.9        0.9

                PC-others  Mono-others  M0-others  M1-others  M2-others  \
chrom start
chr1  6012593         0.9          0.9        0.9        0.9        0.9
      10525350        0.9          0.9        0.9        0.9        0.9
      10525356        0.9          0.9        0.9        0.9        0.9
      10525449        0.9          0.9        0.9        0.9        0.9
      13765075        0.9          0.9        0.9        0.9        0.9

                iDC-others  ...  em8-others  Eo-others  Tregs-others  \
chrom start                 ...
chr1  6012593          0.9  ...         0.9        0.9           0.9
      10525350         0.9  ...         0.9        0.9           0.9
      10525356         0.9  ...         0.9        0.9           0.9
      10525449         0.9  ...         0.9        0.9           0.9
      13765075         0.9  ...         0.9        0.9           0.9

                em4-others  ed8-others  Mg-others  cm4-others  Er-others  \
chrom start
chr1  6012593          0.9   -0.800627        0.9         0.9        0.9
      10525350         0.9   -0.871885        0.9         0.9        0.9
      10525356         0.9   -0.870743        0.9         0.9        0.9
      10525449         0.9   -0.873007        0.9         0.9        0.9
      13765075         0.9   -0.820474        0.9         0.9        0.9

                mB-others  CD8TIL-others
chrom start
chr1  6012593         0.9            0.9
      10525350        0.9            0.9
      10525356        0.9            0.9
      10525449        0.9            0.9
      13765075        0.9            0.9

[5 rows x 23 columns]

In [2]:
smdf['mincolname']=smdf.idxmin(axis=1)
smdf.head()

                NaiveCD4-others  NaiveCD8-others  nB-others  NK-others  \
chrom start
chr1  6012593               0.9              0.9        0.9        0.9
      10525350              0.9              0.9        0.9        0.9
      10525356              0.9              0.9        0.9        0.9
      10525449              0.9              0.9        0.9        0.9
      13765075              0.9              0.9        0.9        0.9

                PC-others  Mono-others  M0-others  M1-others  M2-others  \
chrom start
chr1  6012593         0.9          0.9        0.9        0.9        0.9
      10525350        0.9          0.9        0.9        0.9        0.9
      10525356        0.9          0.9        0.9        0.9        0.9
      10525449        0.9          0.9        0.9        0.9        0.9
      13765075        0.9          0.9        0.9        0.9        0.9

                iDC-others  ...  Eo-others  Tregs-others  em4-others  \
chrom start                 ...
chr1  6012593          0.9  ...        0.9           0.9         0.9
      10525350         0.9  ...        0.9           0.9         0.9
      10525356         0.9  ...        0.9           0.9         0.9
      10525449         0.9  ...        0.9           0.9         0.9
      13765075         0.9  ...        0.9           0.9         0.9

                ed8-others  Mg-others  cm4-others  Er-others  mB-others  \
chrom start
chr1  6012593    -0.800627        0.9         0.9        0.9        0.9
      10525350   -0.871885        0.9         0.9        0.9        0.9
      10525356   -0.870743        0.9         0.9        0.9        0.9
      10525449   -0.873007        0.9         0.9        0.9        0.9
      13765075   -0.820474        0.9         0.9        0.9        0.9

                CD8TIL-others  mincolname
chrom start
chr1  6012593             0.9  ed8-others
      10525350            0.9  ed8-others
      10525356            0.9  ed8-others
      10525449            0.9  ed8-others
      13765075            0.9  ed8-others

[5 rows x 24 columns]

In [3]:
grouped=smdf.groupby('mincolname')
outlist=defaultdict(list)
for name, group in grouped:
    tempct=name.replace('-others','')
    outlist[tempct].append(group.shape[0])
    
    outlist[tempct].append(group[name].mean())

In [4]:
outdf=pd.DataFrame.from_dict(outlist,orient='index',columns=['#CpG','delta'])
outdf.index.name='Celltype'
ct_cpgdf=outdf.copy()
ct_cpgdf.reset_index(inplace=True)

ct_cpgdf['delta']=-1*ct_cpgdf['delta']
ct_cpgdf['cpg_weightedby_delta']=ct_cpgdf['delta']*ct_cpgdf['#CpG']
ct_cpgdf

    Celltype  #CpG     delta  cpg_weightedby_delta
0     CD8TIL    47  0.771300             36.251083
1         Eo  4077  0.886128           3612.742956
2         Er   737  0.850550            626.855484
3         M0   296  0.688238            203.718575
4         M1   925  0.635867            588.176705
5         M2  1074  0.704721            756.870387
6         Mg   630  0.840882            529.755527
7       Mono  1057  0.629904            665.808992
8         NK  1109  0.872264            967.340563
9   NaiveCD4   543  0.789453            428.672735
10  NaiveCD8   382  0.753942            288.005754
11       PMN  1511  0.896313           1354.329550
12     Tregs   397  0.798985            317.197017
13       cm4   481  0.753243            362.309704
14       cm8   623  0.759055            472.891409
15       ed8  1483  0.837407           1241.874671
16       em4   884  0.748285            661.483704
17       em8   780  0.746492            582.263622
18       iDC   374  0.691401            258.584130
19        mB  1888  0.832224           1571.238947
20       mDC   457  0.692789            316.604679
21        nB  1047  0.843304            882.939421

In [5]:
posscoredf.head()

                      NK        Mono
Mixture
Y-3674-cfDNA  179.928147  262.405437
Y-3685-cfDNA  308.485643  391.070417
Y-3688-cfDNA  297.520878  376.910132
Y-3694-cfDNA  361.742849  646.551582
Y-3703-cfDNA  217.349066  268.103245

In [6]:

allct=ct_cpgdf['Celltype'].tolist()
allct=list(set(allct).intersection(set(list(posscoredf.columns))))
len(allct)

2

In [7]:
for ct in allct:
    posscoredf[ct]=posscoredf[ct]/float(ct_cpgdf.loc[ct_cpgdf['Celltype']==ct,'cpg_weightedby_delta'])

In [8]:
posscoredf.head()

                    NK      Mono
Mixture
Y-3674-cfDNA  0.186003  0.394115
Y-3685-cfDNA  0.318901  0.587361
Y-3688-cfDNA  0.307566  0.566093
Y-3694-cfDNA  0.373956  0.971077
Y-3703-cfDNA  0.224687  0.402673

In [9]:

sumofnormalizedctscore=posscoredf[allct].sum(axis=1)

In [10]:
for ct in allct:
    posscoredf[ct]=posscoredf[ct]/sumofnormalizedctscore*100

In [11]:
posscoredf.head()

                     NK       Mono
Mixture
Y-3674-cfDNA  32.062937  67.937063
Y-3685-cfDNA  35.188582  64.811418
Y-3688-cfDNA  35.204319  64.795681
Y-3694-cfDNA  27.802747  72.197253
Y-3703-cfDNA  35.814712  64.185288

In [12]:
posscoredf.to_csv(outfile,sep='\t')